---
layout : ecu
title : Business - Tobacco Exhibit
---

{% include breadcrumbs.html active="business" %}

<h2>Business</h2>

<p>
   Tobacco's rise as an important cash crop in Pitt County did not take place in a vacuum. It was affected by local business, labor, and agricultural conditions and, in turn, had a significant impact on the local economy. Several sources--business directories, reports of the Bureau (later Department) of Labor and Printing, and a promotional pamphlet describing Greenville--provide information helpful in understanding the nature of the local economy during the early twentieth century.
</p>
<br/><br/>
<table class="table">
  {% assign items = site.business | sort: 'order' %}
  {% for item in items %}
  <tr>
    <td><label>{{item.customdate}}</label></td>
    <td>
      {% if item.pid %}
        <a href="http://digital.lib.ecu.edu/{{item.pid}}">{{item.title}}</a>
      {% else %}
        <a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>
