---
layout : ecu
title : "For Further Reading"
---

{% include breadcrumbs.html active="" %}

<h2>For Further Reading</h2>
<p>
Cathey, Cornelius O. <em>Agriculture in North Carolina before the Civil War</em>. Raleigh:	State Department of Archives and History, 1966.
<br/><a href="http://catalog.lib.ecu.edu/catalog/61983">Display this record in the Library catalog</a>
</p>
<p>
Cotter, Michael, ed. <em>The Architectural Heritage of Greenville, North Carolina</em>.	Greenville: Greenville Area Preservation Association, 1988.
<br/><a href="http://catalog.lib.ecu.edu/catalog/314052">Display this record in the Library catalog</a>
</p>
<p>
King, Henry T. <em>Sketches of Pitt County: A Brief History of the County, 1704-1910</em>. Raleigh: Edwards &amp; Broughton Printing Company, 1911.
<br/><a href="http://catalog.lib.ecu.edu/catalog/618948">Display this record in the Library catalog</a>
</p>
<p>
Power, Scott, ed. <em>The Historic Architecture of Pitt County, North Carolina</em>. S.l.: Pitt County Historical Society, 1991.
<br/><a href="https://catalog.lib.ecu.edu/catalog/414450">Display this record in the Library catalog</a>
</p>
<p>
Tilley, Nannie M. <em>The Bright-Tobacco Industry, 1860-1929</em>. Chapel Hill:	University of North Carolina Press, 1948.
<br/><a href="https://catalog.lib.ecu.edu/catalog/41704">Display this record in the Library catalog</a>
</p>
