---
layout: ecu
title: Home - Pitt County Tobacco Exhibit
---

{% include breadcrumbs.html active="home" %}

<h1>Pitt County Tobacco Exhibit</h1>
<hr/>
<p>
  This exhibit documents the rise of the tobacco industry in Pitt County, North
  Carolina, around the turn of the twentieth century. Digital versions of
  published and unpublished sources dating from 1889 to 1922 show how tobacco
  growing, marketing, and processing developed in Pitt County and Greenville,
  its seat of government, and allow the user to understand this important
  phenomenon in the context of socio-economic trends. It is the hope of J.Y.
  Joyner Library that this exhibit will be useful to scholars, students at all
  levels, local historians, and family historians.
</p>

<p>
   For ease of navigation within this exhibit, the digital resources have been grouped into categories:
</p>

<div class="row categories">
   <div class="col-xs-12 col-sm-4">
     <div class="panel panel-primary">
      <div class="panel-heading"><a href="business.html">Business</a></div>
      <div class="panel-body">
        <a href="business.html"><img class="img-responsive thumbnail" src="img/business.jpg"/></a>
      </div>
    </div>
   </div>

   <div class="col-xs-12 col-sm-4">
     <div class="panel panel-primary">
      <div class="panel-heading color2"><a href="http://digital.lib.ecu.edu/census">Census</a></div>
      <div class="panel-body">
        <a href="http://digital.lib.ecu.edu/census"><img class="img-responsive thumbnail" src="img/census.jpg"/></a>
      </div>
    </div>
   </div>

   <div class="col-xs-12 col-sm-4">
     <div class="panel panel-primary">
      <div class="panel-heading color2"><a href="newspapers.html">Newspapers</a></div>
      <div class="panel-body">
        <a href="newspapers.html"><img class="img-responsive thumbnail" src="img/newspapers.jpg"/></a>
      </div>
    </div>
   </div>
 </div>
 <div class="row categories">
   <div class="col-xs-12 col-sm-4">
     <div class="panel panel-primary">
      <div class="panel-heading"><a href="records.html">Records/Photos</a></div>
      <div class="panel-body">
        <a href="records.html"><img class="img-responsive thumbnail" src="img/records.jpg"/></a>
      </div>
    </div>
   </div>

   <div class="col-xs-12 col-sm-4">
     <div class="panel panel-primary">
      <div class="panel-heading color2"><a href="warehouses.html">Warehouses</a></div>
      <div class="panel-body">
        <a href="warehouses.html"><img class="img-responsive thumbnail" src="img/warehouses.jpg"/></a>
      </div>
    </div>
   </div>
</div>
<p>
<a href="read_more.html">Read More about the Pitt County Digital Tobacco History Exhibit</a>
</p>
<p>
  <a href="read_more2.html">Read More about the Cultivation, Curing, Marketing, and Processing of Tobacco</a>
</p>
<p>
  <a href="further_reading.html">For Further Reading</a>
</p>
<div class="well">
   <p>
      You can find thousands of additional documents about the history of East Carolina University digitized
      at in our <a href="http://digital.lib.ecu.edu">Digital Collections</a>.
   </p>
</div>
