---
layout : ecu
title : Newspapers - Tobacco Exhibit
---

{% include breadcrumbs.html active="newspapers" %}

<h2>Newspapers</h2>

<p>
   The Whichard family founded the Eastern Reflector(Greenville), a weekly newspaper, in 1882. The Daily Reflector was published beginning in 1894. The editors of the Reflector, like their counterparts in other small-town newspapers of the day, actively promoted economic development. Beginning in the 1880s, they embraced tobacco as an important cash crop and later encouraged businessmen to build tobacco warehouses and processing facilities. Full-text articles, including those from the "Tobacco Department" begun in the 1890s, shed light on the origin and development of the tobacco industry in Pitt County. Advertisements graphically reveal the excitement that accompanied the growth of Greenville's tobacco market.
</p>
<br/><br/>
<table class="table">
  {% assign items = site.newspapers | sort: 'order' %}
  {% for item in items %}
  <tr>
    <td><label>{{item.customdate}}</label></td>
    <td>
      {% if item.pid %}
        <a href="http://digital.lib.ecu.edu/{{item.pid}}">{{item.title}}</a>
      {% else %}
        <a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>
