---
layout : ecu
title : "Cultivation, Curing, Marketing, and Processing of Bright-leaf Tobacco"
---

{% include breadcrumbs.html active="" %}

<h2>Cultivation, Curing, Marketing, and Processing of Bright-leaf Tobacco</h2>

<p><b>
  The following text pertaining to the cultivation, curing, marketing, and processing of bright-leaf tobacco was abstracted from Nannie M. Tilley, The Bright-Tobacco Industry, 1860-1929 (Chapel Hill: University of North Carolina Press, 1948) by Christopher Bingham, a graduate assistant in the Verona Joyner Langford North Carolina Collection.
</b></p>
<p>
  <a href="#j1">Steps in Growing and Curing Bright Tobacco</a><br/>
  <a href="#j2">Geographic Expansion of Bright Tobacco</a><br/>
  <a href="#j3"> Aspects of Bright Tobacco Culture</a><br/>
  <a href="#j4">The Switch from Warehouse to Loose-Leaf Auction Market</a><br/>
  <a href="#j5">Purchase and Speculation of Bright Leaf Tobacco</a><br/>
  <a href="#j6">Re-handling, Storage, and Exportation of Bright Tobacco</a>
</p>
<hr/>

<a name="j1"></a><b>Steps in Growing and Curing Bright Tobacco</b>
<p>
    The cultivation and curing of bright-leaf tobacco in the late nineteenth and early twentieth centuries was, and still is, an extensive and time-consuming process involving many different stages. First, the grower began a seed or plant bed in which the tobacco seeds could mature in relative protection. The site of a seed bed was chosen for the virginity and drainage of its soil. These seed beds were usually located near a stream in order to have a nearby source of water. To prepare the soil and to control weeds, the farmer burnt the soil and turned it, adding fertilizer as needed. When all was prepared, the seeds were planted, the sides of the bed enclosed with brush or wooden planks, and the whole bed covered with cloth to protect the seeds from the elements and insects. All this was to take place in February and March if the farmer followed the guidelines of the day. Before anything had been done to the seed bed, the farmer chose the eventual location and size of the fields in which the tobacco crop was to be planted. The soil of the prospective fields was chosen for its fertility and drainage; farmers usually relied on relatively grey or sandy soil, which reacted well to fertilizer. Next, the farmer created furrows across the field and added fertilizer, anything from horse manure early on to more commercialized chemicals as time went on. The grower then laid out the field in rows of mounds or ridges separated by shallow furrows. At this time, usually sometime in May, the transporting of the small tobacco plants from the seed bed to the field began. This fragile process was initially done by hand, progressing to a machine operation in most areas as the twentieth century continued. As the small plants established their root systems, the process known as cultivation or weeding began. This process involved loosening the soil and removing any threatening or unsightly weeds or grasses growing up near the tobacco plants. This process was repeated throughout the growing season to ensure the protection of the crop. As the plant matured, perhaps nine weeks after transplanting, another process known as "topping" was performed in which the flower or seed cluster at the top of the plant was cut off, thereby allowing further development of the leaves. The removal of the leaves nearest the ground was the next step, as these lesser quality leaves sapped the strength of the plant as a whole and absorbed precious nutrients needed by the better leaves farther up the plant. Next, and for the farmer the most disagreeable step of the growing process, was worming and suckering. Suckers, or shoots, quickly formed on the plant following the removal of the flower bud. These suckers took nutrients away from the leaves and had to be removed on a regular basis. Hornworms, like suckers, could destroy the choicest leaves if left alone, so they too had to be picked off by hand. Other pests, diseases, drought, and excessive rain could all destroy a tobacco crop, so the grower was often racked by uneasiness, especially during the last several weeks of the growing season. When the plants were ready for harvest, usually in September or October, the leaves showing a yellow tint and becoming covered with small brown and white specks, the grower began the task of harvesting and curing the crop for sale. A professional cutter cut the plant off at the base and quickly attached it and several other plants to a tobacco stick for transport to the curing barn. Farmers used various methods to dry or cure their tobacco, initially using charcoal fires in the barn and then switching to a flue as the twentieth century approached. The sticks with the tobacco plants on them were hung on stringers inside the barn and allowed to cure for several days, depending on the size and temperature of the flue being used. This part of the process was especially arduous as the temperature had to be kept steady and the tobacco watched for signs of damage. Finally, the cured tobacco was "stripped" before being taken to market. This procedure involved stripping the leaves from the stalk and then sorting them according to quality. At this point, the cured and stripped tobacco was ready for transport to the local market, where the resulting sale would hopefully make the whole process worthwhile for the grower and his family.
</p>
  <a name="j2"></a><b>Geographic Expansion of Bright Tobacco</b>
<p>
  Bright-leaf tobacco had its beginnings in Durham County, North Carolina and Lynchburg, Virginia following the Civil War. These early crops were made famous by the Bull Durham and Lone Jack brands of tobacco. In the late 1860s northern tobacco manufacturers turned their attention to this type of lighter tobacco, which was far superior in quality to its northern counterparts in Ohio and Kentucky. This new attention accelerated the demand for Bright Tobacco across the country and initiated a rapid expansion of its cultivation in various parts of the South, from the piedmont of Virginia and North Carolina south into the coastal plains of North Carolina, South Carolina, and Georgia. In the last three decades of the nineteenth century, farmers in western North Carolina attempted to cultivate bright tobacco but the poor soil of the region and the virtual monopoly held by growers in the piedmont and coastal plains regions doomed this effort from the start. In the coastal plains of the Carolinas and Georgia, the decline of "King Cotton" as a profitable crop in the 1880s served as a catalyst for the widespread cultivation of bright tobacco. With cotton prices routinely falling to barely six to eight cents a pound, an intolerable situation, farmers in the eastern counties of North Carolina heard of the enormous profits being made by tobacco growers in the piedmont and quickly began to experiment with bright tobacco cultivation. The growth of tobacco as the main cash crop spread from the piedmont through Warren and Nash counties and eventually took root in Wilson, Pitt, and other eastern counties by the early 1890s. Statistics help illustrate the rapid expansion of bright tobacco cultivation in the eastern piedmont and coastal plains regions of North Carolina. In 1879 these two regions produced around 300,000 pounds of tobacco; ten years later that figure had risen to nearly 2,500,000 pounds. This figure was to rise much higher in the decades to come, for in 1900 Pitt County alone produced more than 10,000,000 pounds of tobacco. Many farmers in the coastal plain viewed tobacco as a substitute for cotton; therefore, initially at least, there was not the same amount of enthusiasm for tobacco culture that had been seen in the piedmont or "Old Belt" region of North Carolina and Virginia in earlier years. Despite this fact, tobacco culture did develop in the region over the next several decades and would remain strong far into the twentieth century, becoming a way of life to many in eastern North Carolina and Pitt County in particular for generations to come.
</p>
  <a name="j3"></a><b>Scientific Aspects of Bright Tobacco Culture</b>
<p>
  The production of tobacco throughout the antebellum period required the extensive use of manure as a fertilizer. This fertilizer helped the tobacco grow more quickly and more substantially, greatly improving the farmer's profit at the end of the season. By the 1870s however, the introduction of bright tobacco, which did not react well to natural fertilizers, required the expanded use of chemical fertilizers on a large scale. Many farmers long associated with tobacco production initially had problems adapting to this new technology, while those in the coastal plain who had just recently begun cultivation proved to be easily swayed by promises of higher profits. Despite some dissension, by the turn of the century, nearly all cultivators of bright tobacco were using large amounts of chemical fertilizers on their tobacco fields. This extensive use of chemicals gave a financial boost to several producers of chemical fertilizers such as the Virginia-Carolina Chemical Company and The Southern Fertilizer Company. Such growth in the use of chemical fertilizers provided the motive for the establishment of agricultural experiment stations in North Carolina and Virginia in the late 1800s and early 1900s. These stations, managed initially by private scientific societies and later by the United States Department of Agriculture, experimented with various fertilizers, looked for which fertilizing methods created the greatest yield at the end of the season, studied the chemical analyses of the leaf, and looked into new methods for the creation of seed beds. The result of all this scientific study and application to bright tobacco production was a general increase in pounds of tobacco produced per acre in virtually all areas where the leaf was under cultivation.
</p>
  <a name="j4"></a><b>The Switch from Warehouse to Loose-Leaf Auction Market</b>
<p>
  Before the Civil War, tobacco sales in Virginia and North Carolina had mostly been handled in a warehouse system, in which the state had to inspect the tobacco, something that critics charged was unnecessary, before it was sold in hogsheads to a potential buyer, foreign or domestic. This way of doing business changed slightly with the Panic of 1837, which hit the Danville area particularly hard, and the complaints of manufacturers that state inspections meant little to them. Now, instead of waiting for the state inspectors and buyer to appear, many farmers simply hauled their crop into town and sold it on the street to the highest bidder; the auction sales system was born. Following the Civil War, and the complaints of many buyers that the tobacco they purchased on the street was of inferior quality, many tobacco farmers and manufacturers began pushing for an established auction market. This auction market would eliminate the necessity for long travel by the buyer while assuring him the opportunity to examine his purchase carefully before buying. These auctions were usually held in large specially built buildings where the sellers could display their tobacco easily. Potential buyers would wind up and down the aisles of loose-leaf tobacco, looking for just the right quality of leaf. At the auction itself, a professional auctioneer would do the selling, thereby increasing the chances of a greater profit for the farmer. Following the auction, the buyer would be responsible for transporting his newly acquired tobacco back to his warehouse or factory. Although this system began in Danville and the "Old Tobacco Belt," auction markets spread quickly with the cultivation of Bright Tobacco across the coastal plain of North Carolina and south into South Carolina and Georgia. In many of these areas, manufacturers and farmers' associations established tobacco boards of trade in order to regulate sales and encourage the development of improved transportation. The auction market method of selling bright tobacco was used throughout the twentieth century, but it is rapidly disappearing as more farmers sell their tobacco directly to manufacturers.
</p>
  <a name="j5"></a><b>Purchase and Speculation of Bright Leaf Tobacco</b>
<p>
  Within the tobacco auction market, buyers fell into two general groups: speculators and manufacturers. Speculators, which included leaf dealers, warehousemen, and pinhookers, bought the tobacco at the market with the intention of then re-selling the leaf to other buyers and manufacturers at a profit to themselves. Farmers and manufacturers alike despised these speculators because they would often try to influence the market in order to either reduce or increase the supply of tobacco, thereby increasing their own profits. For example, around the turn of the century, leaf dealers tried to get farmers in eastern North Carolina to limit their tobacco crop for one year in order to allow the speculators time to sell their current stocks at inflated prices. Although this scheme was unsuccessful, it shows the lengths to which speculators would go in search of higher profits. Manufacturers, on the other hand, bought the leaf in order to produce chewing tobacco, cigarettes, and other tobacco products. Small manufacturers would usually attend an auction market in person, while larger corporations, such as the Kinney Tobacco Company of New York, often sent agents to market in order to purchase large quantities of leaf for the company. Because of the sheer quantity of leaf purchased by manufacturers, farmers considered them their chief buyers despite the fact that speculators bought nearly one quarter of all bright tobacco produced during the early 1900s.
</p>
  <a name="j6"></a><b>Re-handling, Storage, and Exportation of Bright Tobacco</b>
<p>
  Once a buyer, whether a speculator or a manufacturer, purchased tobacco, the leaf had to be re-dried before it could be sold domestically, exported overseas, or manufactured into various tobacco products. The reason for this step was simple. Over the course of the initial curing operation, farmers invariably left a small amount of moisture in the leaf that, if left untreated, could easily turn into mold. Initially, up until the 1890s, buyers would dry their leaf naturally by simply hanging it up on sticks in their warehouses, a process that could take up to a year. By the turn of the century however, machinery began to be used in this re-drying process, making it quicker and easier. The use of steam coils, although a vast improvement over natural drying, quickly gave way to a more effective machine that subjected the tobacco to circulating hot air followed by a cooling chamber. This method allowed the tobacco to be dried and ready for storage within twenty-four hours. Operation of a re-drying facility, several of which were located in Greenville, also meant the readying of the tobacco for storage. This required the labor of literally dozens of workers, from stemmers and graders to coppers. Stemmers, usually African American women and children, were responsible for removing the stem from the leaf, a dirty and laborious job that offered little pay in return. Graders, highly skilled workers with knowledge of the worth of different grades of leaf, sorted through the dry tobacco and made the final call on what the leaf's grade would be; this would later influence the price of the tobacco. Finally, coopers were required to build the many hogsheads or barrels needed to store the tobacco. Once the tobacco was dried, stemmed, and graded, it would be packed into hogsheads either by hand or, after the 1920s, by a hydraulic tobacco press. After being stored in a dry location for a period of up to two years, the leaf was finally ready for shipment to the manufacturer or for export overseas. Although rare in the late nineteenth century, exportation of bright tobacco became more popular as the supply increased dramatically during the early twentieth century. The two largest importers of American bright-leaf tobacco in this period were Great Britain and China, which together purchased over sixty-five percent of total American tobacco exports. These processes of re-drying, storage, and exportation provided an economic boom to many areas of the South, eastern North Carolina in particular, during the early twentieth century, brought jobs and income to thousands of workers, both black and white, and left a lasting imprint upon numerous communities throughout the region.
</p>
