---
layout : ecu
title : "The Pitt County Digital Tobacco History Exhibit: An Introduction"
---

{% include breadcrumbs.html active="" %}

<h2>The Pitt County Digital Tobacco History Exhibit: An Introduction</h2>

<p>
  The importance of tobacco to Pitt County's economy, particularly during the twentieth century, makes it a natural subject for study. Tobacco was the primary cash crop grown in North Carolina during the Colonial period. Cultivation of tobacco was carried out mainly in the tier of counties bordering Virginia, but farmers in Eastern North Carolina, including what is now Pitt County, also grew the crop. Several of the inspection warehouses mandated by the Colonial government to prevent the exportation of inferior tobacco were located in Pitt County. Beginning about 1840, farmers in counties along the Virginia border began to produce "bright" tobacco, a type that grew well in sandy soil. Cured in barns, this kind of tobacco became very popular for smoking. The rise in importance of tobacco manufacturing after the Civil War, and especially the advent of cigarette production in the 1880s, created heavy demand for this crop.
</p>
<p>
  Farmers in Eastern North Carolina soon discovered that the region’s sandy soil is well suited to growing tobacco. In 1885, enterprising farmers in Pitt County planted an experimental crop. Four years later, farmers were growing tobacco on seventy acres. In 1899, the county produced 10,733,010 pounds of tobacco on 12,931 acres. As in other communities in the East, this phenomenon fostered the development of tobacco warehouses and processing plants in Greenville and Farmville. The completion to Greenville in 1890 of a branch of the Wilmington and Weldon Railroad facilitated this process. Tobacco's re-emergence in Pitt County created many new jobs, led to the construction of a variety of tobacco-related buildings, and helped spur population growth in towns. A variety of new business enterprises developed to serve growing communities. Local newspapers, including the <em>Eastern Reflector</em> and <em>Daily Reflector</em>, actively promoted these developments and reported the county's development.
</p>
<p>
  This digital exhibit provides primary and secondary sources that can be used by students at all levels, scholars, and local historians to study the development of the tobacco industry in Pitt County around the turn of the twentieth century. Sources that pertain directly to tobacco--newspaper articles and advertisements, photographs, and a variety of manuscripts--can be analyzed in the context of local socio-economic trends by using the 1900 census database, aggregate census data, labor reports, entries from business directories, and a promotional pamphlet published in 1914. Betsy Gohdes-Baten's excellent nomination to the National Register of Historic Places of the Greenville Tobacco Warehouse Historic District and a map of the area compiled in 1913 supply excellent contextual information pertaining to Greenville's development as a center of tobacco marketing and processing. Most of the components of this exhibit are among the rich resources of Joyner Library's Verona Joyner Langford North Carolina Collection and the Special Collections Department.
</p>
<p>
  Future plans call for additions to this exhibit. Joyner Library welcomes suggestions for additional primary or secondary sources that would enhance the depth and usefulness of the Pitt County Digital Tobacco History Exhibit.
</p>
