---
layout : ecu
title : Records/Photos - Tobacco Exhibit
---

{% include breadcrumbs.html active="newspapers" %}

<h2>Records/Photos</h2>

<p>
   Joyner Library's East Carolina Manuscript Collection, a component of the Manuscripts and Rare Books Department, includes a number of manuscript collections and photographs that reflect the history of tobacco in Greenville and Pitt County. Included here are letters, payroll records, photographs and other primary sources from several collections. Call numbers of these collections are provided. More detailed information about these collections can be obtained from staff members of the Manuscripts and Rare Books Department. Additional images, taken from publications in the North Carolina Collection, are included in this group.
</p>
<br/><br/>
<table class="table">
  {% assign items = site.records | sort: 'order' %}
  {% for item in items %}
  <tr>
    <td><label>{{item.customdate}}</label></td>
    <td>
      {% if item.pid %}
        <a href="http://digital.lib.ecu.edu/{{item.pid}}">{{item.title}}</a>
      {% else %}
        <a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>
