---
layout : ecu
title : Warehouses - Tobacco Exhibit
---

{% include breadcrumbs.html active="warehouses" %}

<h2>Warehouses</h2>

<p>
   Beginning in the early 1890s, businessmen built tobacco warehouses in Greenville so farmers would not have to take their tobacco to markets in other cities. Later, large companies located processing plants in Greenville to dry and pack tobacco for shipment elsewhere. By the 1910s, many firms had built warehouses and processing plants in an area south and west of Greenville's central business district. Some of these buildings make up the Greenville, North Carolina Tobacco Warehouse District, listed in the National Register of Historic Places.
</p>
<br/><br/>
<table class="table">
  {% assign items = site.warehouses | sort: 'order' %}
  {% for item in items %}
  <tr>
    <td><label>{{item.customdate}}</label></td>
    <td>
      {% if item.pid %}
        <a href="http://digital.lib.ecu.edu/{{item.pid}}">{{item.title}}</a>
      {% else %}
        <a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>
