<ul class="breadcrumb">

  {% if include.active == "home" %}
    <li class="active">Home</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
  {% endif %}

  {% if include.active == "business" %}
    <li class="active">Business</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/business.html">Business</a></li>
  {% endif %}

  {% if include.active == "newspapers" %}
    <li class="active">Newspapers</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/newspapers.html">Newspapers</a></li>
  {% endif %}

  {% if include.active == "records" %}
    <li class="active">Records/Photos</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/records.html">Records &amp; Photos</a></li>
  {% endif %}

  {% if include.active == "warehouses" %}
    <li class="active">Warehouses</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/warehouses.html">Warehouses</a></li>
  {% endif %}

</ul>
