---
layout: ecu
title:  "Section number 9"
customdate: ""
order: 4
---

{% include breadcrumbs.html %}

<h3>Betsy Gohdes-Baten, Greenville, NC Tobacco Warehouse Historic District: National Register of Historic Places Registration Form, 1997</h3>

<p>
  In 1996, the City of Greenville hired an architectural historian, Betsy Gohdes-Baten, to nominate the Greenville, NC, Tobacco Warehouse Historic District to the National Register of Historic Places. The nomination, which was completed in 1997, provides background information concerning the development of the tobacco industry in Greenville and Pitt County and describes the buildings in the district. Accompanying photographs depict these structures as they appeared when the nomination was submitted to the United States Department of Interior. These photos are provided courtesy of the North Carolina State Historic Preservation Office, Raleigh.
</p>

<div class="well">
  <label>Text from Manuscript</label><br/>
  <p>
    [Page 1, Section number 9]
  </p>
  <p>
    NPS Form 10-900-a<br/>
    CMB Approval No. (1024-0018)<br/>
    (Rev. 8-86)<br/>
    United States Department of the Interior<br/>
    National Park Service<br/>
    National Register of Historic Places<br/>
    Continuation Sheet<br/>
    Greenville, NC Tobacco Warehouse Historic District Pitt County, NC
  </p>
  <p>
    BIBLIOGRAPHY:
  </p>
  <p>
    Books and Documents:
  </p>
  <p>
    Axton, W. F., Tobacco and Kentucky, 1975, Lexington, University of Kentucky Press.
  </p>
  <p>
    Badger, Anthony, Jr., Prosperity Road: The New Deal, Tobacco and North Carolina, 1980 Chapel Hill, The University of North Carolina Press.
  </p>
  <p>
    Brooks, Jerome, Green Leaf and Gold: Tobacco in North Carolina, 1962, Raleigh, Department of Archives and History.
  </p>
  <p>
    Cameron, John D., A Sketch of the Tobacco Interests in North Carolina, 1981, Oxford, NC.
  </p>
  <p>
    Cotten, Sallie Southall, Greenville on the Tar, 1906, Greenville, End of the Century Club, Collection Joyner Library, East Carolina University.
  </p>
  <p>
    Cotter, Michael, ed., The Architectural Heritage of Greenville, 1988, Greenville Area Preservation Association.
  </p>
  <p>
    Fisher, W. H., Economics of Flue-Cured Tobacco, Richmond, 1945, Federal Reserve Bank.
  </p>
  <p>
    Heimann, Robert Karl, Tobacco and Americans, 1960, New York, McGraw Hill.
  </p>
  <p>
    Jenkins, J. S., Viewing Greenville and Pitt County, 1965, typescript document in collection of Joyner Library, East Carolina University.
  </p>
  <p>
    Lefler, Hugh Talmage and Albert Ray Newsome, North Carolina: The history of a Southern State, 1973, Chapel Hill, The University of North Carolina Press, 3rd edition.
  </p>
  <p>
    Robert, Joseph, C., The Story of Tobacco in America, 1949, New York, Alfred A. Knopf.
  </p>
  <p>
    Tilley, Nannie May, The Bright Tobacco Industry, 1860-1929, 1948, Chapel Hill, The University of North Carolina Press.
  </p>
  <p>
    [Page 2, Section number 9]
  </p>
  <p>
    Williams, Thomas A., ed. A Greenville Album: The Bicentennial Book, 1974, Greenville, Era Press.
  </p>
  <p>
    Wright, Gavin, Old South, New South,: Revolutions in the Southern Economy Since the Civil War, 1986, New York, Harper and Row.
  </p>
  <p>
    Pitt County Deed Books:
  </p>
  <p>
    B43, E42, E46, C44, G16, G18, I53, J35, K37, K42, K43, K50, R34, U10, V14, 129.
  </p>
  <p>
    Newspapers:
  </p>
  <p>
    Greenville and Daily Reflector, 5 January 1893, 2 December 1895, 1 June 1986, 16 June 1986, 18 June 1986, 9 August 1897, 5 January 1929, clipping thought to date from 1931, 16 August 1937, 25 August 1937, 12 August 1938.
  </p>
  <p>
    Greenville News, 27 August 1920, 13 August 1918.
  </p>
  <p>
    Directories:
  </p>
  <p>
    Greenville City Directories, Vol. 1, 1916-17, Vol. 2, 1926-27, Vol. 3, 1936-37, Vol. 4, 1938-39, Vol. 5, 194041, Vol. 6, 1942-43, Vol. 7, 1944-45, Vol. 8, 1947-48.
  </p>
  <p>
    Tobacco Directory of the World, 1938-39, Costa's Directory Company, New York.
  </p>
  <p>
    Maps:
  </p>
  <p>
    Sanborn Insurance Maps of Greenville, North Carolina, Series for 1896, 1900, 1905, 1911, 1916, 1923, 1929, and 1929 with paste-over updates to 1958.
  </p>
  <p>
    Interviews:
  </p>
  <p>
    Dewey Page, former owner of Dixie Supply Company.
  </p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Betsy Gohdes-Baten, "Greenville, NC Tobacco Warehouse Historic District: National Register of Historic Places Registration Form" (Washington: United States Department of the Interior, National Park Service, 1997).</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Ref F264.G72 G74 1997 <a href="http://catalog.lib.ecu.edu/catalog/768234">View Catalog Record</a></td>
  </tr>
</table>
