---
layout: ecu
title:  "Section number 10"
customdate: ""
order: 5
---

{% include breadcrumbs.html %}

<h3>Betsy Gohdes-Baten, Greenville, NC Tobacco Warehouse Historic District: National Register of Historic Places Registration Form, 1997</h3>

<p>
  In 1996, the City of Greenville hired an architectural historian, Betsy Gohdes-Baten, to nominate the Greenville, NC, Tobacco Warehouse Historic District to the National Register of Historic Places. The nomination, which was completed in 1997, provides background information concerning the development of the tobacco industry in Greenville and Pitt County and describes the buildings in the district. Accompanying photographs depict these structures as they appeared when the nomination was submitted to the United States Department of Interior. These photos are provided courtesy of the North Carolina State Historic Preservation Office, Raleigh.
</p>

<div class="well">
  <label>Text from Manuscript</label><br/>
  <p>
    [Page 1, Section number 10]
  </p>
  <p>
    NPS Form 10-900-a<br/>
    OMB-Approval No. 1024-0018<br/>
    (Rev. 8-86)<br/>
    United States Department of the Interior<br/>
    National Park Service<br/>
    National Register of Historic Places<br/>
    Continuation Sheet<br/>
    Greenville, NC Tobacco Warehouse Historic District Pitt County, NC
  </p>
  <p>
    Geographical Data:
  </p>
  <p>
    The Greenville, NC Tobacco Warehouse Historic District is located according to the following UTM reference points:
  </p>
  <p>
    Zone	Easting	Northing
  </p>
  <p>
    A.	18	284620	3942910<br/>
    B.	18	284880	3942920<br/>
    C.	18	284700	3942380<br/>
    D.	18	284520	3942580
  </p>
  <p>
    Verbal Boundary Description:
  </p>
  <p>
    The boundaries are shown on the enclosed G.I.S. map titled Tobacco Warehouse Historic District Greenville. It is drawn at a scale of 1" = 200 feet.
  </p>
  <p>
    Boundary justification:
  </p>
  <p>
    The boundary is drawn to include the highest concentration of surviving intact tobacco-related buildings within an area in Greenville that retains integrity and is associated with the City's early-twentieth-century tobacco marketing and processing center. The boundary excludes where possible properties that have lost integrity or have no significance.
  </p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Betsy Gohdes-Baten, "Greenville, NC Tobacco Warehouse Historic District: National Register of Historic Places Registration Form" (Washington: United States Department of the Interior, National Park Service, 1997).</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Ref F264.G72 G74 1997 <a href="http://catalog.lib.ecu.edu/catalog/768234">View Catalog Record</a></td>
  </tr>
</table>
