---
layout: ecu
title:  "Section number 8"
customdate: ""
order: 3
---

{% include breadcrumbs.html %}

<h3>Betsy Gohdes-Baten, Greenville, NC Tobacco Warehouse Historic District: National Register of Historic Places Registration Form, 1997</h3>

<p>
  In 1996, the City of Greenville hired an architectural historian, Betsy Gohdes-Baten, to nominate the Greenville, NC, Tobacco Warehouse Historic District to the National Register of Historic Places. The nomination, which was completed in 1997, provides background information concerning the development of the tobacco industry in Greenville and Pitt County and describes the buildings in the district. Accompanying photographs depict these structures as they appeared when the nomination was submitted to the United States Department of Interior. These photos are provided courtesy of the North Carolina State Historic Preservation Office, Raleigh.
</p>

<div class="well">
  <label>Text from Manuscript</label><br/>
  <p>
    [Page 1, Section number 8]
  </p>
  <p>
    United States Department of the Interior<br/>
    National Park Service<br/>
    National Register of Historic Places<br/>
    Continuation Sheet<br/>
    Greenville. NC Tobacco Warehouse Historic District<br/>
    Pitt County,NC
  </p>
  <p>
    Statement of Significance:<br/>
    The Greenville, NC Tobacco Warehouse Historic District in Greenville, North Carolina, is a small polygonal district of 10.4 acres located south of the City's Central Business District at the intersections of Ninth, Tenth, Eleventh, and Ficklen Streets with the CSX (formerly Norfolk and Southern) Railroad tracks (CS#1 [Contributing Structure]). Within the district six contributing buildings are: the Prichard-Hughes Warehouse (CB#1 [Contributing Building], ca. 1905, with ca. 1923 addition), the Dail-Ficklen Warehouse (CB#2, ca. 1911, with ca. 1923, 1947, and 1963 additions), the Export Leaf Factory (CB#3, 1914, with 1928, 1932, and 1938 additions), the E. B. Ficklen Factory (CB#4, ca. 1916, with additions ca. 1923, ca. 1925, ca. 1945, and ca. 1950), the Gorman Warehouse (CB#5, 1927), and the Star Warehouse (CB#6, 1930). Variously sales warehouses, processing factories and storage warehouses, these buildings form the largest and best preserved collection of early-twentieth-century tobacco-related resources surviving in Greenville; the others have been demolished or altered beyond recognition as historic buildings. Today, however, except for the Gorman Warehouse (now the 531 Planters' Warehouse), none are used for tobacco-related enterprises. Equally important though less prominent in appearance than the buildings, a short segment of the Norfolk and Southern (now CSX) Railroad tracks (CS#l, [Contributing Structure], 1907) provided the incentive around which the historic district developed. With the exception of the Gorman Warehouse, all contributing buildings have long facades adjacent to the railroad tracks. Elsewhere in the district, the Greenville Produce Company Warehouse, (NCB#1 [Non-contributing Building]), does not yet meet the age requirements for listing in the National Register and a small vacant lot, (NC Site #1 [Non-contributing Site]), once the location of factory housing, serves as an informal park where workers meet at lunch time. Neither of the non-contributing resources distract from the tobacco industry buildings. The Greenville, NC Tobacco Warehouse Historic District meets the requirements of National Register Criterion A for the local significance of its contributions to the commerce and industry of Greenville from 1905 when the George S. Prichard Tobacco Company prizery and stemmery (the Prichard-Hughes Warehouse) is thought to have been constructed until 1917, the last year for which the district is eligible for listing in the National Register. During the late nineteenth and early twentieth centuries, a steep decline in the price of cotton followed by an increasing demand for tobacco produced an unparalleled expansion of tobacco farming in the Coastal Plain region of North Carolina that simultaneously propelled Greenville to prominence as a large and important marketing and processing center for tobacco. The tobacco industry spurred growth in other sectors of Greenville's
  </p>
  <p>
    [Page 2, Section number 8]
  </p>
  <p>
    economy, and during the period of significance, the City's population grew from less than two thousand to an estimated fifteen thousand people. The Greenville, NC Tobacco Warehouse Historic District is additionally eligible for the National Register under Criterion C for the local significance of the eclectic architecture of its early-twentieth-century tobacco buildings. Tobacco-related architecture in North Carolina was based on slow-burn construction developed ca. 1822 in New England by Zachariah Allen. Heavy plank floors, massive structural timbers, brick walls, and metal-clad doors were utilized to contain the spread of fires, and Industrial Italianate and Art Deco stylistic features were employed to break the mass of long exterior facades.
  </p>
  <p>
    The size and design of tobacco buildings in Greenville additionally reflected the functional requirements of selling, drying, and storing tobacco, and the contributing buildings were altered often during the period of significance to provide more space and accommodate improvements in technology. Since 1947 modifications to the buildings have been relatively few; a brick-and-concrete block wing was joined to the Dail-Ficklen Warehouse (CB#2), a brick wing was added to the E. B. Ficklen Factory (CB#4), artificial siding and replacement windows were installed on the Prichard-Hughes Warehouse (CB#1), windows around the Gorman Warehouse (CB#5) were filled with brick and concrete block, and skylights were removed from the Star Warehouse (CB#6) and large storage tanks set up on its roof. Notwithstanding these changes, the six contributing buildings in the Greenville, NC Tobacco Warehouse Historic District are excellent examples of early-twentiethcentury tobacco industry buildings, and with the CSX (formerly Norfolk and Southern) Railroad tracks (CS#1), have made considerable contributions to the economic development of Greenville that give them a uniquely important place in the City's history.
  </p>
  <p>
    Narrative History, Commerce and Industrial Context:
  </p>
  <p>
    Cotton, long considered the agricultural staple of the Coastal Plain region in North Carolina, had declined in price to 4.5 cents a pound when, in 1885, Leon F. Evans, a Pitt Countv farmer, proposed raising tobacco as an alternative. Evans was no doubt aware that James B. Duke of Durham had installed two Bonsack rolling machines in a new factory, to expedite his family's already successful cigarette production the year before cotton prices bottomed. The rising popularity of cigarettes assured a demand for tobacco, and Evans, together with A. A. Forbes, G. F. Evans, Jacob Joyner and T. J. Stancill, engaged J. T. Seat of Nash County to grow an experimental tobacco crop in Pitt County.<sup>1</sup>The experiment produced satisfactory results, and the five men planted the County's first commercial crop in 1886.<sup>2</sup> That crop exceeded expectations, and
  </p>
  <p>
    [Page 3, Section number 8]
  </p>
  <p>
    Evans was awarded a wagon for selling the "best" tobacco on the Henderson Market, a prize perhaps bestowed to encourage further tobacco production in Pitt County.
  </p>
  <p>
    Pitt County<sup>3</sup> farmers at first patronized sales warehouses in Wilson, Henderson, and Oxford. Their slow laborious trips with horse-drawn carts or hogsheads fitted with axles were incentives to establish markets nearer home, and m 1890 when a branch line of the Wilmington and Weldon Railroad (later incorporated into the Atlantic Coast Line) connected Greenville and Kinston, R. J. Cobb constructed Greenville's first tobacco sales warehouse.<sup>4</sup>The appropriately-named Greenville Tobacco Warehouse opened on Ninth Street in 1891 to fifty-seven buyers who purchased 225,000 pounds of tobacco in three days.<sup>5</sup>
  </p>
  <p>
    Quick to realize the potential of a tobacco market, David J. Whichard, progressive editor of the Greenville Reflector (later the Drily Reflector)'<sup>6</sup> boldly headlined an article in that newspaper calling for: "two more warehouses with a corresponding number of prizeries."<sup>7</sup> Whichard maintained: "There is no reason why this town could not be made one of the best tobacco markets in the State."
  </p>
  <p>
    The facilities requested were not long in coming; several months later the Reflector reported: "In a few days, the frame of the building of the Eastern Warehouse will be going up. . . also a three-story prizery and large stables for patrons."<sup>8</sup> When 1892, Greenville's second selling season, brought 1,225,000 pounds of leaf tobacco to market, an increase of one million pounds from the year before, the newspaper began a weekly column to keep the town abreast of developments in the tobacco industry.<sup>9</sup> Its "Tobacco Department" soon reported that leaf from ten eastern North Carolina counties had been sold in Greenville's two warehouses."<sup>10</sup>
  </p>
  <p>
    When an impressive 2,225,000 pounds of tobacco were auctioned at the 1893 Greenville market, again exceeding sales of the previous year by one million pounds, the Reflector enthusiastically predicted: "Greenville will become in tobacco-selling Eastern Carolina what Danville is to Southside Virginia!"<sup>11</sup> In 1895 the first ongoing enterprise in what is now the Greenville, NC Tobacco Warehouse Historic District was established as Greenville's fourth sales warehouse, the Star, opened for business in a small frame structure on Ninth and Washington Streets (this building was much altered and eventually replaced by CB#6). That year, and the year following, two entrepreneurs subsequently influential in the growth and development of the City's tobacco industry came to Greenville; J. N. Gorman (who later constructed CB#5) to purchase the R. W. Royster Steam Prizery, and Edward Bancroft Ficklen to join T. E.
  </p>
  <p>
    [Page 4, Section number 8]
  </p>
  <p>
    Roberts in forming the Roberts and Ficklen Tobacco Company.<sup>12</sup>- The Reflector provided a candid glimpse of the Roberts and Ficklen firm's operations:
  </p>
  <p>
    The Hooker and Bernard five-story prize house occupied by Roberts and Ficklen has been converted into a stemmery and began operation this morning. The building is one of the largest here. A large annex on the west side of the building contains the steam drying and ordering rooms and the power house. The first floor contains the business office, receiving, packing, and shipping rooms. The second floor has the picking and stemming rooms, and the third, fourth, and fifth floors are used for hanging and air drying. In the stemming rooms, from seventy-five to one hundred hands, mostly women, work. The firm is one of the strongest buyers on the market. Mr. Ficklen is held in high esteem by the trade . . . his large plant gives strength to the market and adds much business to the town.<sup>13</sup>
  </p>
  <p>
    Coincidentally, within a week of this commentary, the Reflector noted the completion of a frame building on what is now Ficklen Street for the B. E. Parham and Company Stemmery.<sup>14</sup> Within a few years, the E. B. Ficklen Tobacco Company replaced the Roberts and Ficklen firm, occupying this building, and eventually incorporating portions of the interior into the present E. B. Ficklen Factory (CB#4).<sup>15</sup>
  </p>
  <p>
    In Greenville, the Sanborn Map Company's 1896 series was first to include tobacco industry buildings. Four sales warehouses, nine prizehouses, and a hogshead factory are depicted along Ninth Street and Dickinson Avenue several blocks west of the district being nominated. Prizehouses predominated, many equipped with steam coils to facilitate the redrying process. All were of frame construction, and inevitably fire broke out. A small conflagration in 1901 destroyed several modest tobacco buildings. In 1903, a larger one on both sides of Ninth Street at the intersections of Clark and Pitt Streets destroyed almost two blocks of prizehouses, stemmeries, and small dwellings. Two years later, in 1905, a more disastrous fire in the same locality destroyed four prizehouses, two sales warehouses, several small buildings, and 500,000 pounds of tobacco.<sup>16</sup>
  </p>
  <p>
    Whatever the cause of such frequent fires, some relief may have been felt when the Reflector announced on 21 March 1905: "The days of kerosene lamps are a thing of the past. The town now rejoices under the brilliance of electric lights."<sup>17</sup> A Sanborn map for the same year is the first to show the frame George S. Prichard Tobacco Company Prizery and Stemmery (the Prichard -Hughes Warehouse CB#1) at the southeast corner of Eleventh and Pitt Streets, one block south of the area ravished by
  </p>
  <p>
    [Page 5, Section number 8]
  </p>
  <p>
    fire. As the earliest contributing building in the Greenville, NC Tobacco Warehouse Historic District, its appearance marks the beginning of the period of significance.
  </p>
  <p>
    Throughout the period of significance, but particularly in the early years of the twentieth century, tobacco sales provided much excitement in Greenville. Frequently an entire farm family accompanied a crop to auction and spent most or all of the cash received in town before returning home. Retailers invited farmers by way of newspaper advertisements to "Drop around and say 'hello' . . . your friends here . . . want to see you and would feel hurt if they knew you were in town and had run off without greeting them. Come into our stores, talk to our business people and get acquainted all around!"<sup>18</sup>
  </p>
  <p>
    The rise of the tobacco industry in Greenville had many beneficial economic effects; a tobacco board of trade was established to oversee operations of sales warehouses and ensure that all were treated fairly. This board pushed for improved roads and rail connections, and better transportation, in turn, supported more economic growth.<sup>19</sup> By 1907, when the Norfolk and Southern Railroad constructed a line through Greenville and East Carolina Teachers' Training School (now East Carolina University) was established, the town's central business district was thriving.<sup>20</sup> Josephus Daniels, editor of Raleigh's News and Observer, lavished praise: "Greenville grows by day and night. No town in the State has grown more in the past ten years!"<sup>21</sup>
  </p>
  <p>
    Simultaneously with these improvements, an early and important effort to form a tobacco growers marketing association to secure more equitable prices for farmers began in 1903 when the Farmers' Consolidated Tobacco Company was formed. This cooperative acquired two sales warehouses in Greenville, one of which was the Star (predecessor of CB#6). Sanborn maps of 1911 reflected the cooperative's success; a large frame addition that essentially doubled the Star's floor space permitted the very first Pitt County Fair to be held inside. Additional warehouses were opened in Wilson, Kinston, Robersonville, North Carolina, and Maysville, Kentuckv, before internal differences ended the company in 1912.<sup>22</sup>
  </p>
  <p>
    With the coming of the Norfolk and Southern Railroad, the area that became the Greenville, NC Tobacco Warehouse Historic District began to develop, if slowly at first. A Sanborn map of 1911 shows that W. H. Dail, Jr., operated a newly-constructed brick storage warehouse (the Dail-Ficklen Warehouse CB#2) at the southwest corner of Tenth and Pitt Streets; a spur line of the railroad was extended to serve the E. B. Ficklen Factory (with modifications CB#4) on what is now Ficklen Street, and the
  </p>
  <p>
    [Page 6, Section number 8]
  </p>
  <p>
    Hughes-Meade Company Prizery and Stemmery had replaced a short-lived George S. Prichard Company in the Prichard-Hughes Warehouse (CB#1) at the corner of Eleventh and Pitt Streets.
  </p>
  <p>
    After 1911, however, several nearly simultaneous events triggered the phenomenal growth of Greenville's tobacco industry. The American Tobacco Company Trust, a conglomerate of the nation's largest cigarette manufacturers that had dominated virtually every branch of tobacco manufacturing in the United States, had been disbanded by court order. With the Trust no longer a major tobacco buyer, competition increased and prices rose. Manv dealers, manufacturers, and exporters hurried to establish processing factories and storage warehouses in market towns with good transportation facilities.<sup>23</sup>
  </p>
  <p>
    Within three years, the advent of World War I brought about a change in consumer smoking preferences. American cigarettes had contained Turkish and domestic tobaccos, but as the war escalated supplies of Turkish tobacco, grown in the Middle East, were at first restricted and then virtually impossible to obtain. Partly to encourage acceptance of a necessary change in cigarette flavor, the government supplied cigarettes made from a blend of domestic tobaccos to the troops. At about the same time, an emerging market of women smokers further increased cigarette sales. Tobacco prices on North Carolina markets skyrocketed from thirteen cents to thirty-five cents per pound in a very short period.<sup>24</sup>
  </p>
  <p>
    At the dissolution of the Trust, the Liggett and Myers, American, and R. J. Reynolds Tobacco Companies emerged as the dominant domestic cigarette manufacturers. The Liggett and Myers and American Tobacco Companies promptly acquired facilities in Greenville, and the Hughes-Thomas Company, then successor to the Hughes-Meade Company in the Prichard-Hughes Warehouse (CB#1) counted the R. J. Reynolds Tobacco Company among its clients by 1918 before that firm, too, opened a factory in town.<sup>25</sup>
  </p>
  <p>
    Despite high profiles, the "big three" purchased only ten percent of the tobacco grown in North Carolina. Sixty percent of the crop was purchased by exporters, and of this, approximately one-half went to the United Kingdom and one-fourth to China. Two major firms served this market; the Imperial Tobacco Company of Great Britain and Ireland bought high-priced, high-quality leaf for the British market, and the Export Leaf Company, a subsidiary of the British-American Tobacco Company, bought common or scrap tobacco primarily for the China trade. Both operated large factories in Greenville by 1916 when a Sanborn map shows that the Export Leaf Company had
  </p>
  <p>
    [Page 7, Section number 8]
  </p>
  <p>
    constructed a large brick prizery (one half of CB#3) that occupied half a city block between Tenth and Eleventh Streets.
  </p>
  <p>
    The remaining ten to twenty percent of the tobacco crop was purchased by independent leaf buyers, redried, processed, and sold again.<sup>26</sup> Representative of this group's prosperity in Greenville, 1916 Sanborn maps indicate the E. B. Ficklen Company had added a brick wing to its prizery (with modifications CB#4) and occupied the Dail-Ficklen Warehouse (CB#2).
  </p>
  <p>
    Sales warehouses in Greenville also increased floor space and services during this period. The Star (predecessor of CB#6), acquired by Guy V. Smith and Bruce B. Sugg after the disintegration of the Farmers' Consolidated Tobacco Company, advertised new facilities in area newspapers. Its 1917, advertisements claimed: "We have recently enlarged our warehouse and are better equipped than ever to look after your tobacco interests from the very start." A sensational year for the Star brought more expansion and advertising in 1918: "In 1917 we made an extension to our warehouse 4' by 60' and for 1918 we are building a brick addition 30' by 210' together with 250 new stalls for teams which makes the Star one of the largest warehouses in the State [of North Carolina]! 1914 -- We began business; 1915 -business increased 28%; 1916 -business increased 157 %; 1917 -- business increased 350 % !<sup>27</sup>
  </p>
  <p>
    The Sanborn Map Company's 1923 series evidence the Star's brick addition along with other construction in what is now the Greenville, NC Tobacco Warehouse Historic District.
  </p>
  <p>
    Between 1916 and 1923, the Ficklen Company replaced its frame prizerv, with a brick building (with modifications CB#4) and enlarged the Dail-Ficklen Warehouse (CB#2) with a brick addition fronting on Tenth Street that increased the storage capacity of that building by one third. During the same period, the Southern States Tobacco Company constructed a brick storage warehouse of two units (later incorporated into CB#3) adjoining the Export Leaf Prizery (one half of the present CB#3). The John E. Hughes Tobacco Company had replaced the Hughes-Thomas firm by 1923, adding a brick prizery and an office to the western facade of the Prichard-Hughes Warehouse (CB#1).
  </p>
  <p>
    In 1919, with the tobacco industry booming all over North Carolina, the Secretary of State's office granted more charters for tobacco sales warehouses than ever before. Increased tobacco production in the Coastal Plain had concentrated a large segment of the market in the "New" or "Eastern" Belt, and Greenville joined Danville, Virginia,
  </p>
  <p>
    [Page 8, Section number 8]
  </p>
  <p>
    and Rocky Mount, Wilson, and Winston Salem, North Carolina, as one of the leading tobacco marketing centers in the South.<sup>28</sup>
  </p>
  <p>
    Fueled by thriving tobacco markets, Greenville grew dramatically through the end of World War I. The town boasted industrial improvements that included an oil mill, a cotton mill, a brick works, several lumber mills, and a number of machine shops. East and west of town, developers platted large subdivisions and built elegant and stylish homes for newly wealthy industrialists and merchants.<sup>29</sup>
  </p>
  <p>
    A much-in-demand 1919 tobacco crop sold in Greenville and on other Eastern Belt markets for a record 53 cents per pound.<sup>30</sup> But the following year, overproduction coupled with the end of the World War I to reverse escalating prices abruptly. A huge tobacco crop of 1920 was sold at a reduction of more than fifty percent in price. The selling season in the Eastern Belt began several weeks earlier than elsewhere in North Carolina, and tobacco farmers there were first to receive low bids for their produce. In Greenville warehouses riots nearly ensued. Warehousemen were accused of conspiring with buyers to steal tobacco, and farmers were said to be arming themselves. Violent hands were laid on some of the piles, before buyers were ordered to stop bidding. Afterwards tobacco growers organized and held meetings to devise plans for marketing the crop profitably. Efforts failed, and Greenville warehouses continued the auction system, averaging a meager 20.92 cents per pound for the 1920 crop.<sup>31</sup>
  </p>
  <p>
    Between 1920 and 1927 as oversupplies and marketing problems continued, tobacco prices never rose above twenty cents per pound. Concerned about .farmers, the Federal government proposed buying tobacco surpluses. Legislation to accomplish this was defeated in Congress four times when the aftermath of the 1929 stock market crash dropped per-pound leaf prices to twelve cents in 1930 as sales of all tobacco products faltered. The following year, the "big three" simultaneously increased the wholesale prices of their brand-name cigarettes in a short-sighted attempt to restore profitability, and sales fell further. Tobacco brought an all-time low of eight and one-quarter cents per pound in 1931.<sup>32</sup>
  </p>
  <p>
    Despite price uncertainties, the marketing and processing sectors of the tobacco industry flourished in Greenville; Sanborn maps of 1929 show eleven large blocks around Dickinson Avenue and Ninth Street filled with six gigantic sales warehouses and nine processing factories, each of which often occupied an entire block with associated prizehouses, storage warehouses, cooperages, and offices. Within what is now the Greenville, NC Tobacco Warehouse Historic District, the E. B. Ficklen
  </p>
  <p>
    [Page 9, Section number 8]
  </p>
  <p>
    Company had enlarged its brick prizery, adding a brick stemmery and frame cooper shop (with modifications CB#4); Liggett and Myers occupied the Dail-Ficklen Warehouse (CB#2) though that structure had not otherwise changed; and Gorman's New Tobacco Sales Warehouse (CB#5) had been constructed on the western half of a city block bounded by Eleventh, Twelfth, Greene, and Washington Streets. One year later after a disastrous fire, a new and colossal Star Warehouse (CB#6) was constructed of brick at the site of the structure that was destroyed. In a descriptive tour of the Greenville published at about this time, the Reflector emphasized: "The tobacco industry has given the town inspiration and been the principal means of its advancement and progress."<sup>33</sup>
  </p>
  <p>
    Tobacco was one of seven basic commodities regulated by the Agricultural Adjustment Act of 1933. Acreage restrictions, guaranteed loans, and later, marketing quotas were instigated. Farmers determined by vote how much tobacco acreage could be planted in a given year, and the Federal government discouraged anyone who had not previously raised tobacco with stringent penalties. Purchasing pools supported by government loans guaranteed prices for tobacco raised on acreage allotments at 90% of a calculated fair market value. Surplus tobacco purchased under this plan was stored for later sales or dispersal. With acreage allotments fixed and a floor supporting prices, tobacco prices recovered and stabilized.<sup>34</sup> In Greenville, sales reached all-time highs, and the town rivaled Rocky Mount and Wilson for the title of "largest tobacco market in the world." A record was established in 1934 when Greenville markets sold 51,188,384 pounds for $16,077,682.78.<sup>35</sup>
  </p>
  <p>
    On the eve of the 1937 market opening, the Reflector announced: "The town's ten [sales] warehouses have made extensive improvements since the closing of the 1936 season and their operators declare that they are ready for what is expected to be one of the most successful seasons in the history of the market . . . . There is no market in Eastern North Carolina that has superior redrying processing, stemming and storage equipment than is found in Greenville. During the tobacco season, these facilities will employ approximately 6,000 people."<sup>36</sup>
  </p>
  <p>
    The following year brought more progress in what is now the Greenville, NC Tobacco Warehouse Historic District. The Export Leaf Factory (CB#3), expanded first in 1928 to incorporate the Southern States Tobacco Company's storage warehouse, and again in 1932 for an additional redrying machine, was completed in 1938 by the construction of a large cooper room and redrying plant that filled the remainder of the city block.<sup>37</sup> The China-America Tobacco Company opened a Greenville office in the
  </p>
  <p>
    [Page 10, Section number 8]
  </p>
  <p>
    newly-enlarged factory, adding its name to an already impressive roster of leaf dealers in town."<sup>38</sup>
  </p>
  <p>
    Consumption of cigarettes made another huge percentage gain from 1940-1946 during World War II and its accompanying time of rapid urbanization. With 18 percent of the national cigarette output sent overseas, President Franklin Roosevelt classified tobacco as an essential crop, and draft boards were instructed to defer tobacco farmers to ensure continued output. In Europe, cigarettes were widely used as barter goods by U S Troops, and for two years after V-E Day remained the only stable currency, in some parts of Germany, France, and Italy.<sup>39</sup> Cigarette smoking was at an all-time high in 1945 when 267 billion cigarettes were sold on the domestic market. That year brought an improvement that gave the Greenville, NC Tobacco Warehouse Historic District most of its present appearance as the E. B.
  </p>
  <p>
    [Page 11, Section number 8]
  </p>
  <p>
    Ficklen Factory (CB#4) was enlarged to incorporate additional drying machines. Greenville then had over two million square feet of floor space devoted to the handling and processing of tobacco.<sup>40</sup>
  </p>
  <p>
    In the years after World War II, the tobacco market in Greenville continued as one of the largest in the State.<sup>41</sup> In 1947, the last year for which the Greenville, NC Tobacco Warehouse Historic District is eligible for National Register listing, the City Directory lists eight leaf dealers and eleven sales warehouses. Beginning a trend that would continue, the three newest sales warehouses were located on the outskirts of town.
  </p>
  <p>
    The next several decades brought many changes to the tobacco industry throughout the state of North Carolina. Following the 1964 Surgeon General's report about the health hazards of smoking, most tobacco companies diversified, eventually becoming large holding companies for a variety of unrelated businesses. Operations were streamlined during the late 1960s and 70s, and older processing factories and storage warehouses were shut down in Greenville and other market towns as new facilities were constructed in manufacturing centers. Tobacco marketing continued strong in Greenville, but sales warehouses were built at the edge of town where land costs were less and newly constructed highways were accessible. By the mid 1970s, all six contributing buildings in the Greenville, NC Tobacco Warehouse Historic District had been sold. With changes in ownership, in most cases, came changes in use. The Prichard-Hughes Warehouse (CB#1), sold to the Bostic-Suggs Furniture Company in 1964, became a furniture warehouse in association with that firm's sales rooms on Tenth Street. The Dail-Ficklen Warehouse (CB#2), sold to the Dixie Supply Company in 1977 and to the R. E. Michel Company in 1986, became a storage warehouse for heating and cooling supplies. The Export Leaf Factory (CB#3), sold to the H. A. Haynie Company in 1974, now contains a polyester processing factory. The E. B.Ficklen Factory (CB#4), sold to Northrup King in 1974 and to the U. N. X. Chemical Company in 1984, joined the Star Warehouse (CB#6), sold to U. N. X. in 1975, as a chemical factory. The Gorman Warehouse (CB#5) alone continues to house a tobacco-related business. Sold to William and Larry Hudson in 1975, it is now leased and operated by James Mills as the 531 Planters' Sales Warehouse. Despite changes in use, the buildings have only minor alterations and the district retains integrity as a excellent example of an early-twentieth-century tobacco marketing and processing center.
  </p>
  <p>
    Architectural Context:
  </p>
  <p>
    Tobacco architecture in North Carolina had its roots in an industrial architecture begun in New England when, in 1822, Zachariah Allen developed slow-burn construction. Disturbed by the high cost of fire insurance, Allen employed brick walls, metal clad doors, massive structural timbers, and thick wooden plank floors to slow the spread of fires. When fire broke out, large structural members charred slowly, retaining their structural strength and supporting the building rather than allowing it to collapse inward. Allen formed the Manufacturer's Mutual Fire Insurance Company in 1835 to offer lower rates to industries utilizing his construction methods. Massive brick exteriors, encouraged by the availability of reasonable fire insurance, soon lent themselves to expressive ornament. The inherent decorative capacities of brick combined well with the Italianate and Romanesque Revival styles creating stylized courses that added exuberant decoration to long facades, and rounded arches that dramatized doorwavs and windows.<sup>42</sup> Virtuoso displays of bricklayers' art reached a zenith shortly before the turn of the twentieth century, and afterward exteriors were generally modified to emphasize a forthright expression of structure.
  </p>
  <p>
    In Greenville, tobacco industry buildings incorporated Allen's slow-burn construction, and later in the twentieth century, concrete floors and steel truss supports to provide fire protection, while other aspects of their size and design reflected the functional requirements of selling, processing, or storing tobacco. The Gorman and Star Warehouses, like the Pierce and Lee Warehouses in Farmville (NR), had huge floor areas where purchasers could examine tobacco offered for sale, and decorative parapets (the Art Deco style was used at the Star) to enhance entrances to the buildings and better distinguish each business from its competitors. The Export Leaf and E. B. Ficklen Factories (CB#3 and #4) and the Imperial Tobacco Company Factories in Wilson (NR) and Durham (NR) were enormous buildings, divided inside to accommodate the activities of processing factories, and embellished outside
  </p>
  <p>
    [Page 12, Section number 8]
  </p>
  <p>
    with decorative brickwork of the Industrial Italianate style. All have rows of segmental-arched windows that create rhythmic arcades on long walls, and are further adorned in whole or in part by pilasters that serve to break massive facades with vertical panels. In contrast to the former two groups, the
  </p>
  <p>
    PrichardHughes and Dail-Ficklen Warehouses (CB#1 and #2), like the Brodie Duke Warehouse in Durham (NR) are smaller and simpler structures. These buildings functioned as storage warehouses; they are relatively plain on the outside and have insidedimensions suited to the aging of tobacco in hogsheads.
  </p>
  <p>
    Endnotes for Section 8
  </p>
  <p>
    <sup>1</sup>Jenkins , J. S., viewing GreenvilIe and Pitt County, Greenville, 1965, typescript document in collection of Joyner Library, East Carolina University, P. 6.
<br/>
    <sup>2</sup>Williams, Thomas A., ed., A Greenville Album: The Bicentennial Book, 1974, Greenville, Era Press, p.14.
<br/>
    <sup>3</sup>Tilley, Nannie May, The Bright Tobacco Industry, 1860-1929, 1948, Chapel Hill, The University of North Carolina Press, pp. 143-44.
<br/>
    <sup>4</sup>Ref7ector, 1 June 1986, "The Way Greenville Was, Part III: Golden Leaf's Lure."
<br/>
    <sup>5</sup>Reflector, " Golden Leaf's Lure."
<br/>
    <sup>6</sup>The Greenville Ref7ector began publication on a daily basis in 1895, and was thereafter called the Daily Reflector. To avoid confusion, citations in this document will use the name Reflector alone.
<br/>
    <sup>7</sup>Jenkins, p 1.
<br/>
    <sup>8</sup>Once purchased by a broker or a manufacturer, leaf tobacco was dried again, sorted by grade, and packed (or prized) into enormous barrels called hogsheads for storage or for shipping. Large buildings that accommodated this process were called prizeries or prizehouses.
<br/>
    <sup>9</sup>Jenkins, p 2; The "Tobacco Department," written by Olthus L. Joyner, presented farmers' problems, reports of market condition, and news about the comings and
  </p>
  <p>
    [Page 13, Section number 8]
  </p>
  <p>
    goings of members of the tobacco community. It provides an invaluable record of the development of the tobacco industry in Greenville.
<br/>
    <sup>10</sup>Reflector, 5 January 1893.
<br/>
    <sup>11</sup>Reflector, 18 June 1986; Jenkins p.4.
<br/>
    <sup>12</sup>Jenkins, pp. 7, 10-11; Reflector, 2 December 1895 and 18 June 1986.
<br/>
    <sup>13</sup>Jenkins, p . 34.
<br/>
    <sup>14</sup>Jenkins, p. 31; Reflector 9 August 1897.
<br/>
    <sup>15</sup>Jenkins, p . 55 and 59 .
<br/>
    <sup>16</sup>Cotten, Sallie Southall, Greenville on the Tar, 1906, Greenville, End of the Century Club, Collection Joyner Library, East Carolina University, p.17.
<br/>
    <sup>17</sup>Jenkins, p . 68.
<br/>
    <sup>18</sup>Greenville News, 27 August 1920.
<br/>
    <sup>19</sup>Tilley, pp. 220-25.
<br/>
    <sup>20</sup>Cotter, Michael, ed., The Architectural Heritage of Greenville, 1988, Greenville Area Preservation Association, p. 29.
<br/>
    <sup>21</sup>Cotter, p. 30.
<br/>
    <sup>22</sup>Cotter, p.12.
<br/>
    <sup>23</sup>Tilley, p.163.
<br/>
    <sup>24</sup>Badger, Anthony, Jr., Prosperity Road: The New Deal, Tobacco and North Carolina, 1980 Chapel Hill, The University of North Carolina Press. pp. 17-18.
<br/>
    <sup>25</sup>Tilley, pp. 281-82.
  </p>
  <p>
    [Page 14, Section number 8]
  </p>
  <p>
    <sup>26</sup>Badger, pp.17-20.
<br/>
    <sup>27</sup>Greenville Daily News 13 August 1918.
<br/>
    <sup>28</sup>Tilley, pp. 217-18.
<br/>
    <sup>29</sup>Cotter, p. 14; Reflector, 16 June 1986.
<br/>
    <sup>30</sup>Tilley, 450-55.
<br/>
    <sup>31</sup>Badger, p. 21.
<br/>
    <sup>32</sup>Reflector 16 August 1937.
<br/>
    <sup>33</sup>Reflector clipping thought to date from 1931.
<br/>
    <sup>34</sup>Heimann, Robert Karl, Tobacco and Americans, 1960, New York, McGraw Hill, p. 231-32.
<br/>
    <sup>35</sup>Reflector 16 and 25 August 1937.
<br/>
    <sup>36</sup>Reflector, 12 August 1938.
<br/>
    <sup>37</sup>Sanborn Insurance Maps of Greenville, NC, series for 1929.
<br/>
    <sup>38</sup>Tobacco Directory of the World, 1938-39, Costa's Directory Company, New York, pp. 70-71.
<br/>
    <sup>39</sup>Heimann, p. 242-43.
<br/>
    <sup>40</sup>Greenville City Directory, Vol. 7, 1944-45 edition.
<br/>
    <sup>41</sup>Cotter, p.16.
<br/>
    <sup>42</sup>Bishir, Catherine, North Carolina Architecture, 1990, University of North Carolina Press, Chapel Hill and London, pp. 366-67.
  </p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Betsy Gohdes-Baten, "Greenville, NC Tobacco Warehouse Historic District: National Register of Historic Places Registration Form" (Washington: United States Department of the Interior, National Park Service, 1997).</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Ref F264.G72 G74 1997 <a href="http://catalog.lib.ecu.edu/catalog/768234">View Catalog Record</a></td>
  </tr>
</table>
