---
layout: ecu
title:  "Owners' List"
customdate: ""
order: 8
---

{% include breadcrumbs.html %}

<h3>Betsy Gohdes-Baten, Greenville, NC Tobacco Warehouse Historic District: National Register of Historic Places Registration Form, 1997</h3>

<p>
  In 1996, the City of Greenville hired an architectural historian, Betsy Gohdes-Baten, to nominate the Greenville, NC, Tobacco Warehouse Historic District to the National Register of Historic Places. The nomination, which was completed in 1997, provides background information concerning the development of the tobacco industry in Greenville and Pitt County and describes the buildings in the district. Accompanying photographs depict these structures as they appeared when the nomination was submitted to the United States Department of Interior. These photos are provided courtesy of the North Carolina State Historic Preservation Office, Raleigh.
</p>

<div class="well">
  <label>Text from Manuscript</label><br/>
  <p>
  NPS Form 10-900-a<br/>
Approval No. 1024-0018<br/>
(Rev. 8-86)<br/>
United Sates Department of the Interior National Park Service<br/>
National Register of Historic Places Continuation Sheet<br/>
Greenville, NC Tobacco Warehouse Historic District Pitt County, NC
</p>
  <p>

Owners' List
</p>
  <p>
1. CB#1. Prichard-Hughes Warehouse<br/>
BISO	PO Box 2037 Greenville, NC 27835-2037
</p>
  <p>
2. CB#2. Dail-Ficklen Warehouse	Michel Real Estate Partnership<br/>
R. E. Michel Drive Glen Burnie, MD 21061
</p>
  <p>
3. CB#3. Export Leaf Factory	H. A. Haynie Co.<br/>
301 West Tenth Street	Greenville, NC 27 834
</p>
  <p>
4. CB#4. E. B. Ficklen Factory	U. N. X. Chemical<br/>
PO Box 7206	Greenville, NC 27835-7206
</p>
  <p>
5. CB#5. Gorman Warehouse	William and Larry Hudson, etal<br/>
Hudson's Tobacco Warehouse	Route 3, Box 225	Greenville, NC 27834
</p>
  <p>
6. CB#6. Star Warehouse	U. N. X. Chemical<br/>
PO Box 7206	Greenville, NC 27835-7206
</p>
  <p>
7. CS #1. System of CSX Railroad Tracks	CSX Railroad<br/>
1 James Center	901 East Cary Street	Richmond, Virginia 23219
</p>
  <p>
8. NCB#1. Greenville Produce Company Warehouse	Issac and Rachel Edwards<br/>
West Ninth Street	Greenville, NC 27834
</p>
  <p>
9. NC Site #1. Vacant Lot H. A. Haynie Co.<br/>
301 West Tenth Street	Greenville, NC 27834
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Betsy Gohdes-Baten, "Greenville, NC Tobacco Warehouse Historic District: National Register of Historic Places Registration Form" (Washington: United States Department of the Interior, National Park Service, 1997).</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Ref F264.G72 G74 1997 <a href="http://catalog.lib.ecu.edu/catalog/768234">View Catalog Record</a></td>
  </tr>
</table>
