---
layout: ecu
title:  "Betsy Gohdes-Baten, Greenville, NC Tobacco Warehouse Historic District"
customdate: "1997"
order: 2
---

{% include breadcrumbs.html %}

<h3>Betsy Gohdes-Baten, Greenville, NC Tobacco Warehouse Historic District: National Register of Historic Places Registration Form, 1997</h3>

<p>
  In 1996, the City of Greenville hired an architectural historian, Betsy Gohdes-Baten, to nominate the Greenville, NC, Tobacco Warehouse Historic District to the National Register of Historic Places. The nomination, which was completed in 1997, provides background information concerning the development of the tobacco industry in Greenville and Pitt County and describes the buildings in the district. Accompanying photographs depict these structures as they appeared when the nomination was submitted to the United States Department of Interior. These photos are provided courtesy of the North Carolina State Historic Preservation Office, Raleigh.
</p>

<div class="well">
  <label>Text from Manuscript</label><br/>
  <p>
  [Page 1, Section number 7]
</p>
<p>
  CMB Approval No.1024-0018<br/>
  NPS Form 10-900a<br/>
  (Rev. 8-86)<br/>
  United States Department of the Interior<br/>
  National Park Service<br/>
  National Register of Historic Places<br/>
  Continuation Sheet<br/>
  Greenville, NC Tobacco Warehouse Historic District Pitt County,NC
</p>
<p>
  General Physical Description:<br/>
  The Greenville, NC Tobacco Warehouse Historic District in Greenville, North Carolina, is a polygonal district of 10.4 acres located south of the City’s central business district at the intersections of Ninth, Tenth, Eleventh, and Ficklen Streets with the CSX (formerly Norfolk and Southern) Railroad tracks (CS#1 [Contributing Structure]). Within the district are six contributing buildings, one contributing structure, one non-contributing building, and one non-contributing site. The focus of the district is its six contributing buildings, all enormous sales warehouses, processing factories, or storage warehouses constructed during the early twentieth century when Greenville rose to prominence as a major marketing and processing center for flue-cured tobacco. These are: the Prichard -Hughes Warehouse (CB#l [Contributing Building], ca. 1905, with ca. 1923 addition); the Dail-Ficklen Warehouse (CB#2, ca.1911, with ca. 1923, 1947, and 1963 additions); the Export Leaf Factory (CB#3, 1914, with 1928, 1932, and 1938 additions); the E. B. Ficklen Factory (CB#4, ca. 1916, with additions ca. 1923, ca. 1925, ca. 1945, and ca. 1950); the Gorman Warehouse (CB#5, 1927); and the Star Warehouse (CB#6, 1930). Once part of a more extensive group, these buildings form the largest and best preserved collection of early-twentieth-century tobacco-related resources surviving in Greenville; the others have been demolished or altered beyond recognition as historic buildings. Equally important though less prominent in appearance than the buildings, a system of CSX (formerly Norfolk and Southern) Railroad tracks (CS#l, 1907) provided the incentive around which the historic district developed. With the exception of the Gorman Warehouse (CB#5), all contributing buildings have long facades adjacent to the railroad. Elsewhere in the district, the Greenville Produce Company Warehouse (NCB#1 [Non-contributing Building]), does not yet meet the age requirements for listing in the National Register and a small vacant lot, (NC Site #1 [Non-contributing Site]), once the location of factory housing, serves as an informal park where workers meet at lunch time. Neither of the non-contributing resources provides a distraction from the tobacco industry buildings, and the district is eligible for listing in the National Register for its local significance to the city of Greenville. It meets the requirements of Criterion, A for its contributions to the commerce and industry of Greenville, and Criterion C for the architecture of its important intact grouping of eclectic tobacco industry buildings. The period of significance begins in 1905, when the earliest contributing building is thought to have been constructed, and continues through 1947, the last year for which the district is eligible for listing in the National Register.
</p>
<p>
  [Page 2, Section number 7]
</p>
<p>
  The district encompasses one city block and contiguous portions of six others variously bounded by public streets, the CSX Railroad tracks (CS#1), and the perimeters of several contributing buildings. Portions of Eighth Street, Ninth Street, and the perimeters of the E. B. Ficklen Factory (CB#4) form the north boundary; portions of Washington Street, Greene Street, and the perimeter of the Dail-Ficklen Warehouse (CB#2) form the east boundary; portions of Twelfth and Eleventh Streets, and the perimeters of the small park (NC Site #1) form the south boundary; and portions of Greene Street, the CSX Railroad tracks (CS#1), Pitt Street, Ficklen Street, and the perimeters of the Prichard-Hughes and Gorman Warehouses (CB#1 and #5) form the west boundary.
</p>
<p>
  The district is narrow, in many places no wider than the dimensions of a contributing building, for adjacent land has unrelated uses or is vacant. Residential neighborhoods and vacant lots on the south, vacant lots, a gas station, and a convenience store on the east, several churches and a commercial sector on the north, and vacant lots and contemporary commercial buildings on the west further serve to define the district and distinguish the contributing buildings from their surroundings.
</p>
<p>
  Within the district, the contributing buildings abut streets and sidewalks busy with workers going about their various jobs and with vehicles and pedestrians traveling to and from many destinations. Ninth Street, an east-west arterial, divides the southern two-thirds of the district, laid out in a north-south-oriented grid, from the northern third where Eighth and Ficklen Streets, short pass-throughs oriented in a northwest-southeast direction, form forty-five degree angles at their junctures with Washington and Ninth Streets.
</p>
<p>
  Except for the Gorman Warehouse (CB#5), all contributing buildings have long facades adjacent to the CSX Railroad tracks (CS#1). The railroad travels through the district in a north-south direction for two blocks along Pitt Street and turns west between Tenth and Ninth Streets to join a spur line that extends in a curve southwest from the E. B. Ficklen factory and the Star Warehouse (CB#4 and #6). The two sections of track come together in a V that is situated between Ninth and Ficklen Streets on the western boundary of the district, and tracks travel west for a short distance outside the district before turning northsouth again to parallel the former Atlantic Coast Line Railroad tracks. The tracks of both railroads are infrequently used, only an occasional train still serves the U. N. X. Chemical Company now housed in the E. B. Ficklen Factory and Star Warehouse (CB#-4 and #6).
</p>
<p>
  [Page 3, Section number 7]
</p>
<p>
  Landscaping in the district provides some relief from the mass of buildings and pavement. At the corner of Eleventh and Greene Streets, workers frequently meet for lunch on a lawn-covered vacant lot (NC Site #1) across from the Export Leaf Factory (CB#3). Across the street, a row of dogwoods grows on a thin strip of lawn adjacent to the Export Leaf Factory (CB#3), and a few trees and shrubs have been planted around the Prichard-Hughes Warehouse (CB#1). On Tenth Street, a number of crepe myrtle bushes, luxuriant with purple flowers in the summer, decorate the front of the Export Leaf Factory (CB#3). Other plant growth is voluntary; weeds sprout along the foundations of many buildings and along the railroad right-of-way, and a vine erratically climbs the east and west facades of the Dail-Ficklen Warehouse (CB#2).
</p>
<p>
  The district’s six contributing buildings are one- to three-stories in height, rectangular or polygonal in form, with hip or gable roofs, and of fire-proof construction. The Prichard-Hughes Warehouse (CB#1), the Dail-Ficklen Warehouse (CB#2), the main block of E. B. Ficklen Factory (CB#4), and the Export Leaf Factory (CB#3) have thick plank or concrete floors and heavy timber supports characteristic of slow-burn construction, while the Gorman and Star Warehouses (CB#5 and #6) and the rear wing of the E. B. Ficklen Factory (CB#4) have concrete floors and steel truss supports. The primary building material, brick, was used for construction of industrial buildings with great frequency in Greenville during the early twentieth century after a series of devastating fires near the present historic district. Four of six contributing buildings, the Export Leaf Factory, the E. B. Ficklen Factory, the Gorman Warehouse and the Star Warehouse (CB#3, #4, #5, and #6), have exterior walls that are entirely made of brick, and the Prichard-Hughes and Dail-Ficklen Warehouses (CB#1 and #2) respectively incorporate brick to a lesser and greater extent. Metal, too, plays a significant visual role. It is found throughout the district on loading doors and ventilators, and is especially notable on four tanks and a network of connecting pipes on the roof of the Star Warehouse (CB#6) and a water tank on the south facade of the Export Leaf Factory (CB#3). Wood and concrete block are also present; the Prichard-Hughes Warehouse (CB#1) is of frame construction (although recently covered with artificial siding), and a wing joined to the Dail-Ficklen Warehouse (CB#2) is partly of concrete block construction.
</p>
<p>
  The overall size and interior design of each building suit its purpose as a sales warehouse, processing factory, or storage warehouse. The Gorman and Star Warehouses (CB#5 and #6) are massive one-story structures, each covering half a city block or more to supply the large floor areas necessary for tobacco sales. Parapeted entrances enhance both structures; the Star Warehouse (CB#6) has a stylish Art Deco
</p>
<p>
  [Page 4, Section number 7]
</p>
<p>
  entry with English bond brickwork and tile insets, and the Gorman Warehouse (CB#5) plain raised parapets at gable ends. The enormous size and interior layout of the Export Leaf and E. B. Ficklen Factories (CB#3 and #4) accommodated processing plants where tobacco was sorted, redried, and packed into hogsheads (large barrels that contained approximately 1,000 pounds of tobacco) for shipping or storage. On the exterior, each is decorated to convey a positive corporate image. The one-story Export Leaf Factory (CB#3) is divided into dozens of evenly spaced bays by stone capped pilasters, while the one- to three-story E. B. Ficklen Factory (CB#4) has rows of segmental-arched windows and high raked parapets with prominent painted lettering identifying the company. The Prichard-Hughes and Dail-Ficklen Warehouses (CB#1 and #2) are by comparison to the other buildings, smaller and simpler structures. Intended as storage space for aging tobacco, their dimensions were largely determined to suit the size and arrangement of hogsheads.
</p>
<p>
  Integrity Statement:<br/>
  During the period of significance, growing businesses and improvements in technology required new or enlarged facilities, and extensive additions and alterations were made to all contributing buildings in the historic district except the Star Warehouse (CB#6). Since 1947, modifications to the contributing buildings have been relatively few; a brick-and-concrete block wing was joined to the Dail-Ficklen Warehouse (CB#2), a brick wing was added to the E. B. Ficklen Factory (CB#4), artificial siding and replacement windows were installed on the Prichard-Hughes Warehouse (CB#1), windows around the Gorman Warehouse (CB#5) were filled with brick and concrete block, and skylights were removed from the Star Warehouse (CB#6) and large storage tanks set up on its roof. As the needs of the tobacco industry changed in the I960s and 70s, processing and storage facilities were shut down in Greenville, and sales warehouses constructed at the outskirts of the City. In the historic district, the Gorman Warehouse (CB#5) alone continues to house a tobacco business; the other buildings are currently used for a miscellaneous variety of industrial and commercial functions. Notwithstanding these changes, the district conveys the appearance of an early-twentieth-century tobacco marketing and processing center, and with the above mentioned exceptions, its six contributing buildings are intact, seeming much as they were when they served various tobacco enterprises.
</p>
<p>
  [Page 5, Section number 7]
</p>
<p>
  Inventory List. (CB = Contributing Building, NCB = Non-contributing Buildings, CS = Contributing Structure, NC Site = Non-contributing Site).
</p>
<p>
  The following inventory list is keyed to the accompanying 1" to 200" G.I.S. map titled Tobacco Warehouse Historic District Greenville.
</p>
<p>
  1. CB#1. Prichard-Hughes Warehouse. Northwest corner Eleventh Street and CSX Railroad tracks, ca. 1905 and ca. 1923.
</p>
<p>
  The only surviving frame structure and one of the earliest tobacco industry buildings remaining in Greenville, the Prichard-Hughes Warehouse, appears first on a 1905 Sanborn map as the George S. Prichard Tobacco Company Stemmery and Prizery. The two-story building with entries on both gable ends is distinguished by a prominent ventilator along its roof ridge and, on visible facades, has five bays on the south gable end facing Eleventh Street, and fifteen bays on the east eaves side facing
</p>
<p>
  [Page 6, Section number 7]
</p>
<p>
  Pitt Street. Massive supporting timbers and plank floors characteristic of slow-burn construction are found on the interior, and a central lift, depicted on the 1905 Sanborn map, remains in place. Subsequent to the Prichard Company, the Hughes-Meade Company, ca. 1911, and the Hughes-Thomas Company, ca. 1916, utilized this building as a prizehouse. By 1923, Sanborn maps show that the John E. Hughes Company had enlarged the frame warehouse to its present 174’ by- 110’ dimensions, adding a small one story frame office to the north facade and a narrow flat-roofed brick prizehouse with segmental-arched windows and stepped parapets on the north and south ends to the west facade. Hughes installed two large interior metal fire doors to separate the brick and frame structures, for the latter then became a tobacco storage warehouse. After 1926, the building was used for processing and storage by the W. C. Thomas Tobacco Company until 1935, and for storage alone by the Greenville Storage and Inspection Company until 1948, and by the E. B. Ficklen Tobacco Company (after 1963 a part of Carolina Leaf Tobacco) until 1964. The Bostic-Suggs Furniture Company purchased the building that year, and it has since been used as a furniture warehouse in association with the firm’s sales operations in a nearby building. Recent renovations have included replacement of windows throughout the building and the installation of artificial siding on the frame warehouse and office wing.
</p>
<p>
  2. CB#2 Dail-Ficklen Warehouse. Tenth Street at the junction of the CSX Railroad tracks, ca. 1909, ca. 1923, 1947, and 1963.
</p>
<p>
  Pitt County deeds identify the oldest brick building in the Tobacco Warehouse Historic District as the Pitt County Union Warehouse, owned and operated by W. H. Dail, Jr., and C. O’H. Laughinghouse. The building is found first on a 1911 Sanborn map, then called Dail’s Tobacco Storage Warehouse. It is a small structure oriented along a north-south axis that is well set back from Tenth Street and has two interior divisions. Subsequent Sanborn maps show that the E. B. Ficklen Company occupied the building in 1916, and had added by that year a loading platform (now gone) adjacent to the railroad tracks on the west facade, and by 1923, a third and front section to the south facade of the warehouse to provide maximum accessibility from Tenth Street. The Liggett and Myers Company acquired the warehouse in 1924, and operated a storage and shipping facility on the site until, in 1977, the Dixie Supply Company, a wholesaler of plumbing equipment, purchased the property.<sup>1</sup> Ownership of the warehouse was thus consolidated with that of a one-story brick building fronting on Ninth Street constructed in 1947 for the Greenville Freezer Locker Company that had been enlarged and joined to the warehouse by an L-shaped brick and-concrete block connector in 1963.<sup>2</sup> The entire brick-and-block wing was renovated in 1986 when the property was sold to the R. E. Michel Company, a distributor of heating and cooling equipment that currently has its sales offices there and uses the Dail-Ficklen Warehouse for storage.<sup>3</sup>
</p>
<p>
  Large painted letters identify the LIGGETT &amp; MYERS TOBACCO CO. on the front of the one-story, rectangular, 151’ by 132’ Dail-Ficklen Warehouse. The building is otherwise relatively plain. Exterior brick walls are without ornament, laid flush in a 5:1 common bond, and rise to form low parapets, stepped on the south and north facades, that conceal a shallow gable roof. Fenestration is chiefly segmental-arched loading docks; these are secured by metal-clad doors and variously placed to access three internal storage units of slow-burn construction. Six motor freight docks, two per storage unit, are arranged so that pairs on the east facade serve the middle and rear units, and singles on the east and south facades serve the front unit. Five rail freight docks on the west facade are opposite corresponding east-facing docks, although the pair serving the central unit has been bricked in. Other fenestration includes three pairs of rectangular nine over-nine sash windows and a six-panel entry door with a four-light transom that serve a small office at the southeast corner of the building and a new vehicular entry on the north facade.
</p>
<p>
  An L-shaped brick-and-concrete block wing that houses the offices of the R. E. Michel Company abuts the warehouse on the north facade. A one story structure measuring approximately 73’ by 143’, it is painted white and decorated with prominent signage
</p>
<p>
  [Page 7, Section number 7]
</p>
<p>
  for the Michel Company. Fenestration is minimal, however, and the height and positioning of the wing do not overwhelm the early-twentieth-century warehouse.
</p>
<p>
  3. CB#3. Export Leaf Factory. 301 West Tenth St., 1914, 1928, 1932, and 1938.
</p>
<p>
  In 1914, shortly after the dissolution of the American Tobacco Trust, the Export Leaf Tobacco Company located a purchasing office and processing plant in Greenville.<sup>4</sup> The large tobacco exporter, then headquartered in Richmond, VA, purchased scrap and common leaf in Eastern Belt markets, redried it, and shipped it to China. The company’s initial Greenville facility, a large brick prizery and cooperage, is pictured on a 1916 Sanborn map as covering the western half of a city block bounded by Tenth, Eleventh, Greene, and Pitt Streets. As business grew, the company expanded its Greenville facility, in 1928, purchasing and remodeling the adjoining ca. 1923 Southern States Tobacco Warehouse to increase redrying capacity, in 1932, adding more redrying space, and in 1938, constructing the northeast section of the building fronting on Tenth Streets.<sup>5</sup> In 1974, the H. A. Haynie Company purchased the Export Leaf Factory and has used it since to house a polyester processing plant.<sup>6</sup> Its current use has little impact, and the building is perhaps the best preserved of all the tobacco buildings that remain in Greenville.
</p>
<p>
  When the 1938 addition was completed the Export Leaf Factory was, as it is presently, a gigantic 282’ by 226’ brick structure of slow-burn construction that covers an entire city block. Within the building, there are eight major divisions separated by brick firewalls and metal doors. Thick exterior walls of red brick, laid in 6:1 common bond, rise to a multi-level parapet to protect a shallow, many-gabled roof dotted with skylights. Long exterior walls are divided into a series of regular rhythmic bays by pilasters ornamented with rectangular limestone insets and caps. Except where there are pedestrian entrances or loading docks, each bay contains two segmental-arched openings fitted with a rectangular three-over-three double-hung window, or on the south facade, two rectangular openings, each with a large eight-over-twelve double hung window. Though the building is generally uniform in appearance, each facade differs slightly. On the east, there are eighteen bays, including a center one recessed for two loading docks. On the north, there are thirteen bays that include the entrance to a small office at the northeast corner of the building. On the west, there are fifteen bays that adjoin a long railroad platform that runs the length of the facade facing the CSX tracks. On the south, there are eleven bays adjacent to a rectangular utility wing that contains a cylindrical 20,000-gallon metal water tank serving an interior sprinkler system and a tall yellow brick smokestack with black tile decoration on its
</p>
<p>
  [Page 8, Section number 7]
</p>
<p>
  cap erected by "M. W. Kellogg and Co. Chimney Builders, New York" that once vented smoke from a coal furnace used to heat the leaf dryers.
</p>
<p>
  4. CB#4. E. B. Ficklen Factory. 115 Ficklen St., ca. 1916, ca. 1923, ca. 1925, ca. 1945, and ca. 1950.
</p>
<p>
  In 1902, a small wooden structure that had been the B. E. Parham Prizery and Stemmery was purchased by E. B. (Edward Bancroft) Ficklen after the dissolution of his partnership with T. E. Roberts of Virginia. At that time the building reportedly housed a room into which trucks loaded with tobacco were driven and steam piped in until the leaf was properly cured. A Proctor and Swarts redrying machine was added shortly and a separate brick wing constructed for drying equipment by 1916. Alterations and additions made by 1925 brought the three-story main block of the factory to its present size. High raked parapets and a prominent painted sign, E. B. FICKLEN CO., INC. ESTB. 1896, on the main, southwest elevation identify and distinguish this three-story 48,404 square foot rectangular building. It is constructed of brick laid in a 5:1 common bond, and has a prominent gable roof that has been recently covered with a light colored composition material. Rows of two-over-two segmental-arched windows break its mass on all three levels, and on the first floor are arranged to accommodate various pedestrian and vehicular entries and loading docks. On the long southeast facade, shallow pilasters further relieve the mass of this huge building, dividing it vertically into six approximately equal bays.
</p>
<p>
  Additions made by 1945 completed the large rectangular one-story wing of 17,206 square feet on the northwest side of the main block. Intended to house three Proctor steam dryers, it is made of brick laid in a 5:1 common bond and has fenestration of the same style as the main block, though only on the front facade. A long enclosed drive at the northwest end of the building allowed ten trucks loaded with tobacco to enter.
</p>
<p>
  A metal-clad firedoor at the rear of the main block led to a two-story brick receiving warehouse of approximately 25, 000 square feet constructed ca. 1950 on Eighth Street. This building has a low gable roof, a shallow raked parapet, and like the main block, large painted letters identifying the E. B. Ficklen Company.
</p>
<p>
  E. B. Ficklen, and later his sons, James and Lewis, operated one of Greenville’s largest and most successful leaf dealerships for many years with both domestic and foreign clients. In 1964 the Ficklen Company and three other tobacco companies merged to form the Carolina Leaf Tobacco Company. The factory building was sold in 1974 to
</p>
<p>
  [Page 9, Section number 7]
</p>
<p>
  Northrup King, and by that company in 1984 to the U. N. X. Chemical Company, a manufacturer of agricultural and industrial chemicals.
</p>
<p>
  5. CB#5. Gorman Warehouse. 215 West Eleventh Street, ca. 1926.
</p>
<p>
  Designed to provide maximum floor space for marketing tobacco, the one-story 380’ by 150’ Gorman Warehouse is made of brick-faced tile and fills the western half of a city block bounded by Eleventh, Twelfth, Greene, and Washington Streets. The building is mottled in appearance where weathered red brick is intermittently exposed through white paint. Long walls dominate each facade. Segmental-arched windows have been filled with brick on the north and west facades, and rectangular windows have been filled with block on the east facade. Existing fenestration is minimal. There are two doors that serve an office on the north facade, symmetrical vehicular entrances at either side of the north and south facades, and six loading docks spaced irregularly along the west facade. On the interior, floors are concrete, and steel trusses support a shallow-pitched double-gable roof punctuated by 156 skylights. Gable ends on the north and south facades are concealed by raised parapets. Single tobacco leaves, angled decoratively at both ends of the parapet on the south facade, are the only painted ornaments on the building. A long narrow brick wing, original to the building, adjoins the east facade, and its exposed wall is divided by a grid of simple pilasters. A Sanborn map with paste-over updates to 1958 reveals that a large receiving warehouse (not in the district), thought to have been constructed about 1942, once filled the remainder of the block east of the present structure.
</p>
<p>
  J. N. Gorman came to Greenville in 1896, and was a partner in several successive tobacco-related ventures including the Gorman, Campbell Company, the Gentry and Gorman Sales Warehouse, and the J. N. Gorman and Sons Sales Warehouse before, constructing this building as Gorman’s New Tobacco Sales Warehouse in 1926. Gorman operated another tobacco sales warehouse in Metter, Georgia, and in 1929, was killed in an automobile accident while traveling there to attend a stockholders’ convention.<sup>7</sup> Subsequently the Greenville warehouse was operated by Gorman’s sons, R. W., T. M., and E. C. Gorman, until 1936, then by O. L. Joyner, Jr., Matt Long, and Jack Moye until 1942, then by O. L. Joyner, Jr., and Gus Forbes as the Victory Warehouse until 1975, and then by Larry and William Hudson and partners as Hudson’s Warehouse until recently. Now called the 531 Planters’ Warehouse and leased by the Hudson family to James Mills who continues to hold tobacco sales there, the building is the sole structure in the historic district that is used for its original purpose.
</p>
<p>
  [Page 10, Section number 7]
</p>
<p>
  6. CB#6. Star Warehouse. 200 West Ninth St., 1930.
</p>
<p>
  Greenville’s fourth tobacco sales warehouse was opened at the site of the present brick building in 1896 by C. D. Rountree and Wiley Brown. The one-story frame structure, called the Star Warehouse, then also housed a prizery. After Rountree and Brown, the Star was operated solely as a sales warehouse, and enlarged ca. 1911 by the Farmers Consolidated Tobacco Company, an early tobacco growers’ marketing cooperative. When the cooperative dissolved, Guy V. Smith and Bruce B. Sugg took over the Star’s operations in 1914, expanding the building in 1917 with a frame addition, and again in 1918 with a large brick addition. The present building was constructed in 1930 after a fire destroved the earlier structure.<sup>8</sup> Messrs. Smith and Sugg operated or leased the Star Warehouse until it was sold to the U. N. X. Chemical Company, a manufacturer of agricultural and industrial chemicals, in 1975.
</p>
<p>
  A stylish Art Deco entry facade distinguishes the mammoth one-story Star Warehouse, an irregular heptagon-shaped building of 76,000 square feet that conforms to the angular intersections of Eighth, Washington, Ninth, and Ficklen Streets and abuts a ca. 1950 wing of the E. B. Ficklen Factory on Eighth Street. A heptagonal hip roof follows the shape of the building, rising to a central plateau where four large cylindrical metal tanks connected by a network of pipes are installed. Skylights have been removed and the roof recently covered with a light-colored composition material. Facing Ninth Street, the distinctive entry facade is made of dark red brick laid in an English bond is divided into eight bays by pilasters ornamented with stone caps. Surmounting the fenestration on each bay is a diamond-shaped tile inset encircled with brick. Elsewhere on the building, walls are lighter colored brick, laid in a 5:1 common bond, and except on the short Eighth Street facade, have four-course corbelled cornices. Simple pilasters divide the walls into multiple bays that contain segmental-arched windows or loading doors.
</p>
<p>
  7. CS#1 System of CSX (formerly Norfolk and Southern) Railroad Tracks. Pitt Street and between Ninth and Ficklen Streets, 1907.
</p>
<p>
  Constructed along the eastern periphery of a small group of tobacco industry buildings in 1907, the CSX (formerly Norfolk and Southern) Railroad tracks travel through the district in a north-south direction for several blocks along Pitt Street and turn west between Tenth and Ninth Streets to join a spur line that extends in a southwest oriented curve from the E. B. Ficklen factory and the Star Warehouse (CB#4 and CB#6). At their juncture, the two segments of tracks form a V that is situated between Ninth and Ficklen Streets on the northwest boundary of the district. The
</p>
<p>
  [Page 11, Section number 7]
</p>
<p>
  tracks travel west outside the district for a short distance before turning north to parallel the former Atlantic Coast Line Railroad tracks.
</p>
<p>
  The location of the CSX (formerly Norfolk and Southern) Railroad tracks provided the impetus around which the Greenville, NC Tobacco Warehouse Historic District eventually developed. With the exception of the Gorman Warehouse (CB#5), all contributing buildings have long facades adjacent to the railroad. Once providing a vital transportation link from the district’s warehouses and processing factories to numerous destinations around the country, the railroad tracks are now infrequently used. An occasional train still serves the U. N. X. Chemical Company presently housed in the E. B. Ficklen Factory and Star Warehouse (CB#4 and #6).
</p>
<p>
  8. NCB#1. Greenville Produce Company Warehouse. West Ninth Street, ca. 1950.
</p>
<p>
  Built over a foundation of concrete that is six feet high, the Greenville Produce Company Warehouse is a one-story, L-shaped, brick building with a flat roof that is concealed by a parapet capped with terra cotta coping. The main block measures approximately 120’ by 54’ and the ell, 54’ by 24’. Decorative pilasters and metal casement windows are placed irregularly around the exterior. The building is non-contributing because it does not yet meet the age requirements for listing in the National Register.
</p>
<p>
  9 .NC Site #l. Vacant Lot. Southwest corner, Eleventh and Greene Streets.
</p>
<p>
  A 119’ by 60’ lawn-covered vacant parcel of land, once the location of factory housing, now serves as an informal park where employees of the districts’ various businesses meet at lunch time. The small lot is non-contributing and does not distract from the tobacco industry buildings.
</p>
<p>
  Endnotes for Section 7:
</p>
<p>
  <sup>1</sup> Pitt County Deed Book, V-14, p. 217 and E-46, p. 807.<br/>

  <sup>2</sup> Personal interview with Dewey Page, former owner of Dixie Supply Company, 28 August 1996.<br/>

  <sup>3</sup> Page interview; Pitt County Deed Book 129, p. 46.<br/>

  <sup>4</sup> Pitt County Deed Book U-10, p. 513.<br/>
</p>
<p>
  [Page 12, Section number 7]<br/>
</p>
<p>
  <sup>5</sup> Reflector, 12 August 1938. Sanborn Maps show the building as complete by 1929 but the newspaper is likely the most reliable source.<br/>

  <sup>6</sup> Pitt County Deed Book K-.42, p. 351.<br/>

  <sup>7</sup> Reflector, 5 January 1929.<br/>

  <sup>8</sup> Reflector, 16 August 1937.<br/>

  <sup>9</sup> Jenkins, J. S., Viewing Greenville and Pitt County, Greenville, 1965, typescript document in collection of Joyner Library, East Carolina University, p. 6. [In the original National Register Nomination there is no number 9 endnote in the text]
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Betsy Gohdes-Baten, "Greenville, NC Tobacco Warehouse Historic District: National Register of Historic Places Registration Form" (Washington: United States Department of the Interior, National Park Service, 1997).</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Ref F264.G72 G74 1997 <a href="http://catalog.lib.ecu.edu/catalog/768234">View Catalog Record</a></td>
  </tr>
</table>
