---
layout: ecu
title:  "Tobacco Warehouse District Map"
customdate: ""
order: 6
---

{% include breadcrumbs.html %}

<h3>Betsy Gohdes-Baten, Greenville, NC Tobacco Warehouse Historic District: National Register of Historic Places Registration Form, 1997</h3>

<p>
  In 1996, the City of Greenville hired an architectural historian, Betsy Gohdes-Baten, to nominate the Greenville, NC, Tobacco Warehouse Historic District to the National Register of Historic Places. The nomination, which was completed in 1997, provides background information concerning the development of the tobacco industry in Greenville and Pitt County and describes the buildings in the district. Accompanying photographs depict these structures as they appeared when the nomination was submitted to the United States Department of Interior. These photos are provided courtesy of the North Carolina State Historic Preservation Office, Raleigh.
</p>

<div class="well">
  <label>Image from Manuscript</label><br/>
  <a href="../../img/NREG/3NREGmap.jpg"><img src="../../img/NREG/7NREGmap.jpg"></a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Betsy Gohdes-Baten, "Greenville, NC Tobacco Warehouse Historic District: National Register of Historic Places Registration Form" (Washington: United States Department of the Interior, National Park Service, 1997).</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Ref F264.G72 G74 1997 <a href="http://catalog.lib.ecu.edu/catalog/768234">View Catalog Record</a></td>
  </tr>
</table>
