---
layout: ecu
title:  "Photos"
customdate: ""
order: 7
---

{% include breadcrumbs.html %}

<h3>Betsy Gohdes-Baten, Greenville, NC Tobacco Warehouse Historic District: National Register of Historic Places Registration Form, 1997</h3>

<p>
  In 1996, the City of Greenville hired an architectural historian, Betsy Gohdes-Baten, to nominate the Greenville, NC, Tobacco Warehouse Historic District to the National Register of Historic Places. The nomination, which was completed in 1997, provides background information concerning the development of the tobacco industry in Greenville and Pitt County and describes the buildings in the district. Accompanying photographs depict these structures as they appeared when the nomination was submitted to the United States Department of Interior. These photos are provided courtesy of the North Carolina State Historic Preservation Office, Raleigh.
</p>

<div class="well">
  <label>Text and Images from Manuscript</label><br/>
  <p>
  [Page 1, Section number Photos]
</p>
<p>
NPSFormat 10-900-a<br/>
OMB Approval No. 1024-0018<br/>
(Rev. 8-86)<br/>
Unified States Department of the Interior<br/>
National Park Service<br/>
National Register of Historic Places<br/>
Continuation Sheet<br/>
Greenville, NC Tobacco Warehouse Historic District Pitt County, NC
</p>
<p>
Photographs: Greenville, NC Tobacco Warehouse Historic District
</p>
<p>
A. Name of property: Prichard-Hughes Warehouse and Export Leaf Factory, looking north<br/>
Location: Greenville, Pitt County, North Carolina<br/>
<a href="../../img/NREG/3NREG01A.jpg"><img src="../../img/NREG/7NREG01A.jpg"></a>
</p>
<p>
Photographer: Betsy Gohdes-Baten<br/>
Date: August, 1996<br/>
Location of original negative: North Carolina Division of Archives and History,	109 East Jones Street,	Raleigh, NC 27601-2807
</p>
<p>
B. Name of property: Prichard-Hughes Warehouse, south facade looking north<br/>
Location:	Greenville, Pitt County, North Carolina<br/>
<a href="../../img/NREG/3NREG01B.jpg"><img src="../../img/NREG/7NREG01B.jpg"></a>
</p>
<p>
Photographer: Betsy Gohdes-Baten<br/>
Date: August, 1996<br/>
Location of original negative: North Carolina Division of Archives and History,	109 East Jones Street,	Raleigh, NC 27601-2807
</p>
<p>
C. Name of property: Dail-Ficklen Warehouse, south facade looking north<br/>
Location: Greenville, Pitt County, North Carolina<br/>
<a href="../../img/NREG/3NREG01C.jpg"><img src="../../img/NREG/7NREG01C.jpg"></a>
</p>
<p>
Photographer: Betsy Gohdes-Baten<br/>
Date: August, 1996<br/>
Location of original negative: North Carolina Division of Archives and History,	109 East Jones Street,	Raleigh, NC 27601-2807
</p>
<p>
D. Name of property: Export Leaf Factory with smokestack, south facade looking north<br/>
Location: Greenville, Pitt County, North Carolina<br/>
<a href="../../img/NREG/3NREG01D.jpg"><img src="../../img/NREG/7NREG01D.jpg"></a>
</p>
<p>
Photographer: Betsy Gohdes-Baten<br/>
Date: August, 1996<br/>
Location of original negative: North Carolina Division of Archives and History,	109 East Jones Street,	Raleigh, NC 27601-2807
</p>
<p>
E. Name of property: Export Leaf Factory with water tank, south facade looking north<br/>
Location: Greenville, Pitt County, North Carolina<br/>
<a href="../../img/NREG/3NREG01E.jpg"><img src="../../img/NREG/7NREG01E.jpg"></a>
</p>
<p>
Photographer: Betsy Gohdes-Baten<br/>
Date: August, 1996<br/>
Location of original negative: North Carolina Division of Archives and History,	109 East Jones Street,	Raleigh, NC 27601-2807
</p>
<p>
F. Name of property: Export Leaf Factory, north facade looking south<br/>
Location: Greenville, Pitt County, North Carolina<br/>
<a href="../../img/NREG/3NREG01F.jpg"><img src="../../img/NREG/7NREG01F.jpg"></a>
</p>
<p>
Photographer: Betsy Gohdes-Baten<br/>
Date: August, 1996<br/>
Location of original negative: North Carolina Division of Archives and History,	109 East Jones Street,	Raleigh, NC 27601-2807
</p>
<p>
G. Name of property: E. B. Ficklen Factory, south facade looking north<br/>
Location: Greenville, Pitt County, North Carolina<br/>
<a href="../../img/NREG/3NREG01G.jpg"><img src="../../img/NREG/7NREG01G.jpg"></a>
</p>
<p>
Photographer: Betsy Gohdes-Baten<br/>
Date: August, 1996<br/>
Location of original negative: North Carolina Division of Archives and History,	109 East Jones Street,	Raleigh, NC 27601-2807
</p>
<p>
H. Name of property: E. B. Ficklen Factory, north facade looking southeast<br/>
Location: Greenville, Pitt County, North Carolina<br/>
<a href="../../img/NREG/3NREG01H.jpg"><img src="../../img/NREG/7NREG01H.jpg"></a>
</p>
<p>
Photographer: Betsy Gohdes-Baten<br/>
Date: August, 1996<br/>
Location of original negative: North Carolina Division of Archives and History,	109 East Jones Street,	Raleigh, NC 27601-2807
</p>
<p>
I. Name of property: Gorman Warehouse, southeast corner looking northwest<br/>
Location: Greenville, Pitt County, North Carolina<br/>
<a href="../../img/NREG/3NREG01I.jpg"><img src="../../img/NREG/7NREG01I.jpg"></a>
</p>
<p>
Photographer: Betsy Gohdes-Baten<br/>
Date: August, 1996<br/>
Location of original negative: North Carolina Division of Archives and History,	109 East Jones Street,	Raleigh, NC 27601-2807
</p>
<p>
J. Name of property: Star Warehouse, south facade looking northwest<br/>
Location: Greenville, Pitt County, North Carolina<br/>
<a href="../../img/NREG/3NREG01J.jpg"><img src="../../img/NREG/7NREG01J.jpg"></a>
</p>
<p>
Photographer: Betsy Gohdes-Baten<br/>
Date: August, 1996<br/>
Location of original negative: North Carolina Division of Archives and History,	109 East Jones Street,	Raleigh, NC 27601-2807
</p>
<p>
K. Name of property: E. B. Ficklen Factory, southwest facade looking northeast<br/>
Location: Greenville, Pitt County, North Carolina<br/>
<a href="../../img/NREG/3NREG01K.jpg"><img src="../../img/NREG/7NREG01K.jpg"></a>
</p>
<p>
Photographer: Betsy Gohdes-Baten<br/>
Date: August, 1996<br/>
Location of original negative: North Carolina Division of Archives and History,	109 East Jones Street,	Raleigh, NC 27601-2807
</p>
<p>
L. Name of property: System of C. S. X. Railroad Tracks, view looking northwest<br/>
Location: Greenville, Pitt County, North Carolina<br/>
<a href="../../img/NREG/3NREG01L.jpg"><img src="../../img/NREG/7NREG01L.jpg"></a>
</p>
<p>
Photographer: Betsy Gohdes-Baten<br/>
Date: August, 1996<br/>
Location of original negative: North Carolina Division of Archives and History,	109 East Jones Street,	Raleigh, NC 27601-2807
</p>
<p>
M. Name of property: Greenville Produce Co. Warehouse, north facade looking southeast<br/>
Location: Greenville, Pitt County, North Carolina<br/>
<a href="../../img/NREG/3NREG01M.jpg"><img src="../../img/NREG/7NREG01M.jpg"></a>
</p>
<p>
Photographer: Betsy Gohdes-Baten<br/>
Date: August, 1996<br/>
Location of original negative: North Carolina Division of Archives and History,	109 East Jones Street,	Raleigh, NC 27601-2807
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Betsy Gohdes-Baten, "Greenville, NC Tobacco Warehouse Historic District: National Register of Historic Places Registration Form" (Washington: United States Department of the Interior, National Park Service, 1997).</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Ref F264.G72 G74 1997 <a href="http://catalog.lib.ecu.edu/catalog/768234">View Catalog Record</a></td>
  </tr>
</table>
