---
layout: ecu
title:  "Map of Greenville Tobacco Warehouse District"
customdate: "1913"
order: 1
---

{% include breadcrumbs.html %}

<h3>[Map of Greenville Tobacco Warehouse District], 1913</h3>
<p>
  This map shows tobacco warehouses and processing plants in the area of Greenville bordered by Twelfth Street, Greene Street, Dickinson Avenue, and the Atlantic Coast Line Railroad.
</p>
<div class="well">
  <label>Image from Map</label><br/>

<a href="../../img/TMAP/3TMAP001.jpg">
  <img src="../../img/TMAP/7TMAP001.jpg">
</a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Map of Greenville Tobacco Warehouse District], 1913, Map Book 1, p. 35.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Office of Register of Deeds, Pitt County Courthouse, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Map Book 1, p. 35</td>
  </tr>
</table>
