---
layout: ecu
title:  "One of the First Tobacco Barns in Pitt County"
customdate: "1911"
order: 9
---

{% include breadcrumbs.html %}

<h3>One of the First Tobacco Barns in Pitt County, <em>Sketches of Pitt County</em>, 1911</h3>
<p>
  This image appeared in the "Tobacco Department" column of the <em>Eastern Reflector</em> dated November 13, 1895. The article states that the tobacco barn was built by Jacob Joyner in February, 1886--the first tobacco barn ". . . east of the Wilmington &amp; Weldon Railroad."
</p>
<div class="well">
  <label>Image from Typed Letter</label><br/>

<a href="../../img/BARN/3BARN001.jpg">
  <img src="../../img/BARN/7BARN001.jpg">
</a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Henry T. King, <em>Sketches of Pitt County: A Brief History of the County, 1704-1910</em> (Raleigh: Edwards &amp; Broughton Printing Company, 1911), 176.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Ref F262 P6 K56 <a href="http://digital.lib.ecu.edu/16821">View Item in Digital Collections</td>
  </tr>
</table>
