---
layout: ecu
title:  "[Letterhead of Evans &amp; Hooker, Greenville, NC], 28 September 1899"
customdate: "1899 September 28"
order: 5
---

{% include breadcrumbs.html %}

<h3>[Letterhead of Evans &amp; Hooker, Greenville, NC], 28 September 1899</h3>
<p>
  Owners of tobacco warehouses in Greenville used stationery with interesting design elements. This letter is inlcluded as an example of letterhead used around the turn of the twentieth century by warehousemen.
</p>
<div class="well">
  <label>Image from Autographed Letter Signed</label><br/>

<a href="../../img/EVAN/3EVAN001.jpg">
  <img src="../../img/EVAN/7EVAN001.jpg">
</a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Evans & Hooker to Col. J. B. Grimes, September 28, 1899, Greenville, NC, J. Bryan Grimes Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>J. Bryan Grimes Papers, #54.6.a <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0054">View Collection Guide</a></td>
  </tr>
</table>
