---
layout: ecu
title:  "J. Byran Grimes, To the Tobacco Planters of North Carolina"
customdate: "1899 November 16"
order: 6
---

{% include breadcrumbs.html %}

<h3>J. Byran Grimes, To the Tobacco Planters of North Carolina, 16 November 1899</h3>
<p>
  J. Bryan Grimes, a prominent farmer from Grimesland, in Pitt County, served around the turn of the twentieth century as president of the North Carolina Tobacco Growers Association. He took a leadership role in calling a meeting held in Raleigh in January, 1900, to organize farmers in fighting the "Tobacco Trust."
</p>
<div class="well">
  <label>Text and Image from Manuscript</label><br/>

<a href="../../img/GROW/3GROW001.jpg">
  <img src="../../img/GROW/7GROW001.jpg">
</a><br/><br/>
<p><b>
Transcription for the images above:
</b></p>
<p>
To The Tobacco Planters of North CarolinaBy authority of the North Carolina Tobacco Growers Association formed in Raleigh Oct. 19 1899 I call a convention of the Tobacco Planters of N. C. to assemble in Raleigh Dec. 6th 1899.Planters in every tobacco growing county are requested to form County Associations and send delegates, as many as they wish, to this convention. In counties where no local organization is formed, individual growers are urged to attend, so that if possible, all the tobacco growing sections of the state will be represented. Planters from Va. and S. C. are asked to join us.Representatives of the Tobacco Journals, Manufacturers, and Warehousemen of the state are invited to be present and furnish such data and information as they may have which will aid us in ascertaining the true cause of the present depression in the prices of leaf tobacco.The continually diminishing prices have been keenly felt by every planter and it is hoped that in this convention some practical plan may be evolved by which producers with judicious conservative, and persistent concert of action may better their condition.If the prevailing low prices are due to over-production, we should face the situation and endeavor to remedy it: if it is found that the price is fixed by arbitrary methods we should vigorously protest and determine to make that protest affectual [effectual]. Every intelligent farmer should recognize the avantages [advantages] to be secured by intelligent organization and determined co-operation.J. Bryan GrimesPresident N. C. Tobacco Growers AssociationGrimesland N. C. Nov. 6th 1899State papers favorable to this movement, please copy.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>J. Byran Grimes to the Tobacco Planters of North Carolina, November 16, 1899, Grimesland, NC, J. Bryan Grimes Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>J. Bryan Grimes Papers, #54.14.i <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0054">View Collection Guide</a></td>
  </tr>
</table>
