---
layout: ecu
title:  "H. W. Coward, [Letterhead of Coward, Hooker &amp; Company, Greenville, NC]"
customdate: "1902 January 20"
order: 7
---

{% include breadcrumbs.html %}

<h3>H. W. Coward, [Letterhead of Coward, Hooker &amp; Company, Greenville, NC], 20 January 1902</h3>
<p>
  Owners of tobacco warehouses in Greenville used stationery with interesting design elements. This letter is included as an example of letterhead used around the turn of the twentieth century by warehousemen.
</p>
<div class="well">
  <label>Image from Autographed Letter Signed</label><br/>

<a href="../../img/HOOK/3HOOK001.jpg">
  <img src="../../img/HOOK/7HOOK001.jpg">
</a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>H. W. Coward to J. W. Grainger, Esq., January 20, 1902, Greenville, NC, Jesse W. Grainger Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Jesse W. Grainger Papers, #352.1.a <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0352">View Collection Guide</a></td>
  </tr>
</table>
