---
layout: ecu
title:  "Leaf Packing Factories of the Imperial Tobacco Co. in America"
customdate: "1922"
order: 11
---

{% include breadcrumbs.html %}

<h3>Leaf Packing Factories of the Imperial Tobacco Co. in America: Farmville, The Imperial Tobacco Company of Great Britain and Ireland, 1922</h3>
<p>
  This view of the Imperial Tobacco Company's processing facility in Farmville, North Carolina, was taken about 1922.
</p>
<div class="well">
  <label>Image from Book</label><br/>

<a href="../../img/IMPE/3IMPE001.jpg">
  <img src="../../img/IMPE/7IMPE001.jpg">
</a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td><em>The Imperial Tobacco Company (of Great Britain and Ireland), Limited</em> ([Bristol, England: The Imperial Tobacco Company of Great Britain and Ireland, 1922]), unpaged.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Rare HD 9139 I44 I47 1922 <a href="http://catalog.lib.ecu.edu/catalog/607312">View Catalog Record</a></td>
  </tr>
</table>
