---
layout: ecu
title:  "O. L. Joyner, [Letterhead of the Eastern Tobacco Warehouse, Greenville, NC]"
customdate: "1895 March 22"
order: 4
---

{% include breadcrumbs.html %}

<h3>O. L. Joyner, [Letterhead of the Eastern Tobacco Warehouse, Greenville, NC], 22 March 1895</h3>
<p>
  Owners of tobacco warehouses in Greenville used stationery with interesting design elements. This letter is inlcluded as an example of letterhead used around the turn of the twentieth century by warehousemen.
</p>
<div class="well">
  <label>Image from Autographed Letter Signed</label><br/>

<a href="../../img/JOYN/3JOYN001.jpg">
  <img src="../../img/JOYN/7JOYN001.jpg">
</a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>O. L. Joyner to Col. J. Bryan Grimes, March 22, 1895, Greenville, NC, J. Bryan Grimes Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>J. Bryan Grimes Papers, #54.5.a <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0054">View Collection Guide</a></td>
  </tr>
</table>
