---
layout: ecu
title:  "Export Leaf Tobacco Co. (Greenville, NC) Payroll Sheets"
customdate: "1914 November 20"
order: 10
---

{% include breadcrumbs.html %}

<h3>Export Leaf Tobacco Co. (Greenville, NC) Payroll Sheets, 20 November 1914</h3>

<p>
In 1914, the Export Leaf Tobacco Company opened a purchasing office and processing plant in Greenville. The company bought scrap and common tobacco and employed workers to re-dry it, pack it in hogsheads, and prepare it for shipment to China. These pay records for the week ending November 20, 1914, list the workers engaged in various tasks and document the wages they earned. In order, the occupations are: fireman, cooper, cooper helper, "mch man," feeders, hand off, stick carrier, packers, line out, weighing, stenciling, transfer, sweepers, watchman, hangers, truck packers, sweepers, scrap pickers, toilet attendant, storage house, receiving, sale hands, loaders, and office & foremen.
</p>
<div class="well">
  <label>Images from Manuscript</label><br/>

<div class="row">
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/LEAF/3LEAF001.jpg"><img src="../../img/LEAF/7LEAF001.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/LEAF/3LEAF002.jpg"><img src="../../img/LEAF/7LEAF002.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/LEAF/3LEAF003.jpg"><img src="../../img/LEAF/7LEAF003.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/LEAF/3LEAF004.jpg"><img src="../../img/LEAF/7LEAF004.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/LEAF/3LEAF005.jpg"><img src="../../img/LEAF/7LEAF005.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/LEAF/3LEAF006.jpg"><img src="../../img/LEAF/7LEAF006.jpg" class="img-responsive"></a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/LEAF/3LEAF007.jpg"><img src="../../img/LEAF/7LEAF007.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/LEAF/3LEAF008.jpg"><img src="../../img/LEAF/7LEAF008.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/LEAF/3LEAF009.jpg"><img src="../../img/LEAF/7LEAF009.jpg" class="img-responsive"></a>
  </div>

</div>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Export Leaf Tobacco Co. (Greenville, NC) Payroll Sheets, November 20, 1914, Export Leaf Tobacco Company Records.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Export Leaf Tobacco Company Records, #254 <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0254">View Collection Guide</a></td>
  </tr>
</table>
