---
layout: ecu
title:  "[Letterhead of Parham &amp; Parham, Greenville, NC], 25 January 1904"
customdate: "1904 January 25"
order: 8
---

{% include breadcrumbs.html %}

<h3>[Letterhead of Parham &amp; Parham, Greenville, NC], 25 January 1904</h3>
<p>
  Owners of tobacco warehouses in Greenville used stationery with interesting design elements. This letter is inlcluded as an example of letterhead used around the turn of the twentieth century by warehousemen.
</p>
<div class="well">
  <label>Image from Typed Letter</label><br/>

<a href="../../img/PARH/3PARH001.jpg">
  <img src="../../img/PARH/7PARH001.jpg">
</a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Parham &amp; Parham to Dr. Carr., January 25, 1904, Greenville, NC, Elias Carr Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Elias Carr Papers, #160.3.c <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0160">View Collection Guide</a></td>
  </tr>
</table>
