---
layout: ecu
title:  "A Country Scene in Pitt County, N.C."
customdate: "undated"
order: 1
---

{% include breadcrumbs.html %}

<h3>A Country Scene in Pitt County, N.C., undated</h3>
<p>This undated postcard gives an impression of the rural character of Pitt County after the turn of the twentieth century.</p>
<div class="well">
  <label>Image from Postcard</label><br/>

<a href="../../img/PITT/3PITT001.jpg">
  <img src="../../img/PITT/7PITT001.jpg">
</a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>A Country Scene in Pitt County, N.C., Tabitha Marie DeVisconti Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Tabitha Marie DeVisconti Papers, #480.42.a, P-480/30 <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0480">View Collection Guide</a></td>
  </tr>
</table>
