---
layout: ecu
title:  "A Tobacco Field Near Greenville, N.C."
customdate: "undated"
order: 2
---

{% include breadcrumbs.html %}

<h3>A Tobacco Field Near Greenville, N.C., undated</h3>
<p>
  The unidentified man in this undated postcard seems almost lost among the mature tobacco plants.
</p>
<div class="well">
  <label>Image from Postcard</label><br/>

<a href="../../img/TFLD/3TFLD001.jpg">
  <img src="../../img/TFLD/7TFLD001.jpg">
</a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>A Tobacco Field Near Greenville, N.C., Frank M. Wooten, Jr. Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Frank M. Wooten, Jr. Papers, #126.12.m, PC-126/1 <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0126">View Collection Guide</a></td>
  </tr>
</table>
