---
layout: ecu
title:  "Report of the Bureau of Labor and Printing for Pitt County"
customdate: "1900"
order: 1
---

{% include breadcrumbs.html %}

<h3>Report of the Bureau of Labor and Printing for Pitt County, 1900</h3>

<p>
This letter is about a fence line dispute with an neighbor. The letterhead reflects Wilbur F. Askew's position as captain of the steamer S. A. McCALL owned by the Jamesville and Washington Rail Road Company. W. F. Askew left the BERTIE in October 1888 to take charge of the S. A. McCALL. He had navigated on the Cashie River for seventeen years before switching to the S. A. McCALL. (<em>Windsor Public Ledger</em>, 3 October 1888.)
</p>
<div class="well">
  <label>Text from Report</label><br/>
  <div class="text-center">
    <p>
      Fourteenth Annual Report
    </p>
    <p>
    of the
    </p>
    <p>
    BUREAU OF LABOR AND PRINTING
    </p>
    <p>
    of the
    </p>
    <p>
    State of North Carolina<br/>
    for the Year
    </p>
    <p>
    </p>
    <p>
    1900
    </p>
    <p>
    B. R. Lacy, Commissioner.
    </p>
    <p>
    W.E. Faison, Asst. Commissioner.
    </p>
    <p>
    Raleigh:
    </p>
    <p>
    Edwards &amp; Broughton, and E. M. Uzzell, State Printers.
    </p>
    <p>
    Presses of Edwards &amp; Broughton.
    </p>
    <p>
    1901
    </p>
  </div>
  <hr/>
  <p>
  <b>AGRICULTURAL STATISTICS</b>
</p>
<p>
  CONDITIONS OF FARMERS
</p>
<p>
  Average Table No. 1--<em>Showing Conditions of Farm Lands by Counties</em>.<br/>
  p.4 Pitt County
</p>
<table class="table">
<tr>
<td><center>Has Land Increased or Decreased in Value?</center></td>
<td><center>If so, What Per Cent?</center></td>
<td><center>Cause of Increase or Decrease</center></td>
<td><center>Fertility of Land Maintained?</center></td>
<td><center>Tendency to Have Larger or Smaller Farms?</center></td>
</tr>
<tr>
<td><center>No</center></td>
<td><center>---</center></td>
<td><center>---</center></td>
<td><center>Yes</center></td>
<td><center>smaller</center></td>
</tr>
</table>


<br/><br/>
<p>
Average Table No. 2--<em>Showing Condition of Farm Labor.</em><br/>
p. 6 Pitt County
</p>
<table class="table">
<tr> <td>Have Farmers Improved in TheirMode of Living?</td>
<td>Has Cost of Living Increased?</td>
<td>Is Negro Labor Reliable?</td>
<td>Is Labor Abundant or Scarce?</td>
<td>Cause of Abundance or Scarcity?</td>
<td>Is Employment Regular</td></tr>
<tr><td>Yes</td>
<td>Yes </td>
<td>No</td>
<td>Scarce</td>
<td>won’t work</td>
<td>yes</td></tr>
</table>

<br/><br/>
<p>
Average Table No. 3--<em>Showing Wages Paid Farm Labor.</em><br/>
p. 8 Pitt County
</p>
<table class="table">
<tr><td><center>Highest Wages Paid Men?</center></td>
<td><center>Lowest Wages Paid Men?</center></td>
<td><center>Highest Wages Paid Women?</center></td>
<td><center>Lowest Wages Paid Women?</center></td>
<td><center>Wages Paid Children?</center></td>
<td><center>Have Wages Increased or Decreased?</center></td></tr>
<tr><td><center>9.50</center></td>
<td><center>7.38</center></td>
<td><center>6.00</center></td>
<td><center>4.83</center></td>
<td><center>3.58</center></td>
<td><center>No</center></td></tr></table>
<br/><br/>

<p>
Average Table No. 4--<em>Showing Cost to Produce Crops.</em><br/>
p. 10 Pitt County
</p>
<table class="table">
<tr><td colspan="5"><center>Cost to Produce--</center></td></tr>
<tr><td><center>500-lb. Bale of
Cotton?</center></td>
<td><center>Bushel Wheat?</center></td>
<td><center>Bushel Corn?</center></td><td</td>
<td><center>Bushel
Oats?</center></td>
<td><center>100 Pounds Tobacco?</center></td></tr>
<tr><td><center>25.00</center></td>
<td><center>.55</center></td>
<td><center>.28</center></td>
<td><center>.28</center></td>
<td><center>6.00</center></td></tr></table>
<br/><br/>

<p>
Average Table No. 5--Showing Market Price of Crops.<br/>
p. 12 Pitt County
</p>
<table class="table"><tr><td colspan="5"><center>* Present Market Price--</center></td></tr>
<tr><td</td>
<td><center>Cotton?</center></td>
<td><center>Wheat?</center></td><td</td>
<td><center>Corn?</center></td><td</td>
<td><center>Oats?</center></td><td</td>
<td><center>Tobacco?</center></td></tr>
<tr><td><center>9 1/6</center></td>
<td><center>.90</center></td>
<td><center>.63</center></td>
<td><center>.43</center></td>
<td><center>7.20</center></td></tr></table><p>* Period
between June 15<sup>th</sup> and October 1<sup>st</sup>.
<br/><br/>

<p>
Average Table No. 6--Showing Educational, Moral and Financial Condition.<br/>
p.14 Pitt County
</p>
<table class="table">
<tr>
<td>Educational Condition of WorkingPeople?</td>
<td>Is It Improving?</td>
<td>Moral Condition of Working People?</td>
<td>Is It Improving?</td>
<td>Financial Condition of WorkingPeople?</td>
<td>Is It Improving?</td></tr>
<tr> <td>Fair </td>
<td>Yes</td>
<td>Fair</td>
<td>No</td>
<td>Bad</td>
<td>No</td></tr></table>
<br/><br/>

<p>
<b>MISCELLANEOUS FACTORIES</b><br/>
Tables 1--6<br/>
List of Miscellaneous Factories, Financial and SocialCondition of Employees.
</p>
<p>
Table No. 1 --<em>List of Miscellaneous Factories, ShowingPost office, Capital Stock, Etc.</em><br/>
pp. 140-141 Pitt County
</p>
<table class="table"><tr><td</td>
<td><center>Post-office</center></td>
<td><center>Name of Factory</center></td><td</td>
<td><center>Incorporated</center></td>
<td><center>Capital Stock</center></td><td</td>
<td><center>Name of President or Owner</center></td>
<td><center>Power</center></td>
<td><center>Number Horse Power</center></td></tr>
<tr><td><center>Winterville</center></td><td</td>
<td><center>Hunsucker Carriage Co</center></td>
<td><center>---</center></td><td  WIDTH="8%"><center>---</center></td>
<td><center>R. H. Hunsucker</center></td>
<td><center>---</center></td>
<td><center>---</center></td></tr>
<tr><td</td>
<td><center>Ayden</center></td><td</td>
<td><center>Ayden Lumber
Co</center></td>
<td><center>---</center></td><td  WIDTH="8%"><center>25,000</center></td>
<td><center>G. J. Cherry</center></td><td</td>
<td><center>Steam</center></td><td</td>
<td><center>325</center></td></tr></table>

<p>
<b>NEWSPAPERS IN THE STATE</b>
</p>
<p>
Table No. 1 –<em>Showing List of Newspapers in North Carolina.</em><br/>
pp. 214-215 Pitt County
</p>
<table class="table"><tr><td</td>
<td>>Town</td>
<td>Name of Paper</td>
<td>Name of Editor</td>
<td>Proprietor </td></tr>
<tr><td</td>
<td>>Ayden</td>
<td>Free-Will Baptist</td>
<td>Rev. E. T. Phillips</td>
<td>---</td></tr>
<tr><td>Greenville</td>
<td>King’s Weekly</td>
<td>H. T. King</td>
<td>---</td></tr>
<tr><td>Greenville</td>
<td>Eastern Reflector</td>
<td>D. J. Whichard</td>
<td>---</td></tr>
<tr><td>Greenville</td>
<td>Eastern Reflector</td>
<td>D. J. Whichard </td>
<td>---</td></tr></table>

<p>
Table No. 2. – <em>Showing Day of Publication, Number Employes[sic], Class of Paper, Etc.</em><br/>
pp. 226-227
</p>
<table class="table">
<tr><td</td>
<td><center>How Published?</center></td>
<td><center>Day of Publication?</center></td>
<td><center>All Home Print?</center></td><td</td>
<td><center>Typesetting Machines?</center></td>
<td><center>Number of Employes?</center></td>
<td><center>Class of Paper.</center></td><td</td>
<td><center>When Established?</center></td>
<td><center>Subscribtion Price?</center></td></tr>
<tr><td><center>Weekly</center></td><td</td>
<td><center>Wednesday</center></td>
<td><center>Yes</center></td>
<td><center>No</center></td>
<td><center>3</center></td>
<td><center>Free-Will Baptist</center></td>
<td><center>1879</center></td>
<td><center>1.00</center></td></tr>
<tr><td><center>Semi-weekly</center></td><td</td>
<td><center>Tuesday—Friday</center></td>
<td><center>Yes</center></td>
<td><center>No</center></td>
<td><center>4</center></td>
<td><center>Democratic</center></td><td</td>
<td><center>1894</center></td><td</td>
<td><center>.25</center></td></tr>
<tr><td><center>Daily</center></td>
<td><center>---</center></td>
<td><center>Yes</center></td>
<td><center>No</center></td>
<td><center>7</center></td>
<td><center>Democratic</center></td><td</td>
<td><center>1894</center></td><td</td>
<td><center>3.00</center></td></tr>
<tr><td><center>Semi-weekly</center></td><td</td>
<td><center>Tuesday—Friday</center></td>
<td><center>Yes</center></td>
<td><center>No</center></td>
<td><center>---</center></td>
<td><center>Democratic</center></td><td</td>
<td><center>1882</center></td><td</td>
<td><center>1.00</center></td></tr></table>


</div>
