---
layout: ecu
title:  "Report of the Department of Labor and Printing for Pitt County"
customdate: "1910"
order: 4
---

{% include breadcrumbs.html %}

<h3>Report of the Department of Labor and Printing for Pitt County, 1910</h3>

<p>
This letter is about a fence line dispute with an neighbor. The letterhead reflects Wilbur F. Askew's position as captain of the steamer S. A. McCALL owned by the Jamesville and Washington Rail Road Company. W. F. Askew left the BERTIE in October 1888 to take charge of the S. A. McCALL. He had navigated on the Cashie River for seventeen years before switching to the S. A. McCALL. (<em>Windsor Public Ledger</em>, 3 October 1888.)
</p>
<div class="well">
  <label>Text from Report</label><br/>
  <div class="text-center">
    <p>
      Twenty-Fourth Annual Report
    </p>
    <p>
of the
</p>
<p>
DEPARTMENT OF LABOR AND PRINTING
</p>
<p>
of the
</p>
<p>
State of North Carolina
</p>
<p>
1910
</p>
<p>
M. L. Shipman, Commissioner
</p>
<p>
GEO. B. Justice, Asst. Commissioner
</p>
<p>
Raleigh:
</p>
<p>
Edwards &amp; Broughton Printing Co., State Printers and Binders
</p>
<p>
1910
    </p>
  </div>
  <hr/>

  <p>
  <b>CONDITION OF FARMERS</b>
  </p>
  <p>
  Average Table No. 1--<em>Showing Condition Farm Land andLabor, by Counties</em><br/>
  p. 16 Pitt County
  </p>
  <table class="table">
  <tr><td><center>Value of Land Increased or Decreased?</center></td>
  <td><center>Fertility of Land Maintained?</center></td>
  <td><center>Tendency to Larger or Smaller Farms?</center></td>
  <td><center>Labor Plentiful or Scarce?</center></td>
  <td><center>Negro Labor Reliable?</center></td>
  <td><center>Employment Regular?</center></td>
  <td><center>Increase in Cost of Living?</center></td></tr>
  <tr><td><center>increased</center></td>
  <td><center>yes</center></td>
  <td><center>smaller</center></td>
  <td><center>scarce</center></td>
  <td><center>no</center></td>
  <td><center>yes</center></td>
  <td><center>yes</center></td></tr></table>
  <br/><br/>

  <p>
  Average Table No.  2.--<em> Showing Wages , FinancialCondition, Etc.</em><br/>
  p. 19 Pitt County
  </p>
  <table class="table"><tr><td rowspan="2"><center>Tendency Toward
  Diversification of Crops?</center></td><td rowspan="2"><center>Improvement in Method of Cultivation of
  Crops?</center></td><td colspan="5"><center>Wages</center></td><td rowspan="2"><center>Financial Condition of
  Working People.</center></td><td rowspan="2"><center>Improving?</center></td></tr>
  <tr><td><center>HighestPaid Men</center></td>
  <td><center>Lowest Paid Men</center></td>
  <td><center>Highest Paid Women</center></td>
  <td><center>Lowest Paid Women</center></td>
  <td><center>Children</center></td></tr>
  <tr><td><center>yes</center></td>
  <td><center>yes</center></td>
  <td><center>$24.44</center></td>
  <td><center>$13.52</center></td>
  <td><center>$14.56</center></td>
  <td><center>$8.06</center></td>
  <td><center>$9.40</center></td>
  <td><center>fair</center></td>
  <td><center>yes</center></td></tr></table>
  <br/><br/>

  <p>
  Average Table No. 3--<em>Showing Cost of Production.</em><br/>
  p. 21 Pitt County
  </p>
  <table class="table">
  <tr><td rowspan="2"><center>Wages Increased or Decreased?</center></td>
  <td colspan="5"><center>Cost of Produce--</center></td>
  </tr>
  <tr>
  <td><center>500-Pound Bale Cotton</center></td>
  <td><center>Bushel Wheat</center></td>
  <td><center>Bushel Corn</center></td>
  <td><center>Bushel Oats</center></td>
  <td><center>100 Pound Tobacco</center></td></tr>
  <tr><td><center>no</center></td>
  <td><center>30.60</center></td>
  <td><center>.42</center></td>
  <td><center>.38</center></td>
  <td><center>.25</center></td>
  <td><center>7.10</center></td></tr></table>
  <br/><br/>

  <p>
  Average Table No.  4--<em>Showing Road, Educational and Religious Conditions</em>.<br/>
  p. 24 Pitt County
  </p>
  <table class="table"><tr><td><center>Condition of Roads</center></td>
  <td><center>Improving?</center></td>
  <td><center>Educational
  Condition</center></td>
  <td><center>Improving?</center></td>
  <td><center>Religious and Moral Condition</center></td>
  <td><center>Improving?</center></td>
  <td><center>Favor Road Improvement by Taxation?</center></td></tr>
  <tr><td><center>fair</center></td>
  <td><center>yes</center></td>
  <td><center>fair</center></td>
  <td><center>yes</center></td>
  <td><center>fair</center></td>
  <td><center>yes</center></td>
  <td><center>yes</center></td></tr>
  </table>
  <br/><br/>

  <p>
  <b>MISCELLANEOUS FACTORIES</b>
  </p>
  <p>
  Table No. 1--<em>Factories by Counties, President , Secretary,Articles Manufactured, etc.</em><br/>
  pp. 86-87 Pitt County
  </p>
  <table class="table">
  <tr><td>Post Office</td>
  <td>Factory</td>
  <td>President</td>
  <td>Secretary or Treasurer</td>
  <td>Articles Manufactured</td>
  <td>Capital Stock</td>
  <td>Year Incorporated or CommencedBusiness</td>
  <td>Estimated Value of Plant</td></tr>
  <tr><td>Ayden</td>
  <td>Ayden Lumber Co.</td>
  <td>G.J. Cherry</td>
  <td>D. Gibb</td>
  <td>Pine, cypress, oak, gum lumber,etc.</td>
  <td>$15,600</td>
  <td>1900</td>
  <td>$50,000</td></tr>
  <tr><td>Ayden</td>
  <td>J. R. Smith Co.’s Mill</td>
  <td>J. R. Smith</td>
  <td>H. C. Ormond</td>
  <td>Lumber, trucks, etc.; grind andgin; electric current</td>
  <td>25,000</td>
  <td>1907</td>
  <td>10,000</td></tr>
  <tr><td>Farmville</td>
  <td>Farmville Oil and Fert. Co.</td>
  <td>R. L. Davis</td>
  <td>J. R. Morgan</td>
  <td>Fertilizers, cotton-seed products</td>
  <td>---</td>
  <td>1910</td>
  <td>---</td></tr>
  <tr><td>Greenville</td>
  <td>Cabinet Veneer Co.</td>
  <td>F. G. Perkins</td>
  <td>W. J. Rickey</td>
  <td>Veneer and panels</td>
  <td>73,300</td>
  <td>1909</td>
  <td>50,000</td></tr>
  <tr><td>Greenville</td>
  <td>Flanagan Buggy Co.</td>
  <td>E. G. Flanagan</td>
  <td>W. E. Hooker</td>
  <td>Buggies and carriages</td>
  <td>15,000</td>
  <td>1904</td>
  <td>15,000</td></tr>
  <tr><td>Greenville</td>
  <td>Greenville Lumber and Veneer Co.</td>
  <td>A.B. Miner</td>
  <td>Geo. H. Cole</td>
  <td>Lumber, box shooks, truck barrelsand baskets</td>
  <td>19,500</td>
  <td>1903</td>
  <td>20,000</td></tr>
  <tr><td>Pactolus</td>
  <td>Fleming, R.R.</td>
  <td>R.R. Fleming, Owner.</td>
  <td>---</td>
  <td>Lumber and shingles</td>
  <td>20,000</td>
  <td>1900</td>
  <td>8,000</td></tr>
  <tr><td>Winterville</td>
  <td>Cox, A. G., Mfg. Co.</td>
  <td>A. G. Cox</td>
  <td>R.H. Hunsucker</td>
  <td>Cotton planters, guano sowers,carts, wagons, buggies, etc.</td>
  <td>30,000</td>
  <td>1899</td>
  <td>13,000</td></tr></table>
  <br/><br/>

  <p>
  <b>NEWSPAPERS</b>
  </p>
  <p>
  Table No. 1–Showing List of Newspapers in North Carolina<br/>
  p. 252 Pitt County
  </p>
  <table class="table"><tr><td>Town</td>
  <td>Name of Paper</td>
  <td>How published</td>
  <td>Editor</td>
  <td>Proprietor</td></tr>
  <tr><td>Ayden</td>
  <td>Freewill Baptist</td>
  <td>Weekly</td>
  <td>E. T. Phillips</td>
  <td>Freewill Baptist Publishing Co.</td></tr>
  <tr><td>Greenville</td>
  <td>Daily Reflector</td>
  <td>(e) daily</td>
  <td>D. J. Whichard</td>
  <td>The Reflector Co.</td></tr>
  <tr><td>Greenville</td>
  <td>Carolina Home and Farm and theEastern Reflector.</td>
  <td>Weekly</td>
  <td>D. J. Whichard</td>
  <td>The Reflector Co.</td></tr>
  </table>

</div>
