---
layout: ecu
title:  "The North Carolina Year Book and Business Directory"
customdate: "1910"
order: 3
---

{% include breadcrumbs.html %}

<h3><em>The North Carolina Year Book and Business Directory, 1910</em></h3>

<p>
This business directory was published by the <em>News and Observer</em> (Raleigh) between 1901 and 1941. Entries for Pitt County provide facts about local government, professions, education, religion, and businesses, including tobacco-related companies.
</p>
<div class="well">
  <label>Image(s) from Book</label><br/>

<div class="row">
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB10/3YB1000F.jpg"><img src="../../img/YB10/7YB1000F.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB10/3YB10375.jpg"><img src="../../img/YB10/7YB10375.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB10/3YB10376.jpg"><img src="../../img/YB10/7YB10376.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB10/3YB10377.jpg"><img src="../../img/YB10/7YB10377.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB10/3YB10378.jpg"><img src="../../img/YB10/7YB10378.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB10/3YB10379.jpg"><img src="../../img/YB10/7YB10379.jpg" class="img-responsive"></a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB10/3YB10380.jpg"><img src="../../img/YB10/7YB10380.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB10/3YB10381.jpg"><img src="../../img/YB10/7YB10381.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB10/3YB10382.jpg"><img src="../../img/YB10/7YB10382.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB10/3YB10383.jpg"><img src="../../img/YB10/7YB10383.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB10/3YB10384.jpg"><img src="../../img/YB10/7YB10384.jpg" class="img-responsive"></a>
  </div>
</div>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td><em>The North Carolina Year Book and Business Directory, 1910</em> (Raleigh, NC: <em>The News and Observer</em>, 1910).</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar F251 N88X 1910 <a href="http://catalog.lib.ecu.edu/catalog/299522">View Catalog Record</a></td>
  </tr>
</table>
