---
layout: ecu
title:  "The North Carolina Year Book and Business Directory"
customdate: "1915"
order: 6
---

{% include breadcrumbs.html %}

<h3><em>The North Carolina Year Book and Business Directory, 1915</em></h3>

<p>
This business directory was published by the <em>News and Observer</em> (Raleigh) between 1901 and 1941. Entries for Pitt County provide facts about local government, professions, education, religion, and businesses, including tobacco-related companies.
</p>
<div class="well">
  <label>Image(s) from Book</label><br/>

<div class="row">
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB15/3YB1500F.jpg"><img src="../../img/YB15/7YB1500F.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB15/3YB15367.jpg"><img src="../../img/YB15/7YB15367.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB15/3YB15368.jpg"><img src="../../img/YB15/7YB15368.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB15/3YB15369.jpg"><img src="../../img/YB15/7YB15369.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB15/3YB15370.jpg"><img src="../../img/YB15/7YB15370.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB15/3YB15371.jpg"><img src="../../img/YB15/7YB15371.jpg" class="img-responsive"></a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB15/3YB15372.jpg"><img src="../../img/YB15/7YB15372.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB15/3YB15373.jpg"><img src="../../img/YB15/7YB15373.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB15/3YB15374.jpg"><img src="../../img/YB15/7YB15374.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB15/3YB15375.jpg"><img src="../../img/YB15/7YB15375.jpg" class="img-responsive"></a>
  </div>

</div>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td><em>The North Carolina Year Book and Business Directory, 1915</em> (Raleigh, NC: <em>The News and Observer</em>, 1915).</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar F251 N88X 1915 <a href="http://catalog.lib.ecu.edu/catalog/299522">View Catalog Record</a></td>
  </tr>
</table>
