---
layout: ecu
title:  "The North Carolina Year Book"
customdate: "1902"
order: 2
---

{% include breadcrumbs.html %}

<h3><em>The North Carolina Year Book, 1902</em></h3>

<p>
This business directory was published by the <em>News and Observer</em> (Raleigh) between 1901 and 1941. Entries for Pitt County provide facts about local government, professions, education, religion, and businesses, including tobacco-related companies.
</p>
<div class="well">
  <label>Image(s) from Book</label><br/>

<div class="row">
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB02/3YB0200F.jpg"><img src="../../img/YB02/7YB0200F.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB02/3YB02421.jpg"><img src="../../img/YB02/7YB02421.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB02/3YB02422.jpg"><img src="../../img/YB02/7YB02422.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB02/3YB02423.jpg"><img src="../../img/YB02/7YB02423.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB02/3YB02424.jpg"><img src="../../img/YB02/7YB02424.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB02/3YB02425.jpg"><img src="../../img/YB02/7YB02425.jpg" class="img-responsive"></a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB02/3YB02426.jpg"><img src="../../img/YB02/7YB02426.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB02/3YB02427.jpg"><img src="../../img/YB02/7YB02427.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB02/3YB02428.jpg"><img src="../../img/YB02/7YB02428.jpg" class="img-responsive"></a>
  </div>
  <div class="col-xs-12 col-sm-2">
    <a href="../../img/YB02/3YB02429.jpg"><img src="../../img/YB02/7YB02429.jpg" class="img-responsive"></a>
  </div>
</div>




</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td><em>The North Carolina Year Book, 1902</em> (Raleigh, NC: <em>The News and Observer</em>, 1902).</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar F251 N88X 1902 <a href="http://catalog.lib.ecu.edu/catalog/299522">View Catalog Record</a></td>
  </tr>
</table>
