---
layout: ecu
title:  "Greenville Tobacco Warehouse...The Grand Opening"
customdate: "1891 September 23"
order: 10
---

{% include breadcrumbs.html %}

<h3>"Greenville Tobacco Warehouse...The Grand Opening", <em>Eastern Reflector</em>, 23 September 1891</h3>

<p>
This advertisement ran in the September 23, September 30, and October 7, 1891 issues of the <em>Eastern Reflector</em>.
</p>
<div class="well">
  <label>Image from Advertisement</label><br/>

<a href="../../img/ADW1/3ADW1001.jpg">
  <img src="../../img/ADW1/7ADW1001.jpg">
</a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Greenville Tobacco Warehouse . The Grand Opening," <em>Eastern Reflector</em> (Greenville, NC), October 7, 1891.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm GvER-1 <a href="http://catalog.lib.ecu.edu/catalog/558892">View Catalog Record</a></td>
  </tr>
</table>
