---
layout: ecu
title:  "Greenville Tobacco Warehouse...Has Four Breaks Each Week"
customdate: "1891 October 21"
order: 11
---

{% include breadcrumbs.html %}

<h3>"Greenville Tobacco Warehouse...Has Four Breaks Each Week", <em>Eastern Reflector</em>, 21 October 1891</h3>

<div class="well">
  <label>Image from Advertisement</label><br/>

<a href="../../img/ADW2/3ADW2001.jpg">
  <img src="../../img/ADW2/7ADW2001.jpg">
</a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Greenville Tobacco Warehouse . Has Four Beaks each Week," <em>Eastern Reflector</em> (Greenville, NC), October 21, 1891.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm GvER-1 <a href="http://catalog.lib.ecu.edu/catalog/558892">View Catalog Record</a></td>
  </tr>
</table>
