---
layout: ecu
title:  "Pitt County is Fast Gaining..."
customdate: "1889 October 16"
order: 1
---

{% include breadcrumbs.html %}

<h3>"Pitt County is Fast Gaining...", <em>Eastern Reflector</em>, 16 October 1889</h3>

<div class="well">
  <label>Text from News Article</label><br/>

<p>
Pitt county is fast gaining notoriety as a tobacco growing county, and we expect yet to see it one of the best in the State. The REFLECTOR has time and again advocated tobacco culture and used its influence toward persuading the farmers to plant it. That it can be done successfully has been proven beyond doubt. Last year tobacco raised in Pitt County took the first prize at the Danville Tobacco Exposition, and those planting tobacco this year have made a fine success of it. Here are two articles taken from our exchanges showing how people elsewhere are looking on us. The first is from the Scotland Neck Democrat, which says:"We saw Mr. J. R. Warren, of Falkland, Pitt County, this week on his return from Henderson, where he bad been to make sales of his tobacco crop.He cultivated 8 acres this year, and made sales on what was prooneed on 3 acres, at an average of $175 per acre. He cultivated without hired labor, and so makes the most of his money clear. He sold to the well known dealer, Mr. D. Y. Cooper, of Henderson, whose dealings proved satisfactory to Mr. Warren.Mr. Warren says that Pitt county has some of the finest tobacco land in the State. Some of the eastern sections of the State bid fair to become tobacco growing sections, and Pitt, county is among the most prominent Mr. Warren's 3 acres netted him $535.80."The Tarboro Banner copies the above and makes this comment;"Pitt county is coming to the front as a tobacco growing county. Last year it sent up to Henderson, some of the finest sold there. P. G. Mayo made good sales some time ago, and we hear that T. L. Williams and others have made fine cures.Nearer Greenville, it is raised on a big scale. Much will be planted around Falkland next year."We have other very successful planters, Messrs. Evans, Forbes, Joyner, Stancill, Yellowley, Allen, Fleming, Jenkins, and others, whose experience shows how well it can be raised in Pitt county. We hope soon to see tobacco one of our leading crops. But we do not like this way of the farmers having to carry their tobacco all the way to Henderson or Oxford to sell. Let enough of it be raised next year to secure the opening of a warehouse in Greenville, so that sales may be made at home and the expense of carrying it a hundred miles to sell be saved. If a warehouse were opened here you would see buyers from these other towns among us. They know what Pitt county tobacco is, they want it and will come after it. Now make more tobacco in Pitt county and let's have a warehouse in Greenville.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td><em>Eastern Reflector</em> (Greenville, NC), October 16, 1889.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm GvER-1 <a href="http://catalog.lib.ecu.edu/catalog/558892">View Catalog Record</a></td>
  </tr>
</table>
