---
layout: ecu
title:  "W. H. Snow, About Curing Tobacco"
customdate: "1890 September 24"
order: 3
---

{% include breadcrumbs.html %}

<h3>W. H. Snow, "About Curing Tobacco", <em>Eastern Reflector</em>, 24 September 1890</h3>

<div class="well">
  <label>Text from News Article</label><br/>

<p>
  About Curing Tobacco.
</p>
<p>
  SOME PERTINENT FACTS PRESENTED BY AN EXPERT.
</p>
<p>
  The Cost of Curing the Leaves Both on and off the Stalk Contrasted.
</p>
<p>
  Capt. W. H. Snow, in Danville Tobacco Journal.
</p>
<p>
  Editor Southern Tobacco Journal:
</p>
<p>
  Few men will be prepared to believe when told all the evils that can be traced directly to the pernicious and wasteful way of curing tobacco on the stalk. We have said before and here repeat that to the foolish system of curing on the stalk can be traced nearly all the unsound or funked tobacco found on our markets; a vast and useless consumption of fuel; the building of countless numbers of curing barns, and the waste of at least one-third of the entire crop that is grown in our fields. It causes the construction of the huge prize houses, with all the redrying paraphernalia that cost vast sums of money and adds to one's insurance and expenses in countless ways.
</p>
<p>
  Mr. Editor, let us look into the matter and make an itemized account against the tobacco stalk, and foot up the figures and see how much longer we can afford to keep the stalk at the double duty of both growing and curing tobacco.
</p>
<p>
  1st. The waste or bottom leaves that of necessity go to waste in the stalk cure systm equal one-third of the stalk. This subject has been discussed in the Journal. Little more need be said to convince any reasonable man that at the lowest estimate one-third can be added to the value of an acre of tobacco if the leaves are cured as they ripen when we prime and top at ten leaves. But if we top higher than ten leaves, more than one-third is added to the crop. That the bottom leaves when properly cured are quite as saleable and in as good demand as any part of the crop no one will deny. In our first item, then, we charge up to the tobacco stalk a clear loss of one-third of each crop of tobacco grown. The crop of 1889 estimate is 220,000,000 pounds; one-third of this amount is in round numbers 73,000,000 pounds; at ten cents per pound the loss on the crop to the farmers was $7,300,000 in one year to the debit of the stalk cure.
</p>
<p>
  It is the universal testimony that a common log barn will cure 500 pounds with two cords of wood oil on the stalk. It is also admitted that the same barn will cure twice the amount of tobacco with one-half the fuel without the stalk. The excess of fuel used in curing one-half of the crop of 1889 above what would be required to cure the leaf foots up $1,300,000, which must be charged up to the debit side of the stalk cure.
</p>
<p>
  We have now wasted one-third of our crop and burned $1,300,000 worth of wood, to say nothing of the barn burnt and charged --$8,300,000 to the stalk cure on the debit side in two items.We will now charge the loss of l0 percent, in weight on every pound of tobacco cured on the stalk. By this we mean to say that every leaf of tobacco is robbed by the stalk equal to 10 percent, of its legitimate weight by being cured on the stalk. There are some who will dispute this, but to such we will only say let the scales decide the question. Science and philosophy is all on one side of the leaf cure, and we are happy to say that the scales are backing our science in every test. We have to charge up to the stalk in this one item $2,200.000; at ten cents per pound making in three items $10,500,000.
</p>
<p>
  We now come to one more item, Mr. Editor. We deliberately charge to the mistaken policy of curing tobacco on the stalk all the funky and unsound tobacco that is found on our markets. Well, how much is unsound? No man can tell. The editor of the <em>Southern Tobacconist</em> in an editorial last April stated that 70 per cent. of all the offerings in the dark tobacco sections were unsound by reason of warm, damp weather. Well, why not lay it to damp weather instead of charging it up to the stalk? Plainly, if the tobacco had been stripped before curing it would have been bulked so compactly that it would be out of the power of damp weather to do it harm. The excess of wood we consumed was used to kill out the stalk. We killed our tobacco at the same time, we melted the wax; we baked the vegetable albumen: we rendered the leaf powerless to resist moisture, and when it was rehung in order for stripping it took in too much water, and when bulked it got mouldy. How much damage no man can tell. The damage will foot up millions of dollars.
</p>
<p>
  The city of Danville has at least ten acres covered with redrying houses, together with not less than one hundred acres of tobacco rehung to dry out the water from tobacco that was over-cured and too much ordered while hanging to the stalk on a damp day. Had the tobacco been cured in the leaf it would have gone to market sound and seasoned in bulk before marketing, thus from necessity, one-eighth of the store room would have kept the tobacco better; would save rehanging; the waste in color and shrinkage in weight and cost of hanging, which I am told equals 10 percent, of the gross weight. Another $2,200,000. Thus you see, Mr. Editor, we sum up nearly $13,000,000 besides our funky tobacco and seven-eights of the cost of all the prize houses in the country as so much useless expense.
</p>
<p>
  We also charge to the mistaken policy of curing on the stalk the loss of vegetable manure equal to ten dollars per acre on every acre of tobacco cultivated by robbing the fields of the tobacco stalk and suckers which rightfully belong to them, and should be returned to them, and instead of being carted away awl wasted. Allowing one thousand pounds to the acre, which is a liberal estimate to grow 220,000,000 pounds, we had tobacco growing on 220,000 acres last year at ten dollars per acre, and we sacrificed $2,200,000 to the stalk cure last season. This sum must be added to the $13,000,000 already charged, making $15,200,000, which can be correctly computed and rightfully charged to the stalk cure. While we cannot compute in figures the damage to the industry by reason of loss in color and unsound tobacco, which we may justly charge to the stalk cure and nowhere else. It would seem that we had charged the stalk with misdemeanors enough and more than it can bear, but we have more charges yet to make. Indeed, Mr. Editor, we are not half done with the culprit that filches our money on every side. We have another charge of a very serious financial matter. It is no less than 8 percent, interest on all the capital invested. I don't see, says one, what the stalk cure has to do with the interest on the capital invested. Let me tell you, the tobacco stalks imparts its bad qualities to the leaf while curing. The biting, bitter,pungent element found in all new stalk cured tobacco comes from the stalk and from the stalk only. Add up the interest at 8 percent on all the capital invested in the manufacture of tobacco and you will be able to guess at the full measure of the financial mischief which the stalk does the leaf by the foolish notion that men have of curing the two together. If your cook should boil the stump or stalk on which the cabbage head grows you would think the cook was crazy when you come to eat your dinner. The tobacco curer commits a mistake equal in magnitude when be puts the filthy poison tobacco stalk into the curing barn with the leaves. When the tobacco is two years old it is possible to use. It takes two full years to neutralize the poison; to mellow the nitrates; to decompose the nicotiannin; to repair the mischief; to take out of the leaf what was foolishly put in by the stalk in curing, because the curer did not know any better.
</p>
<p>
  No wonder, Mr. Editor, that a good chew of tobacco costs one dollar per pound. Two men out of every five you meet will admit these things to be true; the other three have never thought of them. The subject is of the greatest importance to the industry. It involves more than thirty million annually. The tobacco stalk is the vortex, the "maelstrom" into whose capacious maw has gone the sweat, the toil and the hopes of many a planter, and the dollars of the buyer and the manufacturer. The business of the stalk is to grow the tobacco leaves. The stupendous blunder of the age was made when the stalk was first used to cure leaves on. If there was one redeeming quality in the stalk cure the case would not look so foolish, but we have looked in vain for one redeeming point in its favor. If speed or cheapness is the desired end then a mowing machine and a pitchfork will beat the stick-straddling out of sight.
</p>
<p>
  A Testimonial for Mr.Evans.
</p>
<p>
  Elsewhere in the REFLECTOR to-day will be found a short communication from a correspondent signing himself "Farmville," in which a suggestion is made that should meet with a response from every tobacco grower in Pitt county. The suggestion is that a fit testimonial be made to Mr. G. F. Evans for his efforts toward tobacco culture in this county and the success that is now the outgrowth of it. Tobacco culture is conceded by all to be the salvation of our farmers, in that it is proving a financial blessing and is lifting them from the bondage of debt. This year 1000 acres were planted, and is generally believed that 5000 acres is not too large an estimate for what the crop will be next year. Mr. Evans is the father of tobacco culture in Pitt county. He was the first to give it a trial, and the first to continue his efforts until he proved that it could be successfully raised here. He met with discouragements at first and those who tried to follow him abandoned it after one year's trial, but he would not give up and kept trying until he thoroughly learned its cultivation and convinced the "doubting Thomas" that Pitt county land was adapted to tobacco, and would grow a fine article. His success after this induced others to try it--beginning with his neighbors whom he assisted in learning--and year by year the number of planters increased, until to-day it is taking hold of the entire county and splendid results are seen on every hand.
</p>
<p>
  A testimonial to Mr. Evans for his zeal in this direction and the good that is coming out of it is eminently proper. We believe it will meet the approbation of Pitt county tobacco growers and that every one of them will co-operate with the movement by contributing a mite. "Farmville" is the first to speak out his gratitude and others should immediately follow him. He has given five cents per acre for every acre in tobacco cultivated by him. Others could contribute in the same proportion and never miss it, the aggregate making enough to procure a most handsome testimonial.
</p>
<p>
  The correspondent further suggests that the editor of the REFLECTOR receive the contributions for this purpose. We will cheerfully do this, will keep a correct list of contributors and amounts given, at the proper time publish the complete list and will see that every dollar goes into a gold watch or a gold headed cane, as the amount may warrant. We further pledge ourself to select some gifted gentleman to present the testimonial in becoming style on a public occasion, and will let the farmers know the day so they can be present. Now all who want to show their appreciation of what Mr. Evans has done for the farmers of Pitt county can make a small contribution. Send or bring your name with the amount you wish to give marked "Evans testimonial."
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>W. H. Snow, "About Curing Tobacco," <em>Eastern Reflector</em> (Greenville, NC), September 24, 1890.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm GvER-1 <a href="http://catalog.lib.ecu.edu/catalog/558892">View Catalog Record</a></td>
  </tr>
</table>
