---
layout: ecu
title:  "How Tobacco Was Introduced into Pitt"
customdate: "1890 October 1"
order: 4
---

{% include breadcrumbs.html %}

<h3>"How Tobacco Was Introduced into Pitt", <em>Eastern Reflector</em>, 1 October 1890</h3>

<div class="well">
  <label>Text from News Article</label><br/>

<p>
  How Tobacco Culture was Introduced into Pitt
</p>
<p>
Mr. EDITOR :-I see in the last issue of the REFLECTOR that a writer giving as his signature, "Farmville" suggests to the tobacco growers of Pitt county, that they contribute a sufficient amount to buy and present to Mr. G. F. Evans the pioneer tobacco farmer of Pitt, a gold headed cane or some other token of gratitude in recognition of his efforts in the tobacco culture of Pitt County. Sir, I for one, believe in giving every man his dues, and to Mr. Evans is due great credit for the interest which he has taken in the culture of tobacco; as a testimony of which his success stands unparalleled in our county and at all times he has taken a great interest both in its cultivation and cheerfully showing others how it could most successfully be cultivated. But the introduction of tobacco culture in our county is not due G.F. Evans but L.F. Evans, who in the summer of '85 was traveling in Nash county, and while there he met and became the friend of J. T. Seat who was then overseeing a tobacco farm not far from Rocky Mount, in Nash county. They both became warm friends and after Mr. Evans had returned home he induced Mr. Seat to make him a visit, stating that he (Mr. Seat) might be able to get up a tobacco club as he thought this land would produce equally as fine tobacco as Nash. Mr. Evans left off his business at home and met Mr. Seat in Tarboro, took him downhome and announced through the community that Mr. Seat would be at the home of Mr. A. A. Forbes on a certian night and would like to confer with all the farmers in the vicinity who were interested in tobacco culture. At the appointed time the following parties met and partially contracted, which was afterward confirmed with Mr. Seat for the ensuing year: A. A. Forbes, L. F. Evans and Jacob Joyner agreeing to plant eight acres and pay Mr. Seat $100.00 apiece, G. F. Evans and T. J. Stancil each to plant four acres and pay $50.00. After Mr. Seat had returned to Nash some of the parties became dissatisfied with their bargain and instructed L. F. Evans who was acting as their leader, to write Mr. Seat not to come but he did not get the letter and was, therefore, on hand at the proper time. So being forced thusby a point of duty the above named parties planted the first crop of tobacco, of any consequence ever planted in Pitt county, and Leon F. Evans has the honor of being its introductor, a product which is destined to raise the yoke of demoralization and depression form the shoulders of the mortgaged and the dejected farmers of old Pitt and place them on equal standard with those of all her sister counties, and when ye who have reaped the rich sales of a good crop of tobacco contribute your mite to the purchase of a token of gratitude for the man who has most successfully cultivated tobacco show your appreciation, also by contributing a small amount, to the purchase of one for the man who first led you out of the hot vertical rays of burning debt under the shade of a plant whose narcotic leaves kill accruing interest and swell your pocket book. I by no means wish to leave the impression that I am opposed to the suggestions offered by Farmville; for truly I think that every tobacco farmer in the county should contribute five cents for every acre of tobacco he has planted and if everyone will do so, there will be sufficient amount to purchase a handsome testimonial for each gentleman. I further agree with what Farmville and others have said in regard to a warehouse. Keep the ball rolling and time is not far distant when Pitt county will have a warehouse, a smoking tobacco and cigarette factory under one incorporated body and Pitt county farmers will enrich Pitt county instead of Wake, Vance and Granville.
</p>
<p>
Greenville
</p>
<p>
The Evans Testimonial
</p>
<p>
The following letter from the proprietors of a tobacco warehouse that is very popular with Pitt county shippers explains itself:
</p>
<p>
Oxford, N. C., Sept. 24th, '90, EDITOR EASTERN REFLECTOR, <br/>
DEAR SIR:-We notice from your valuable paper that a testimonial is proposed in the shape of a "gold headed cane" for Mr. G. F. Evans, the pioneer of the Golden Product of Pitt. As the best tobacco that comes to our market is from your county, we take great pleasure in enclosing our check for five dollars, with the wish that Mr. Evans may be "well caned" as his good work merits.
</p>
<p>
Yours truly, <br/>
Davis and Gregory.
</p>
<p>
This is very generous on the part of Messrs. Davis and Gregory, and the REFLECTOR looks upon their letter as quite a compliment to Pitt county. It corroborates our oft repeated assertion that Pitt makes the finest tobacco of any county in North Carolina.
</p>

Concerning the testimonial to Mr. Evans we will say here that the tobacco growers of Pitt are a little backward in contributing a mite to it, as but few have responded as yet. And do not the merchants feel that this tobacco culture is also a great benefit to them? They also might do a little for the testimonial. Let it be made something worth offering.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"How Tobacco Culture Was Introduced into Pitt," <em>Eastern Reflector</em> (Greenville, NC), October 1, 1890.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm GvER-1 <a href="http://catalog.lib.ecu.edu/catalog/558892">View Catalog Record</a></td>
  </tr>
</table>
