---
layout: ecu
title:  "Tobacco Warehouse"
customdate: "1891 June 17"
order: 7
---

{% include breadcrumbs.html %}

<h3>"Tobacco Warehouse", <em>Eastern Reflector</em>, 17 June 1891</h3>

<div class="well">
  <label>Text from News Article</label><br/>

<p>
  TOBACCO WAREHOUSE.
</p>
<p>
  Lets Have a Grand Celebration.
</p>
<p>
  At the meeting of the subscribers to the tobacco warehouse stock, held last Thursday morning, R. J. Cobb, J. B. Cherry, C. W. Priddy, H. Skinner, J. A..K. Tucker, J. W. Allen, J. R. Williams, O. L. Joyner and G. F. Evans were elected as a Board of Directors. A call was made for the first payment on stock and the Directors were vested with authority to select the site and have work on the building commenced as early as possible. The warehouse will be completed in good time for sales this fall. The REFLECTOR suggests that a celebration be held the day on which ground is broken for the warehouse, that all the people come together on that day and have a grand time in honor of the occasion. What say the Board of Directors and citizens of the town?
</p>
</p>
<p>
Concerning the testimonial to Mr. Evans we will say here that the tobacco growers of Pitt are a little backward in contributing a mite to it, as but few have responded as yet. And do not the merchants feel that this tobacco culture is also a great benefit to them? They also might do a little for the testimonial. Let it be made something worth offering.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Tobacco Warehouse," <em>Eastern Reflector</em> (Greenville, NC), June 17, 1891.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm GvER-1 <a href="http://catalog.lib.ecu.edu/catalog/558892">View Catalog Record</a></td>
  </tr>
</table>
