---
layout: ecu
title:  "The Warehouse"
customdate: "1891 July 1"
order: 8
---

{% include breadcrumbs.html %}

<h3>"The Warehouse", <em>Eastern Reflector</em>, 17 June 1891</h3>

<div class="well">
  <label>Text from News Article</label><br/>

<p>
  The Warehouse.
</p><p>
  At the meeting of the tobacco warehouse directors last Saturday the Greenville Land & Improvement Co. tendered them a half acre lot situated on Ninth street upon which to erect the warehouse. It was accepted and the company will purchase another adjoining lot the same size so as to give them all the room desired. The directors employed Mr. R. J. Cobb to take the matter in hand, collect the stock already subscribed, increase the stock as occasion may demand, make contracts for the necessary lumber and get the building started as early as possible. Mr Cobb is looking after the lumber this week.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"The Warehouse," <em>Eastern Reflector</em> (Greenville, NC), July 1, 1891.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm GvER-1 <a href="http://catalog.lib.ecu.edu/catalog/558892">View Catalog Record</a></td>
  </tr>
</table>
