---
layout: ecu
title:  "Greenville Tobacco Warehouse"
customdate: "1891 September 9"
order: 9
---

{% include breadcrumbs.html %}

<h3>"Greenville Tobacco Warehouse", <em>Eastern Reflector</em>, 9 September 1891</h3>

<div class="well">
  <label>Text from News Article</label><br/>

<p>
  GREENVILLE TOBACCO WAREHOUSE
</p>
<p>
  THURSDAY, OCTOBER 1, NAMED AS OPENING DAY.
</p>
<p>
  Get Your Tobacco Ready and Bring it to Greenville.
</p>
<p>
  The stockholders of the Greenville Tobacco Warehouse Company held a meeting Saturday and perfected arrangements for the management of their warehouse, now nearing completion, and selected Thursday, October 1st, as opening, day. The first sales upon the warehouse floor will take place that day.
</p>
<p>
  The company have made excellent selections in the men who are to conduct the business of the warehouse, as these names will show: G. F. Evans, General Manager; O. T. Forbes, Floor Manager; O. L. Joyner, Book-keeper; R. J. Hart, Auctioneer.
</p>
<p>
  The REFLECTOR would hardly presume to offer a word of recommendation to Mr. Evans. He is the pioneer tobacco grower of the county and the success with which its cultivation here has met is due largely to him. Everybody knows what an upright, reliable man he is and the general management of the warehouse could not have been placed in better hands.
</p>
<p>
  Mr. O. T. Forbes is a young man who has had experience at handling tobacco and will make an excellent floor manager. He was one season with Davis & Gregory, at Oxford, in this capacity.
</p>
<p>
  Mr. O. L. Joyner will admirably fill the position of book-keeper. He is a graduate of the Commercial College at Kentucky University, where he took a special business course.
</p>
<p>
  Mr. R. J. Hart, the auctioneer, is from Henderson. He has had large experience in the tobacco warehouse work and knows all about every department of it. He was with D. Y. Cooper four years. Besides being auctioneer he will buy for a large manufacturing establishment.
</p>
<p>
  These men selected to conduct the warehouse will begin work for it at once. This week Messrs. Evans and Hart go to Richmond and Danville to interest buyers in this market and to arrange with the factories to take the purchases of the warehouse. Next week Mr. Joyner will visit Henderson, Oxford and Durham securing buyers and acquainting himself with warehouse work.
</p>
<p>
  One thing is sure: Pitt county tobacco is wanted, it will be sought after, and the buyers are going to come here to get it.
</p>
<p>
  Now a word to the farmers. Greenville is going to be as good a market as there is in the State and tobacco will bring just as high prices here as anywhere. Bring your tobacco here and the amount saved in freights and traveling expenses will be that much clear profit, over what you can get by taking it elsewhere.
</p>
<p>
  Steps should begin at once for building prize houses and another warehouse.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Greenville Tobacco Warehouse," <em>Eastern Reflector</em> (Greenville, NC), September 9, 1891.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm GvER-1 <a href="http://catalog.lib.ecu.edu/catalog/558892">View Catalog Record</a></td>
  </tr>
</table>
