---
layout: ecu
title:  "Tobacco Warehouse"
customdate: "1891 June 3"
order: 5
---

{% include breadcrumbs.html %}

<h3>"Tobacco Warehouse", <em>Eastern Reflector</em>, 3 June 1891</h3>

<div class="well">
  <label>Text from News Article</label><br/>

<p>
  Tobacco Warehouse
</p>
<p>
  Prospects grow still brighter for a tobacco warehouse in Greenville--that is for the first one, for of course others will follow as soon as that is built. A few weeks ago the Reflector said that our enterprising townsman, Mr. R. J. Cobb, was interesting himself in the matter and was taking subscriptions for that purpose. On Monday he showed us his list which represented a little more than $4,000 subscribed. He also handed in the notice published elsewhere for the meeting and organization of the subscribers on next Friday morning at 11 o'clock. As soon as the organization is perfected work on the building will soon follow. You may look out for tobacco sales in Greenville next fall. Hurrah for the first warehouse!
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Tobacco Warehouse," <em>Eastern Reflector</em> (Greenville, NC), June 3, 1891.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm GvER-1 <a href="http://catalog.lib.ecu.edu/catalog/558892">View Catalog Record</a></td>
  </tr>
</table>
