---
layout: ecu
title:  "Let 'Er Hum!"
customdate: "1891 June 10"
order: 6
---

{% include breadcrumbs.html %}

<h3>"Let 'Er Hum!", <em>Eastern Reflector</em>, 10 June 1891</h3>

<div class="well">
  <label>Text from News Article</label><br/>

<p>
  LET 'ER Hum!
</p>
<p>
  Tobacco Warehouse Meeting--The Officers Elected--Another Meeting To-morrow and the Work Begins.
</p>
<p>
  According to previous notice the subscribers to the tobacco warehouse met in the Court House, last Friday, for the purpose of electing officers and taking such other steps as were necessary for organization. A committee consisting of C. W. Priddy, G. T. Tyson, J. R. Moye, J. W. Allen, J. R. Williams, R. J. Cobb, I. A. Sugg and Harry Skinner was appointed to select officers and prepare suitable by-laws. The following officers were selected:
</p>
<p>
  R. J. Cobb-President.
  C. W. Priddy--Vice-President.
  J. B. Cherry-Treasurer.
  J. L. Little--Secretary.
</p>
<p>
  The meeting then adjourned to assemble again to-morrow morning at 8 o'clock to receive the report of the committee on by-laws. Let there be a full attendance.
</p>

Concerning the testimonial to Mr. Evans we will say here that the tobacco growers of Pitt are a little backward in contributing a mite to it, as but few have responded as yet. And do not the merchants feel that this tobacco culture is also a great benefit to them? They also might do a little for the testimonial. Let it be made something worth offering.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Let 'Er Hum!," <em>Eastern Reflector</em> (Greenville, NC), June 10, 1891.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm GvER-1 <a href="http://catalog.lib.ecu.edu/catalog/558892">View Catalog Record</a></td>
  </tr>
</table>
