---
layout: ecu
title:  "O. L. Joyner, The Tobacco Department: Greenville's Progressive Business Men"
customdate: "1894 December 12"
order: 12
---

{% include breadcrumbs.html %}

<h3>O. L. Joyner, "The Tobacco Department: Greenville's Progressive Business Men", <em>Eastern Reflector</em>, 12 December 1894</h3>
<p>
That the Eastern Reflector asked tobacconist O.L. Joyner to oversee "The Tobacco Department," a regular column, reflects the importance of tobacco to the local economy. On November 13, 1895, the column began "A series of articles on the history of tobacco culture in the eastern counties." The articles that appeared in November and December, 1895, focus on Greenville and Pitt County. Several of them provide detailed information about and photographs of the men who engaged in various tobacco-related activities, incuding "Our Buyers."
</p>
<div class="well">
  <label>Text from News Article</label><br/>

<p>
  TOBACCO DEPARTMENT
</p>
<p>
  Conducted by O.L. Joyner, Proprietor Eastern Tobacco Warehouse
</p>
<p>
  Greenville's Progressive Business Men.
</p>
<p>
  Those who Compose the Motive Power which Drives her Busy Wheels Progressiveward.
</p>
<p>
  A summary of the Leading Industries of Greenville and the Men Behind Them. A Retrospection of its Past, a Glimpse of its Future.
</p>
<p>
  During the last two years we have had much to say about the tobacco market of Greenville. Aside from that which pertained directly to the tobacco industry we had but little to say because there were other more competent pens whose line of duty was uncircumscribed by any particular feature, and while this article to-day has no direct connection with the tobacco interests, yet our object is to show to the world those of our citizens who are alive to the public interests of our common community and who can be always relied upon and found in the fore front pushing and aiding in any industry that is for the upbuilding of their town and community, though they may not be directly interested or share in the pecuniary benefits. Four years ago before the first tobacco warehouse was built in Greenville there were but few lines of business except merchandising. At this time the writer was living on the farm near Farmville cultivating a crop of tobacco which from necessity we either had to market in Wilson or ship to some of the older markets.
</p>
<p>
  On one Friday during the month of June, we happened to have business in Greenville and at that particular time the horses were all busy cultivating the crop so we concluded to walk. When about five miles from Farmville we were overtaken by Mr. R.J. Cobb. We got in the buggy with Mr. Cobb and it was on this trip that the idea was first suggested of building a tobacco warehouse. Mr. Cobb said that although he was directly interested in the cotton crop, yet he would do all he could to get up the stock to build a tobacco warehouse. How well he succeeded everybody knows. For in a very few days a meeting was called and Mr. Cobb reported $2,800 subscribed for the purpose of building a tobacco warehouse in Greenville. Mr. Cobb, besides being one of our leading and most popular, wide awake merchants, and the active manager of the firm of J.C. Cobb & Son of this place, is also a member of the firm of Cobb Bros. & Co., cotton brokers, of Norfolk, Va. Any town ought well feel proud to claim him for a citizen.
</p>
<p>
  A few days ago there came a young man from the eastern shore of Virginia and settled in the present beautiful little city of Scotland Neck, N.C. For some cause he thought he could do better elsewhere and so he concluded to cast his lot with the people of Greenville. To-day there are few people in the county who don't know Charlie Munford. Since he first came to Greenville from Scotland Neck in 1886 as a young man of push, pluck and perseverance, he has rapidly gained recognition, and to-day among the people of the county there is no man in Greenville better known than Charlie Munford. Liberal, and at the same time economical, he has managed to do that work in which a great many people have failed, succeeded in attending to his own business without troubling himself with the affairs of others.
</p>
<p>
  Among the business men of Greenville that know a good thing when they see it and always satisfied to let well enough alone, are Messrs, James Long and D.W. Hardee, two young grocery-men, who by their strict adherence to square and fair dealing with every man have won for themselves an enviable trade and a line of customers of whom any man would have cause to feel proud.
</p>
<p>
  There is no family in Pitt county to-day better known than the sons of old man Jesse Smith, good old man that he was. He did all he could for the good of his fellow man and left the world feeling unkind toward no man. He has two sons living in Greenville, both of whom are well known throughout the county. Mr. John S. Smith is one of our most popular grocerymen and has always shown himself anxious and willing to aid in any way that he could in advancing the material growth of the town.
</p>
<p>
  There are a good many of our citizens who rember only a few years ago when all that portion of Greenville now occupied by the depot, the warehouses and factories and the large mill plan of Messrs. Hines and Hamilton was only a blooming wilderness and a neglected corn field. When the W. & W. R.R. placed Mr. J. R. Moore at this station he soon recognized the value of the property in that portion of Greenville and through his influence one of the largest mills in Eastern Carolina were moved from Kenly to this point. Owing to bad management the mill did not prove profitable, so it was sold and eventually fell into the hands of the Messrs. Hines & Hamilton, under whose efficient management and skillful operations it is to-day one of the best paying investments in the State, and is worth to the town of Greenville every week over a thousand dollars. They own and control the mill besides over a hundred acres of the most valuable real estate in or around Greenville, which they soon hope to be able to open up and develop.
</p>
<p>
  When Pitt County first began to grow tobacco our farmers were put to the very great trouble of ordering tobacco flues. The planters, though few in number, had to be supplied and about this time Mr. L.H. Pender moved from Tarboro to Greenville and opened up a hardware store, He saw that there would soon be a strong demand for tobacco flues all over the county, and while at the time, he knew he would not sell enough to pay for the machinery for making them, yet into the future he looked and with an eye to business saw, what was in store for the wide awake hardware merchant, he purchased the necessary implements for making the flues, and while he was enjoyed a good trade in that line, and a greater benefit that he has acquired was bringing himself before the people, who knew nothing of him before. The natural result is that now he is known further in the nooks and corners of the county than any man in Greenville, and when the people want anything in the hardware line they go to Pender's for it.
</p>
<p>
  For live, active, energetic, get up and get business men, who know no such word as fail and have all the stick-to-it-iveness in them that is required to succeed in anything, in the firm of Boswell, Speight & Co., Greenville has a trio that can't be beaten by any town in the State. Mr. C. M. Jones and Jesse Speight two native Pitt county boys, and Mr. W.L. Boswell, of Petersburg, Va., compose the firm and three more estimable young men, whose natures and business qualifications work in man perfect accord could not have been matched anywhere.
</p>
<p>
  Of those of our mercantile houses that have been doing business in Greenville for nearly a quarter of a century or quite, an name stands, out to-day more prominent than Mr. J.B. Cherry, the senior member of the firm of J.B. Cherry & Co. This firm which was founded about eight or nine years ago is composed of Messrs, J.R. and J.G. Moye, and Mr. J.B. Cherry. The Messrs. Moye are brothers and two more streling young men are not to be found anywhere. Quiet, steady, and reliable, they have the perfect confidence of a large line of valuable customers and are daily gaining influence with all who know them and their reputation as business men is pretty well established. There are but few of our people who don't know J.B. Cherry. For years he was the Jr. member of the firm of T.R. Cherry & Co., composed of himself and Mr. T.R. cherry which lasted until the death of the senior member. For a long time this gentleman was the county Treasurer, and in that capacity served as a most efficient officer, gaining for himself a reputation for strict business dealings that few men possess[.]
</p>
<p>
  In a private letter to the writer a year or so ago Prof. John Duckett in reference to our effort to get the people interested in building prize houses and factories said capital is timid. It always waits for labor to take the initiative step and when all risks are beyond the danger line it comes in and reaps the reward of labor's work. In our young experience in dealing with men we have found this to be true, to a very large extent, but in doing any and everything within the bounds of reason to promote the internal development of Greenville for the past four years no factor has been more willing to lend a helping hand than Messrs Tyson & Rawls, bankers of this place. We have been to them on several occasions to get their influence and help in furthering the interest of the tobacco market here and have never failed yet to get encouragement, and help financially and otherwise. Clever and polite at all times, perfectly willing to accommodate, and all that is required by them is to have you deal on strictly business principle. For the past four years we have had right much dealings with Mr. Jas L. Little, the cashier and have heard others who have had equally as much or more and without a single discord everyone says that it is always pleasant to have dealings with such a man.
</p>
<p>
  One of the most accommodating and upright business young men in our town and one that will make his mark in the world is Frank Wilson. Only a short while ago he was clerking in one of the mercantile houses here. Not content with his position and being naturally ambitious and much of the stuff of which men are made, he resigned his position and engaged in business on his own hook. At first, as a matter of course, we suppose it was up hill business and we don't doubt but he had many obstacles to overcome and stumbling blocks to roll away, but thus far he had wed his own row and today there is not a young man in the town that has a brighter future than clever, genial Frank Wilson.
</p>
<p>
  As we sit and think of the different lines of business in which the people of the town are engaged the names of many come to mind. There is a Mr. H. C. Hooker, a young man of brawn and brain recently gone into business of his own, and those who know Henry's determination and qualifications bespeak for him a prosperous future. Such men are the kind that should be encouraged, men on whom in a few years the commercial world will be resting when the older heads have passed away.
</p>
<p>
  Just across the street from Mr. Hooker is Mr. D.S. Smith and a more thoroughly honest and conscientious boy we do not know anywhere. Since he has been in Greenville he has made many friends and by following the course that he has for himself mapped out, success is sure to crown his efforts.
</p>
<p>
  Not very long ago, three of our young men formed a copartnership under the firm name of J.L. Starkey & Co., consisting of Mr. Zeno Moore, J.E. and J.L. Starkey. Those who know these young men will be sure to draw their own conclusions as to their future. The Messrs. Starkey are well known young men of high merit in Pitt County and with Mr. Zeno Moore the writer happens to have a more intimate acquaintance. For a long time we were school boys together and we have frequently heard it said that in the school room is the best place to learn man's character. If this be so (and we don't doubt that it is) we can safely say that Zeno Moore has as high a sense of honor and integrity as any man we have ever met.
</p>
<p>
  The above are only a few of our representative business men and nearly all of these are engaged in the mercantile business. If we had the time and space would be glad to give a complete synopsis of all our different industries but this article is already longer than we intended making it, so in the near future, probably in the Christmas number, we will give a more complete list of our varied pursuits.
</p>
<p>
  By taking a retrospective view of Greenville now and Greenville ten years ago one has to draw largely on his imagination to compare the vast difference. Since that time a good many of the older men have passed away and thier places have been taken by younger ones, and as a matter of course new life and vigor has been infused into even the same channels of business. Industries that ten years ago were unthought of, and would be to-day deemed by some impossibilities, are paying to the people of the town and county thousands and thousands of dollars annually. Time in its flight has wrought, wonders in many spheres. By an actual calculation it has been found that the leading pursuits in which most of our people were engaged at that time paid to them annually about one hundred thousand dollars in this county. To-day by an actual calculation it is ascertained that the industries in which most of our people are engaged pay to them annually about half million dollars. Ask yourselves the question, how many counties in the State can lay down such a comparison during the last decade. With such a proud record for the past ten years, with such an increase of wealth of the people of our county, and with the daily opening up and development of new industries that go to help to increase the prosperity of our whole county, what grand possibilities there are in store for the future of Greenville if they will only be taken hold of and utilized by our people at the proper time.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Greenville's Progressive Business Men," <em>Eastern Reflector</em> (Greenville, NC), December 12, 1894.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm GvER-1 <a href="http://catalog.lib.ecu.edu/catalog/558892">View Catalog Record</a></td>
  </tr>
</table>
