---
layout: ecu
title:  "The Tobacco Department: Our Buyers"
customdate: "1895 December 4"
order: 16
---

{% include breadcrumbs.html %}

<h3>"The Tobacco Department: Our Buyers", <em>Eastern Reflector</em>, 4 December 1895</h3>
<p>
That the <em>Eastern Reflector</em> asked tobacconist O.L. Joyner to oversee "The Tobacco Department," a regular column, reflects the importance of tobacco to the local economy. On November 13, 1895, the column began "A series of articles on the history of tobacco culture in the eastern counties." The articles that appeared in November and December, 1895, focus on Greenville and Pitt County. Several of them provide detailed information about and photographs of the men who engaged in various tobacco-related activities, incuding "Our Buyers."
</p>
<div class="well">
  <label>Text and Images from News Article</label><br/>

<p>
The Tobacco Department.Conducted by 0. L. Joyner, Proprietor Eastern Tobacco WarehouseGREENVILLE.A Series of Articles on the History of Tobacco Culture in the Eastern Counties. OUR BUYERS.Some of Those Who Have Carried Their Part ot the Burden in Pushing Greenville Forward. The subject of this sketch is the son of a Granville county farmer,


</p>
<img src="../../img/E895l04/7ERNE001.jpg"><br/><br/>
<p>


B. ERNEST PARHAM
</p>
<p>

grew up to eleven years of age on the farm not very far from Oxford. At an early age he bade adieu the dear old country home among the red hills of Granville and betook himself to Poughkeepsie Business College, whence after a thorough course of business training he roturned to Oxford and began work in the office of Davis and Gregory who were then operating a warehouse business. It was while he was employed by this firm that he first became impressed with the types of tobacco grown in Eastern Carolina. At this time there was no tobacco market of any consequence in the eastern section and a good many of our farmers well remember when they used to take their tobacco up to Oxford to sell it. The firm of Davis & Gregory sold nearly all the tobacco that was shipped from this section and in his position Mr. Parham had a good opportunity to see that the best tobacco that was offered. When Davis &, Grenory moved, from Oxford to Richmond Mr [Mr.] Parham concluded to come east so accordingly he first stopped at the Rocky Mount, there being at the time no market in Greenville. As soon as the Greenville market was opened Mr. Parham placed an order here and his purchases at this point the first year convinced him that he was on the wrong market and in the fall of 1894 he he pulled [he pulled] up from Rocky Mount and came to Greenville Pitt county, when the bright tobacco grows. There is probably no buyer on any the eastern markets that has increased his business in a more wonderful ratio than Earnest [Ernest] Parham. In order to get an idea of the magnitude of his business now and how it has increased since he first began buying on this market just take his business for the past three years. The first year the firm of B.E. Parham & Co. bought on the Greenville market 60,000 pounds, the second year 200,000 and the out of this crop already they have bought, 700,000 pounds and by the close of the season they hope to get one and a quarter millions. Mr. Parham's purchases are mainly fine tobacco and when it is considered that his tobacco costs him on an average of, say fifteen cents a pound, the enormity of his business will be presented. There is probably no man in the State [state] today of his age, only twenty-seven years old, that has built up the business that he has, and there is doubtless no dealer in Eastern Carolina that is handling the amount of bright tobacco. We can truthfully say that we have never had a more liberal buyer on the Greenville market than Mr. Parham, and while he is always active and on the alert in buying tobacco, jealous of course of his every interest, yet there is nothing small or narrow minded in him. Mr. Parham like all the rest of our buyers is quite a young man, and with the commendable record that he has made already a bright future ideed should be his. Mr. Parham as recently married to a most charming and estimable young woman, Miss Ora Jones, of Durham.


</p>
<img src="../../img/E895l04/7MORG001.jpg"><br/><br/>
<p>


J. W. MORGAN.
</p>
<p>

The American Tobacco Co's. representative on the Greenville tobacco market is a Virginian by birth. He partly grew up on a farm near the city of Lynchburg but at an early age his father moved to Asheville, N. C., and became engaged in the warehouse business at that place. In this new field of work young Morgan became attached to the tobacco business and was subsequently employed by one of the large leaf dealers on that market. From Asheville he went to Greenville Tenn., and for some time bought tobacco on the Greenville, Tenn., market. In 1890 when the American Tobbacco [Tobacco] Co., was formed they having knowledge of his promptness in attending to business, offered him a position as buyer for them and when the Tarboro market was opened in 1891 Mr. Morgan was sent to that point to represent the American Tobacco Co. During 1891 and '92 Mr. Morgan remained in Tarboro. When the second year of the Tarboro market had closed it was thought best by the projectors of the market there to close it temporarily, so in August, 1893, Mr. Morgan moved from Tarboro to Greenville, and has been actively engaged here since that time.The first impression that one would get of Mr. Morgan after he come [came] to Greenville was that he was a rather retiring and unpretentious gentleman and such he has proven himself to be to all who have had dealings with him since he came here. As a business man Mr. Morgan insists on doing the bang up thing, to use a slang expression, in other words he is purely business. He is a very secretive man in all his transactions and very few people are apt to learn much about his business by listening at what he has to say about it. Frank, concise, and to the point in all things, he is a business man in the broadest sense of its application. When Mr. Morgan first came to Greenville he seemed to realize that he had found a much better prospect to build up a market than he had expected for from the very beginning he has used his personal efforts in helping to make Greenville a tobacco market. On one occasion, as was stated some time ago, we knew him to sign with others and become personally responsible for the rent of a prize house in order to get it built, when he had no personal interest in the matter beyond that of securing the prize house for the market. Since Mr. Morgan has been in Greenville he has mingled a good deal with the farmers in the surrounding country and he has many friends among them. On the warehouse floors we have repeatedly noticed that he is a very close observer of every pile of tobacco that is sold, and all during the heavy breaks that we have had this year, although he is not a very robust man, yet no one not even the warehousemen have stuck any closer to the sale than he. We have never see any buyer anywhere follow the sale more closely from beginning to end than he and when tobacco was being sold that he did not want he could always be found in close proximity to the auctioneer so when his line of tobacco was struck he could easily be at hand.As a guardian of his Co's interests we don't believe they have in their employ anyone who looks more closely after every detail than he. Mr. Morgan has impressed the people of Greenville very much since he first came among them. He is a young man of pleasing address, courteous and genial and all with whom he has come in contact in a social or business way will join with the writer in pronouncing him a high toned, clever Christian gentleman. Messrs. D. J. Walker and M. L. Richmond are recent buyers on the Greenville market, both of them having come here during the present season. Mr. Walker is from Durham and for years at that place has been connected in business with one of the best, most upright and thorough going business gentlemen in the State, Mr. H. J. Bass. This year Mr. Walker came to Greenville to look around, before he decided to locate anywhere. On this trip we heard him say that he could get the class of tobacco that he wanted in Greenville, and could get it on no other market, hence in a short while he returned to locate in Greenville. Mr. Walker is an easy going good man, a splendid judge of tobacco and in the future our people will hear and know more of him as a buyer on this market.


</p>
<img src="../../img/E895l04/7RICH001.jpg"><br/><br/>
<p>


M. L. RICHMOND

</p>
<p>
Mr. Richmond is a Virginian, hailing direct from Danville. From that place he comes among us well recommended by some of the best tobacconists there. These young men have not been in Greenville very long, but during their short stay they have been highly impressed and we expect to see them permanently located here where they can make just such selections as they wish from the finest and choicest brights grown in the world.Will You Do It.Friends of the REFLECTOR in both town and country, are requested to send us for publication any news items of a local nature that would be of interest to the general public. It is our earnest desire to make it a journal of real value, and to contain all the news of a local nature that may occur. Frequently there are deaths or marriages in the country that we do not hear of until it is to late to make note of them, and many personal items around town escape us. Give us the news.THE STAR WAREHOUSE.


</p>
<img src="../../img/E895l04/7STAR001.jpg"><br/><br/>
<p>

The rapid growth of the Greenville tobacco market demanded more floor surface to handle the increased trade of the market, and to supply This Rountree, Brown and Co., early in the spring of this year, commenced the erection of the Star Warehouse, which was completed and opened Aug. 1st.This house took rank among the older ones just as though it had been in operation ever since the market was established. It is 80x160 feet in size, the offices being on the side of the building so as to take up none of its floor space. It has ample skylights which diffuse a soft, mellow light over the entire sales floor, and is admirably equipped in every way for handling and selling tobacco.


</p>
<img src="../../img/E895l04/7ROUN001.jpg"><br/><br/>
<p>


C. D. ROUNTREE

</p>
<p>
This gentleman is the senior member of the firm, and is well known to the people of Pitt and surrounding counties. Mr. Rountree was raised on a farm near Greenville. He was but 19 years old when the war broke out and was the first man from Pitt county to enlist in the army. So enthused with patriotism was he, that he ran away from home and started to Fort Sumter to tender h is [his] services to the Confederacy. Arriving at the town of Wilson and learning that a company was being organized there, he enlisted in that on the 18th of April, 1861. This company was sent to Fort Macon, and after service a short while young Rountree and Mr. W. H. Lucas, both of whom had been trained in a military school, were detailed to go to Hyde county and organize a company. Soon after this he returned home, and finding that Col. E. C. Yellowley was organizing a company here he joined that and was commissioned as one of its Lieutenants. He went through the war in this company and though in many hot battles was only once wounded and then but slightly. He was a prisoner at Fort Delaware when the war ended and was not released until the 17th of June, 1865.After the war Mr. Rountree returned to Pitt county and engaged in farming. In 1887 he moved to Greenville and began merchandising but did not abandon his farming interests. He was among those who became interested in tobacco growing here and cultivated crops of the weed for four years. In 1894 he closed out his mercantile business and went on the tobacco market to acquaint himself with the warehouse business and this year associated with the other members of the firm to build and operate the Star Warehouse.


</p>
<img src="../../img/E895l04/7BROW001.jpg"><br/><br/>
<p>


WILEY BROWN
</p>
<p>
The junior member of the firm is Wiley Brown, and as the senior jocularly says, a red headed man is a necessary adjunct to a well regulated business. Mr. Brown's early business career was in mercantile lines. For a number of years he carried on a successful dry goods business, first in copartnership [co-partnership] with a brother and then alone, and enjoyed a large trade. Seeing the tobacco industry was an inviting field for investment, early this year he closed out his mercantile business and joined the firm to build the Star. Wiley Brown is an energetic young man, full of enterprise, and possesses fine business qualities. While he knew nothing of handling tobacco before this year he is picking up the knowledge rapidly and is making a good warehouseman.McG. ERNUL.There is not a more popular man in the county than this gentleman. While he is a member of this firm, he is so in a silent way, his individual business occupying his entire time. Mr. Ernul was also a gallant Confederate soldier, going in the army when very young. After the war he entered the drug business here and has followed it since. There is no more obliging or courteous gentleman anywhere than "Dr. Mc." and Greenville has no more successful business man than he. He is a substantial man to have at the back of an enterprise.


</p>
<img src="../../img/E895l04/7PACE001.jpg"><br/><br/>
<p>
CAPT. E. PACE
</p>
<p>
Rountree, Brown & Co., were fortunate in securing the services of that veteran warehouseman. Capt. Ed M. Pace, as manager and salesman of the Star. This coming spring Capt. Pace will have been in the warehouse business twenty seven years and he is a young man yet (so he says). He has probably handled more tobacco than any warehouseman living on a loose leaf market. He commenced the business in Danville, Va., in 1869. and with his brother was founder of the present method of handling tobacco from the wagon to the sales floor. Millions and millions pounds of the weed have passed through his hands, and he knows tobacco from the plant bed to the factory where it is manipulated for the consumers use. Capt. Pace was closely identified with North Carolina during the Kirk troubles in Caswell, and was selected with the late Col. Williamson to serve the writ of habeas corpus upon the cut-throat Kirk at Yanceyille. He served in the war with a company from Pitt county. Capt. Pace pictures a bright future for Greenville and the surrounding counties tributary to this market.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"The Tobacco Department: Our Buyers," <em>Eastern Reflector</em> (Greenville, NC), December 4, 1895.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm GvER-1 <a href="http://catalog.lib.ecu.edu/catalog/558892">View Catalog Record</a></td>
  </tr>
</table>
