---
layout: ecu
title:  "The Tobacco Department: Our Buyers"
customdate: "1895 November 27"
order: 15
---

{% include breadcrumbs.html %}

<h3>"The Tobacco Department: Our Buyers", <em>Eastern Reflector</em>, 27 November 1895</h3>
<p>
That the <em>Eastern Reflector</em> asked tobacconist O.L. Joyner to oversee "The Tobacco Department," a regular column, reflects the importance of tobacco to the local economy. On November 13, 1895, the column began "A series of articles on the history of tobacco culture in the eastern counties." The articles that appeared in November and December, 1895, focus on Greenville and Pitt County. Several of them provide detailed information about and photographs of the men who engaged in various tobacco-related activities, incuding "Our Buyers."
</p>
<div class="well">
  <label>Text and Images from News Article</label><br/>

<p>
The Tobacco Department.Conducted by O. L. Joyner, Proprietor Eastern Tobacco WarehouseTHE REFLECTORGreenville, N. C.D. J. WHICHARD, Editor and ProprietorEntered at the postoffice [post office] at Greenville N. C., as second-class mail matter.WEDNESDAY, NOV.27th, 1895.GREENVILLEA Series of Articles on the History of Tobacco Culture in the EasternCounties.OUR BUYERS.Some of Those Who Have Carried Their Part of the Burden in Pushing Greenville Forward.
</p>
<img src="../../img/E895k27/7MANG001.jpg"><br/><br/>
<p>
We have on the market now one buyer that has been identified with Greenville since the Greenville Warehouse was built and that one is W.T. MANGUM. While Mr. Mangum is not a very extensive buyer yet he has at all times carried his part of the purchases at good prices and there is no one, no not one, that is today connected with the market that since its earliest history has stuck closer to Greenville than Mr. Mangum. During the first year of the market he was one of our buyers and no doubt lost money as did the rest who bought that year trying to establish a market. He spent the summer of the second year at his home in Granville county, N.C. but early in the fall returned again and was ready at the opening of the second season to again number one of the buyers for Greenville. He cultivated a crop of tobacco for his own account the third year, on the farm of Mr. R. A. Tyson about nine miles from town. After curing and stripping his crop he and Mr. Tyson bought some tobacco on this market and when the spring opened he again returned to the farm and cultivated another crop. This year after he had cured his crop he employed a man to take charge of the stripping and he and Mr. Tyson came regularly on the market. This year Mr. Mangum occupies one half the prize house in which T. E. Roberts & Co. did business last year and on the grades that he is buying he makes the boys pay outside prices before he lets it go to any one else. We hope that he will build up a lucrative business. As above stated he is the pioneer tobacco buyer of the Greenville market.With the introduction of tobacco culture in the eastern counties there was naturally an inflow of tobacco men from the old tobacco belt of the State. Nearly all who came down east were impressed with the superior advantages of the section and a great many moved east to make it their home. In the fall of 1890 quite a number of young men from Oxford came down to Pitt county to instruct our farmers in curing tobacco. Among them was J. S. Jenkins.
</p>
<img src="../../img/E895k27/7JENK001.jpg"><br/><br/>
<p>
He was so much impressed with the tobacco lands of Eastern Carolina that he decided to move east and make it his future home. At this time there had been no talk whatever of a tobacco market in Greenville that we know of, and while we do not pretend to be thoroughly informed as to whose mind first conceived the idea of building a warehouse, we do know that Mr. Jenkins, at this time, in the fall of 1890, tried to interest a gentleman with the idea of purchasing the land on which the Planters and Eastern Warehouses are now situated for the purpose of building a tobacco warehouse. Failing in this he moved his family from Oxford to Wilson where a warehouse had been built in 1890. In 1891 he cultivated a tobacco crop near the town of Wilson and in the fall of the same year he bought tobacco on the Wilson market. In this year it was (as was stated a year ago in these same columns by this writer when a thousand extra copies of the REFLECTOR were being sent out weekly, the greater part of the expense of which was paid by this writer) that Mr. R. J. Cobb canvassed the county in the interest of building a tobacco warehouse. The result of his labor has too often been stated in these columns to need a repetition. The Greenville warehouse was brought into existence and with the prospect and hope of a market in Greenville, Mr. Jenkins moved from Wilson to Greenville and began actively to engage in the leaf tobacco business with Mr. M. H. Pennix, who was located on the Wilson market. Mr. Jenkins was young and comparatively inexperienced in business of this kind, but by his superior judgment in his purchases he always gave satisfaction, and from the very beginning of his career on this market he has gradually increased his business until to day there is no buyer anywhere that has a better, safer and sounder line of orders than he. Jenkins & Pinnix dissolved copartnership[co-partnership] in 1893, Mr. Jenkins taking the entire business in his charge. As above stated Mr. Jenkins first saw the great possibilities of Greenville as a tobacco centre [center] and along this line he has always argued doing any and everything that he could to advance the best interests of the market.As a judge of what tobacco is Mr. Jenkins stands without a superior on the eastern market, and as a thoroughly square and upright business man he stands unquestioned before all who know him, and to know him is to like him, for Jenkins is a big hearted, clever and accommodating boy. During the last three years he has built up a very lucrative business and it is increasing annually. He has the confidence of the trade,the good wishes of his friends and is made of the stuff that is required to succeed.In 1893, just after the warehouses were opened for that season, one morning walking leisurely around the warehouse floors with a very unassuming air and timid, boyish appearance, was a handsome young man with a frank, honest, open face. Being a stranger and alone we approached, and in an informal manner began discussing with him without telling ours or asking his name. In the course of our chat we found out that he was thinking of coming to Greenville to live and that his object in coming was to buy tobacco. This of course, interested us in him and we spoke as encouragingly [encouragingingly] to him as we could. He said he was coming to Greenville, if the boys would let him stay here. He then told us that his name was GEORGE E. HARRISON.
</p>
<img src="../../img/E895k27/7HARR001.jpg"><br/><br/>
<p>
Everybody hereabouts knows George, for from the very day that he came to Greenville he began making friends and an easy matter it seemed for him to do. He has made them and the good of it is he has them today by the scores wherever he is known. Mr. Harrison began buying right away, principally wrappers and fine cutters. Up to this time Greenville had never had a chartered Tobacco Board of Trade, but now the buyers and warehousemen came together and incorporated a constitution and by laws under the State laws for regulating and controlling the sale of leaf tobacco on the Greenville market. At the very first meeting for the election of officers Mr. Harrison was elected Secretary and Treasurer which position he has filled so admirably and accurately that without a single dissenting voice he has been re-elected every time and is today Secretary and Treasurer of the Greenville Tobacco Board of Trade.The summer of '94 Mr. Harrison spent in the large leaf centers acquainting himself with the trade and learning more about his business. Early in the fall he again returned to Greenville and began buying. After closing up his year's business here, there being no sales here during the summer, he accepted a position as traveling salesman for a New York house. The summer of this year he spent traveling in the northern and middle States which position was both pleasant and profitable, but later in the summer he was offered a situation by T. E. Roberts & Co. to come back to Greenville in addition to the business he had already built up here. This, coupled with his natural inclination to come back South, caused him to resign his place with the New York firm and promptly the first of August he was on hand.Since Mr. Harrison has been in Greenville we have seen a good deal of his manner of working up tobacco and we have heard numbers of others whose judgment was much better than ours, say that he handled tobacco nicer, neater and better than any one they ever saw. Mr. Harrison is a very young' man, only twenty two years old, but he has known what responsibility was since his early boyhood, for when a mere lad, his father died leaving him a widowed mother, and three brothers and sisters to care for, whose interest and welfare he has always guarded and advanced. Mr. Harrison is of a taciturn turn of mind, never forcing himself forward, yet not averse to social life. He is especially fond of his friends and always willing to make sacrifices in their behalf. As a friend and companion he is warm hearted and true and belongs to that class of men that are ever looking at the sunny side of life and trying always to see the good rather than the faults and the defects in frail human nature. As a business man promptitude and punctuality seem to be the characteristic elements of his make up. These and the other form business qualifications that he possesses marks him for an especially prosperous and successful business career. THE PLANTERS WAREHOUSE.The Planters was the third sales house built on the Greenville market. It was erected in 1894 and when completed was the largest by 40 feet of any house on the market. On August 15th of that year it was opened with its first break. From the first the Planters commanded a full share of trade, and its patronage has grown steadily all the while. Its motto was prompt personal attention to every pile of tobacco and high prices, and following this a well merited success has resulted.Early this year, to accommodate their growing business, they built a large prizery, one of the best equipped and most convenient here. The basement of this prize hense [house] contains brick ordering and grading rooms. In the latter room are five grading benches, and the 21 hands employed in the prizery alone grade on an average about 1,000 pounds per day.
</p>
<img src="../../img/E895k27/7FORB001.jpg"><br/><br/>
<p>
This gentleman has the credit of being one of the pioneers in the tobacco industry here, in fact he was the first to become actively interested in getting a warehouse and establishing a market in Greenville. He was among those who first commenced raising tobacco in the county, and desiring to familiarize himsel [himself] with the handling and sale of the weed, in the fall of 1890 he went to Oxford and took a position in the warehouse of Davis & Gregory In this position he not only acquired a knowledge of every detail in conducting a warehouse but by close observation and comparison of the tobacco from different counties sold there he saw that the product of Pitt was superior to all others. He then concluded that our people ought to have a home market and be saved the heavy expense incurred in shipping their tobacco away, and therefore concluded to return home and exert himself to get a market in Greenville.Just before Christmas he returned home, married and settled down. A few weeks later he came to Greenville to spend a day with his brother-in-law, Mr. R. J. Cobb, and while discussing different topics they very naturally drifted to the subject of tobacco. Mr. Forbes' views on the warehouse business so impressed Mr. Cobb that he became interested, and being a man of influence and capital he decided to make a start to get a warehouse built. He called upon several business men of the town and interested them in the matter, then drove out in the country to see a number of prominent farmers, and in this way secured enough stockholders to build a house The Greenville Warehouse Company was organized, Mr. Cobb was elected President and gave his personal supervision to the purchasing of the lumber and construction of the warehouse, and used his own means to help build and start the market. Thus it will be seen that while Mr. Cobb is not himself a warehouseman, much credit is due to him also for the prominent part, he took in getting our tobacco market started.Ola Forbes was one of the first men connected with the management of the Greenville Warehouse, as has been told in previous articles, He continued with that house three years when, desiring a house of his own, he withdrew, formed a copartnership [co-partnership] with Mr. E. A. Moye and built the Planters. The management of this house hse [house] has been solely in hands of Mr. Forbes, and his capability in this particular is attested by the success with which he has met.In addition, to his career as a warehouseman, Mr. Forbes has the honor of being Mayor of Greenville.
</p>
<img src="../../img/E895k27/7MOYE001.jpg"><br/><br/>
<p>
This gentleman, while a partner in the Planter's Warehouse, is prevented by his duties as Superior Court Clerk of the county from being an active worker on the market, but his influence and means are used in behalf the market and in this way he adds much strength to it. Mr. Moye is also a large and successful tobacco grower.
</p>
<img src="../../img/E895k27/7PLAN001.jpg"><br/><br/>


</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"The Tobacco Department: Our Buyers," <em>Eastern Reflector</em> (Greenville, NC), November 27, 1895.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm GvER-1 <a href="http://catalog.lib.ecu.edu/catalog/558892">View Catalog Record</a></td>
  </tr>
</table>
