---
layout: ecu
title:  "The Tobacco Department: Our Buyers"
customdate: "1895 December 11"
order: 17
---

{% include breadcrumbs.html %}

<h3>"The Tobacco Department: Our Buyers", <em>Eastern Reflector</em>, 11 December 1895</h3>
<p>
That the <em>Eastern Reflector</em> asked tobacconist O.L. Joyner to oversee "The Tobacco Department," a regular column, reflects the importance of tobacco to the local economy. On November 13, 1895, the column began "A series of articles on the history of tobacco culture in the eastern counties." The articles that appeared in November and December, 1895, focus on Greenville and Pitt County. Several of them provide detailed information about and photographs of the men who engaged in various tobacco-related activities, incuding "Our Buyers."
</p>
<div class="well">
  <label>Text and Images from News Article</label><br/>

<p>
The Tobacco DepartmentConducted by O. L. Joyner, Proprietor Eastern Tobacco WarehouseOUR BUYERS.Some of Those Who Have Carried Their Part of the Burden in Pushing Greenville ForwardThe firm of T. E. Roberts & Co. became established here in 1893. There is probably today no concern better known in the trade. Mr. R. H. Hayes, the youngest member of the firm, came to Greenville early in the fall of 1893 from Winston. Until he left Winston at that place he was one of the American Tobacco Co's. buyers. Mr. Hayes wanted to come east, so he severed his connection with the American Tobacco Co. and formed a copartnership co-partnership with Mr. T. E. Roberts, of Chase City, Va. During his stay of two years here Mr. Hayes made many friends. The first year he was only a buyer, but the second year he entered into copartnership co-partnership with Messrs. G. F. & L. F. Evans, and during 1894 they conducted a warehouse business in the Greenville warehouse, Mr. Hayes, however, taking no very active part in the warehouse business, for his other business had grown so large that it required his whole time to attend to that. He was a plain, fair and square dealing business man, and all his business transactions were conducted upon the highest plain of business principles. We don't believe there was any power that could deter him from doing his full duty in his business relations. During the fall of 1894 Mr. Hayes began to fear that his lungs were affected and that the climate here was too heavy for him, so in the summer of this year he went to Philadelphia and placed himself under a course of medical treatment. In August he was discharged from institution and pronounced cured, but he thought it best, for the presont present at least, not to come back east. Having built up a large and valuable business he began to look around to find some one to take his place on this market. In Clarksville, Va., he met Mr. G. P. Fleming, and they soon negotiated an arrangement for the latter to come to Greenville. If he had searched North Carolina or Virginia over we don't believe he could have found a better man to step right into his shoes on this market than George Fleming. Mr. Fleming was born in Granville county on the farm, moved from the country and engaged in the leaf business in Oxford in 1881. Four years later he moved to Clarksville, Va., and remained there 'till he moved to Greenville in August 1895. From the short stay that he has made he is highly impressed with our country and more with our tobacco. Speaking with him a few days ago, we asked him if he was permanently located in Greenville. "Yes," said he, "I have come to Greenville to make it my future home. I like the people, I like the tobacco that is grown in the eastern section and I am very well satisfied with my business in Greenville." It is highly gratifying to the tobacco people here that T. E. Roberts & o. Co., secured such a man, for prior to his coming it was feared by most of us that no one could be secured who would take the same interest in the market that Mr. Hayes did, but when Mr. Fleming came all doubt was soon dispelled, for from the beginning he setttled settled right down with the rest of us and is working for the market. Mr. Fleming is a high toned gentleman in any place you find him. He is affable and pleasant to do business with and no more whole-souled, jocular man can be found anywhere.
</p>
<img src="../../img/E895l11/7HAYE001.jpg"><br/><br/>
<p>
Mr. Jas. W. Wiggins is probably one of the oldest buyers now on the Greenville market. Since the old Greenville Warehouse was first built in 1891 he has been directly or indirectly connected with the market. Mr. Wiggins is an Edgecombe county boy. He was raised on the farm not very far from Tarboro and remained on the farm until the tobacco industry began to get a hold in the eastern section. In 1890 he left the farm and entered into partnership with a Mr. Ellington to operate a warehouse in Rocky Mount under the firm name of Ellington, Wiggins & Co. In 1891 the firm was dissolved and Mr. Wiggins came to Greeenville to live. While Jim is not a very heavy buyer on the greads that he is handling, he is a great help to the market in keeping up the prices. This year he is buying more largely than before and occupies one half the prize house in which T. E. Roberts & Co. did business last year. Mr. Wiggins is a prudent and cautious man who measures well every step before he takes it. This characteristic alone renders him a safe and sound business man. Like all the rest of our buyers he is a young man permanently identified with Greenville, and we hope for him a prosperous future.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"The Tobacco Department: Our Buyers," <em>Eastern Reflector</em> (Greenville, NC), December 11, 1895.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm GvER-1 <a href="http://catalog.lib.ecu.edu/catalog/558892">View Catalog Record</a></td>
  </tr>
</table>
