---
layout: ecu
title:  "The Tobacco Department: Our Buyers"
customdate: "1895 November 20"
order: 14
---

{% include breadcrumbs.html %}

<h3>"The Tobacco Department: Our Buyers", <em>Eastern Reflector</em>, 20 November 1895</h3>
<p>
That the <em>Eastern Reflector</em> asked tobacconist O.L. Joyner to oversee "The Tobacco Department," a regular column, reflects the importance of tobacco to the local economy. On November 13, 1895, the column began "A series of articles on the history of tobacco culture in the eastern counties." The articles that appeared in November and December, 1895, focus on Greenville and Pitt County. Several of them provide detailed information about and photographs of the men who engaged in various tobacco-related activities, incuding "Our Buyers."
</p>
<div class="well">
  <label>Text and Images from News Article</label><br/>

<p>
The Tobacco Department.Conducted by O. L. Joyner, Proprietor Eastern Tobacco WarehouseWEDNESDAY, NOV. 20th, 1895.GREENVILLE.A Series of Articles on the History of Tobacco Culture in the Eastern CountiesWhether there was much money made we don't know, but we do know that some of our merchant buyers found that they knew more about handlin g [handling] a cotton crop than they did a tobacco crop and soon left off buying tobacco.During this year by hard work and the expenditure of a good deal of money the market sold 225,000 pounds. In 1892 the Eastern Warehouse was built and run by Joyner & Heilbroner. They also built the leaf factory now owned by J. N. Gorman & Co., on borrowed money and sold it at a sacrifice in order to permanently establish that firm on this market. When the market opened that year we had in addition to a few of the buyers of the previous year Mr. R. W. Royster, who during this year worked had and helped to hold up the market which sold 1,225,000, an increase of a million pounds over the first year. Prize room was very much needed now We had two warehouses and two prize houses. No one could be induced to build a prize house and as a last resort the Greenville Warehouse came forward and gave the contract for the building of two prizeries. So the third year we started off with two warehouses and four prize houses. This year on account of the Tarboro market going down that clever and genial gentleman Mr. J. W. Morgan, buyer for the American Tobacco Co. on that market, came to locate in Greenville and thus the American Tobacco Co. was established here. Greenville sold during this year 2,225,000. The fourth year of the market opened auspisciously [auspiciously]. Still another warehouse was built by Forbes & Moye, but we could not get prize room. The American Tobacco Co. wanted a five story building and Messrs. Hooker & Bernard said that if the Company would agree to take the house for two years they would built [build] it. This the American Company very naturally refused to do not knowing anything about the market. The house had to be built and we could get no one to do it unless the rent was gauranteed [guaranteed] for at least two years, so in order to get the house Mr. J. W. Morgan, G. F. Evans and 0. L. Joyner signed an agreement guaranteeing the rent for two years. During this year several more buyers came to Greenville whose names and their idenitification with the market will be given in full in a later issue of this paper. Up to now the market had gradually gained each year and this year is sold 3,000,000 pounds. The fifth year of the market's existence is now upon us. During last summer two more large prize houses were built by O. Hooker, and one by Forbes & Moye. The Star Warehouse was built by Rountree, Brown & Co., and the Eastern was enlarged to nearly double its former size. Already the four warehouses have sold nearly 4,000,000 pounds and it is not overestimating it to say by the close of the season the market will have sold five and a half or six million pounds and during the next summer we hope to see the American Tobacco Co. erecting a stemmery here. We confidently look for the early establishment here of some of the largest tobacco firms on the continent and with these will come factories and various other branches of industry that the quiet little town of Greenville never thought of nor never dreamed of five years ago.OUR BUYERS.Some of Those Who Have Caie d [Carried] Their Pat [Part] of the Buden [Burden] in ushing [pushing] Greenville Forward.In effecting the sale of a commodity two factors are absolutely necessary, a seller and a buyer, and we know of no commodity that requires any greater number of either in order to obtain the best results than tobacco. In establishing a tobacco market the first thing that is necessary is tobacco, and the next thing somebody to buy it, and one of the most difficult tasks on earth to do is to secure competent and reliable tobacco buyers for a new market, and then the difficult task of getting the sellers convinced that you have got the buyers for their product, that will give them as much at home as they can get elsewhere, commences and continues. These we can today boldly and fearlessly say Greenville has. Men who are reliable, competent judges of tobacco, and gentlemen. Were we to undertake to give a list of all those who have at times been identified as buyers on this market we would not have space to speak a word for those who are today permanently identfied [identified] here.A [At] the opening breaks of the Eastern warehouse on. Sept. 1st, 1892, there were present quite a number of tobacconists from a distance among them Mr. J. N. Gorman, of Richmond. On that day we have been told Mr. J. N. Gorman and R. W. Royster formed a copartnership [co-partnership] for the purpose of conducting a leaf tobacco business on the Greenville market. Nearly every body [everybody] recollects how splendidly Mr. Royster worked for the Greenville market during the first year that he was here. Soon after the opening of the second tobacco year of Mr. Royster's connection with the market the firm of R. W. Royster & Co. dissolved. As has before been stated Joyner & Heilbroner had sold to the firm of R. W. Royster & Co., the prize house now occupied by J. N. Gorman & Co, thus establishing them on the market and after the dissolution of the firm Mr. Royster decided to go to Richmond, Mr. Gorman assuming the responsibilities of the the firm here and in the place of Mr. Royster, Mr. P. H. Gorman was sent to Greenville to represent J. N. Gorman & Co.
</p>
<img src="../../img/E895k20/7GORM001.jpg"><br/><br/>
<p>
PATRICK HENRY GORMAN.As the above cut indicates Mr. Gorman is nothing but a boy now and when he came here to take charge of the business of J. N. Gorman & Co, he had not attained his majority. Though young in years Pat has handled the immense volume of business that has been done here by his firm with alacrity and skill that would have done credit to a much older and experienced man. During the last two years and a half we have been thrown in very intimate contact with him and have found him always active and on the alert in business matters. When first he came to Greenville in the capacity of a tobacco buyer his boyish appearance was not such as to impress one with the great depth of business qualification that he really possessed, but after the business season opened he was not long in making his mark as a shrewd business manager and as close, keen judge of tobacco. The firm of J. N. Gorman & Co., represented here by he subject of this sketch has doubtless been more closely identified with the history of the Greenville tobacco market than other buyers on the market for in its earliest days, long before it was known what the outcome of the market would be, whether a success or a failure, they were here and to show the faith they had in the market bought interests here and have at all times been potent factors in sustaining Greenville, as a tobacco market. We were talking with J. N. Gorman, the senior member a year or so ago and in speaking of the eastern markets he said that in his opinion Greenville would eventually be the leading bright tobacco market in eastern Carolina and by his words and actions he has backed his judgment. Greenville owes much to J. N. Gorman & Co. for the position that it occupies now, the leading strictly bright tobacco market of North Carolina. At the Aug. 1894 meeting of the Greenville Tobacco Board of Trade Mr. P. H Gorman was chosen Vice-President besides being placed on several important committees in which capacity he dispatched business with such efficiency that at the August, 1895 meeting he was unanimously chosen President, and is today the youngest President of a Tobacco Board of Trade in North Carolina.Our neighbor, the Greenville REFLECTOR is doing especially fine work for its town. It is giving a series of articles on the Greenville tobacco market. The articles are well illustrated, and the work shows commendable enterprise in Editor Whichard.-- Scotland [Scotland] Neck Democrat .THE EASTERN WAREHOUSE.This house, that is perhaps the best known in Eastern North Carolina, was the second established in Greenville. It was built in 1892, and was opened on the 1st of September with one of the biggest occasions Greenville has known. The first season it was operated by O. L. Joyner and Alex. Heilbroner, and from the very start the Eastern took the lead of the market which position it has maintained ever since.In the spring of 1893 Mr. Joyner purchased the interest of Mr. Heilbroner in the business, and in the summer of the same year he sold an interest to O. Hooker. Through the two seasons following Mr. Joyner conducted the business of the house alone with Mr. Hooker as a silent partner and under his splendid management the Eastern continued its successful career. Early this year a copertnership [co-partnership] was formed between G. F. Evans, O L. Joyner and O. Hooker, these three making the strongest team the market has ever had. Under this management the Eastern has gone on up the ladder, and so far this season has sold 40 per cent [percent] of the tobacco marketed here.
</p>
<img src="../../img/E895k20/7GFEV001.jpg"><br/><br/>
<p>
G. F. EVANS."Old Alan Guss," as he is familiarly known to everybody, was among the first to become interested in tobacco culture in Pitt county and was the first to engage in the warehouse business in Greenville. From the start he has thrown his entire energy into it with a determination that Greenville should take front rank in the Eastern markets. He is a superior judge of tobacco, possessing splendid business qualities and is a man in whom the people have utmost confidence.O. L. Joyner.We sent a photograph of Olthos along with the others to have a picture made of him, but his red head blinded the artist and he slipped up on it. However, a picture is not needed to tell the people who Olthos Joyner is. There is today not a more widely known man in the tobacco growing counties of the east than he. He has already told how he was induced to throw aside a flattering offer to go west and decide to cast his lot with the tobacco interests of Pitt county. When he came home from college, one's first impression of him was that he was just an ordinary overgrown boy, but a second glance told that there was something in him. The REFLECTOR was not slow to recognize that beneath the surface there was talent as well as push and enterprise, and feeling the very deepest interest in establishing a successful tobacco market here we opened the paper to him: He accepted the invitation and has since been regularly conducting a tobacco department in the REFLECTOR that has all along spoken for itself. It is not said with any spirit of boastfulness, but we honetly [honestly] believe that what he has written through these columns has attracted more attention to the Greenville tobacco market than any other cause. To make a long story short,Olthos Joyner has been almost the life of the market. He has labored in season and out of season for its success, and has spent more money and worked harder in advertising it than any other man.
</p>
<img src="../../img/E895k20/7OSCA001.jpg"><br/><br/>
<p>
OSCAR HOOKER.Some wit once said of a law firm in Greenville that it was composed of three B's--brains, brass, and beauty. By eliminating the word brass and substituting another word beginning with B the tripple [triple] letters are combined very forcibly in Mr. Hooker. That he has the brain of a thorough busines [business] man goes without saying. While he makes no boast of beauty, in that particular he stands well above the average man, and--he's got the "boodle." The combination makes him by no means an undesirable partner. Though his first few year's connection with the tobacco industry was in a silent way, this season he is one of the active workers for the market and can be found at his post in the Eastern every day.
</p>
<img src="../../img/E895k20/7EAST001.jpg"><br/><br/>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"The Tobacco Department: Our Buyers," <em>Eastern Reflector</em> (Greenville, NC), November 20, 1895.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm GvER-1 <a href="http://catalog.lib.ecu.edu/catalog/558892">View Catalog Record</a></td>
  </tr>
</table>
