---
layout: ecu
title:  "The Tobacco Department: The Growth and Development of the Greenville N.C. Tobacco Market"
customdate: "1895 November 13"
order: 13
---

{% include breadcrumbs.html %}

<h3>O. L. Joyner, "The Tobacco Department: The Growth and Development of the Greenville N.C. Tobacco Market", <em>Eastern Reflector</em>, 13 November 1895</h3>
<p>
That the <em>Eastern Reflector</em> asked tobacconist O.L. Joyner to oversee "The Tobacco Department," a regular column, reflects the importance of tobacco to the local economy. On November 13, 1895, the column began "A series of articles on the history of tobacco culture in the eastern counties." The articles that appeared in November and December, 1895, focus on Greenville and Pitt County. Several of them provide detailed information about and photographs of the men who engaged in various tobacco-related activities, incuding "Our Buyers."
</p>
<div class="well">
  <label>Text and Images from News Article</label><br/>

<p>
The Reflector Greenville, N. C. D.J. Witchard, Editor and Proprietor Entered at
the postoffice [post office] at Greenville, N. C., as second-class mail matter.
Wednesday, Nov. 13th, 1895The Tobacco DepartmentConducted by O.L. Joyner,
Proprietor Eastern Tobacco WarehouseGreenvilleA Series of Articles on the History
of Tobacco Culture in the Eastern CountiesTHE GROWTH AND DEVELOPMENT OF THE GREENVILLE
N. C. TOBACCO MARKET.Some Interesting Facts About Greenville Now and Greenville
Five Years Ago. About three hundred years ago that gallant Knight, Sir Walter
Raleigh, discovered the natives of the Islands of the eastern coast of North
Carolina cultivating a plant which they called uppowac or tobacco. We have no
facts to show how or when the white people first began to grow tobacco but we do
know that the legal statutes of the early days of North Carolina and Virginia are
replete with matter pertaining to the regulation and disposition of tobacco at
that very early day in the history of the colonies. We know further from Burke's
history of Virginia that it was in the eastern counties of Virginia and with that
the culture of tobacco was first engaged in by the whites and [the] very strongest
laws had to be enacted by his majesty, the King of England, to prevent the planting
of too much tobacco to the neglect of other crops such as Indian corn, etc. Why
or how it was that the eastern counties came to dispense with tobacco culture the
writer doesn't know, unless it was found that it could be grown to better perfection
further from the coast, at any rate tobacco has not been planted in the eastern
counties of North Carolina as a monetary crop for the last fifty years until a few
years ago. Most of our readers know how tobacco culture was introduced into Pitt
county, but for the purpose of this article it will bear repetition. In 1886 it
was that Mr. L. F. Evans was traveling through Nash county. He noticed that a few
of the farmers up there were planting tobacco and he made some investigations and
found that it was a paying crop. He noticed, too, that the land was very much of
the same nature as was the river upland of the section in which he lived. A number
of the farmers up there had clubbed and employed one J. T. Seat from Granville
county, to superintend their tobacco crop. As Mr. Seat was not needed in that
section another year Mr. Evans talked him in [into] the notion of coming down and
looking at our lands and seeing our people. To cut a long story short the result of
his visit was that he was employed by the following farmers to superintend a tobacco
crop during the year 1886: L. F. Evans, G. F. Evans, A. A. Forbes, T. J. Stancil,
and Jacob Joyner. Mr. Seat came down early and selected plant land and had the beds
sown.
</p>
<img src="../../img/GDTM/71STB001.jpg"><br/><br/>
<p>
  The next thing in order was the building of barns, and the cut on [the] first
  page represents the first tobacco barn that was built east of the Wilmington &amp;
  Weldon Railroad. There were other barns the same year but this was the first one.
  It was built by Mr. Jacob Joyner, in February 1886, and at present belongs to the
  writer. The photograph of this barn was taken during the last cutting season while
  there was tobacco in it in process of curing. As will soon be seen om [on] the cut
  it is a frame structure lathed and plastered and sixteen feet square each way. The
  writer well remembers the day it was finished. While plastering was yet soft, Mr.
  Seat walked to the opposite wall from the door and with his forefinger printed the
  initials of his name J. T. S. 1886, which can be seen there today. This barn is
  fairly well preserved and Mr. J. F. Evans who is a judge of curing tobacco says
  it is the best curing barn on the plantation now. We hope it will last many years yet.
  </p>
<img src="../../img/GDTM/7SITE001.jpg"><br/><br/>
<p>
    The pioneers in tobacco culture all did not find it a very profitable crop the
    first year and while some of them were almost discouraged and out of the notion
    of planting any more, the writer has investigated and found that everyone of
    the original planters has planted some tobacco every year since the first.
    Marketing the crop was another obstacle in the way of successfully handling
    their tobacco. It had to be shipped to Oxford and Henderson to be sold (and
    by the way a good many ship to these same markets now) The second year a few
    other neighboring farmers were enticed to plant a small crop and they met
    with fairly good success. The third year a good many farmers planted small
    crops in different sections and most all of them made good money out of it.
    The fourth year, 1890, there was probably a thousand acres planted in this
    county and nearly everybody made more money out of their tobacco than any
    other crop. It was during the summer and fall of this year that the writer
    was at Lexington, Ky. taking a business course. In September we were offered
    a good position to go West, but seeing so much about Pitt county tobacco in
    the REFLECTOR we decided to come home and engage in the tobacco business.
    The whole county was wild almost on the subject of tobacco culture. Wilson
    was erecting a tobacco warehouse under the management of Capt. E. M. Pace.
    Rocky Mount had a tobacco warehouse but it had about gone down. With the
    opening of the Wilson warehouse an outlet was made for our farmers to get rid
    of their tobacco close to home, so in 1891 three thousand acres of tobacco
    was planted in Pitt county, a number of farmers in Green [Greene] and Lenoir
    went into it, and it was estimated that in 1891 five thousand acres were
    planted in Pitt, Green, and adjoining counties.
    </p>
<img src="../../img/GDTM/79THS001.jpg"><br/><br/>
<p>
      1890 had been a good crop year and nearly every farmer that had planted any
      tobacco in that year increased his crop in '91, besides numbers who had never
      planted any began cultivating it. The '91 crop was not a good one. The heavy
      rains in July caused it to fire on the hill, but at this time the culture of
      tobacco had spread from the little community just above Greenville almost
      all over Eastern Carolina. Farmers had gone to the expense of making
      preparations and one poor crop did not discourage them, while some reduced
      their acreage a great many who had never planted any before planted a few
      acres. It was in this year, 1891, in June that a meeting of the citizens
      who were interested in tobacco was called. At this meeting The Greenville
      Tobacco Warehouse Co., was formed and steps were immediately taken to have
      a tobacco warehouse built. In the meantime Tarboro was pushing ahead with
      two tobacco warehouses, Rocky Mount had already had new life infused into
      its sordid veins and that market too was making a great clamor for prestige.
      Wilson too was making rapid strides in progressiveward. Several new house
      [houses] were built there this year and tobacco men were coming in from every
      quarter to locate in either Wilson, Rocky Mount, or Tarboro and just here
      we want to call the attention of the reader to the condition of the Greenvill
      [Greenville] market. In June 1891 the present site of the Greenville Tobacco
      market is shown in the cut of the old field, nothing but a neglected old pine
      and broom sedge field, that for years, had almost been considered worthless.
      On Sept. the 23rd, 1891 the Greenville warehouse was opened for the sale of
      tobacco. Just a week prior to opening day the writer was sent by Mr. G. F.
      Evans, who had charge of the house, to visit some of the older markets and
      try to get buyers [.] Nearly everyone that we approached said that he had
      an idea of placing a man on the eastern markets but they knew nothing of
      Greenville. Rocky Mount, Tarboro and Wilson seemed to be the only markets
      that were known and very much woried [worried] but not discouraged we came
      back and depended on luck to get someone to buy the tobacco. Nearly everybody
      knows what a time we had the first year. Some of our merchants came on and
      bought for a while. A few young men form Oxford and Henderson came down to
      buy and it was soon reported throughout the county that we were all buying
      tobacco and shipping it to these markets making money on it.The Greenville
      Warehouse.This well known and popular Warehouse was the first to be built in
      Greenville for the sale of leaf tobacco, and the day that marked its advent
      was the beginning of a new era in the prosperity of the town and community.
      In June, 1891, a meeting was held here, a stock company organized and this
      house was the result, its completion being in time to begin the fall business
      of that year.
      </p>
<img src="../../img/GDTM/7LFEV001.jpg"><br/><br/>
<p>
        The first season the house was conducted by G. F. Evans, who took it
        through the experimental stage and showed that a market could be established
        here. The next year he formed a copartnership [co-partnership] with Ola
        Forbes and they run [ran] the house through two seasons following. The fourth
        year he formed a copartnership [co-partnership] with R. H. Hayes and L. F.
        Evans. This season, the fifth since the house was built, it is conducted
        by Evans &amp; Co. the proprietors being L. F. Evans, A. H. Critcher and R. S.
        Evans. The manager of the house is L. F. Evans, who though a young man man
        is [young man is] one of the pioneers in the tobacco industry in Pitt county,
        and is a thorough, substantial business man. He has been identified with
        the industry ever since the market was established, being connected with
        the Greenville warehouse before he became one of its proprietors. He is a
        man in whom the people have confidence, for when Leon tells them he will
        do a thing it is done just as he says.
        </p>
<img src="../../img/GDTM/7AHCR001.jpg"><br/><br/>
<p>
          In conducting the house this season he is ably assisted by A. H. Critcher,
          his brother-in-law, and R. S. Evans, his younger brother. A. H. Critcher,
          is a native of Person county and has been around tobacco all his life. He
          knows ever detail about it from the plant bed to the factory and is as good
          a judge of weed as there is on the market.
          </p>
<img src="../../img/GDTM/7RSEV001.jpg"><br/><br/>
<p>
  R. S. Evans is one of our own boys. Everybody knows Dick and though he is the youngest
  in the flock he is a hustler from the word go. Taken altogether these young men compose
  a strong business team and they richly merit the splendid success with which they
  are meeting.
  </p>
<img src="../../img/GDTM/7WARE001.jpg"><br/><br/>
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Greenville's Progressive Business Men," <em>Eastern Reflector</em> (Greenville, NC), December 12, 1894.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm GvER-1 <a href="http://catalog.lib.ecu.edu/catalog/558892">View Catalog Record</a></td>
  </tr>
</table>
