---
layout: ecu
title:  "Growers of Tobacco"
customdate: "1900 January 18"
order: 19
---

{% include breadcrumbs.html %}

<h3>"Growers of Tobacco", <em>The Morning Post</em>, 18 January 1900</h3>
<p>
J. Bryan Grimes, a prominent farmer from Grimesland, in Pitt County, served around the turn of the twentieth century as president of the North Carolina Tobacco Growers Association. He took a leadership role in calling a meeting held in Raleigh in January, 1900, to organize farmers in fighting the "Tobacco Trust."
</p>
<div class="well">
  <label>Text from News Article</label><br/>

<p>
  GROWERS OF TOBACCO
</p>
<p>
  North Carolina Farmers Combine to Swat the Trusts
</p>
<p>
  AN ENTHUSIASTIC MEETING
</p>
<p>
  Organization Called The Tobacco Growers Association.
</p>
<p>
  FIGHT A DEVIL WITH FIRE
</p>
<p>
  Col. J. Bryan Grimes Elected President and a Permanent OrganizationEffected--The Association Will Buy Its Own Tobacco and Fix Its OwnPrices--Many plans suggested and Many Rejected--Warm Discussions DuringWhich the Speakers Made a Target of the American Tobacco Company.
</p>
<p>
  Over one hundred of North Carolina's leading tobacco growers, representingthe entire tobacco-raising industry of the State, met last night, inMetropolitan Hall and effected a permanent organization for theirprotection against the evils worked by the Tobacco Trust.
</p>
<p>
  The plan of Mr. J. F. Jordan, of Greensboro, which has been given severaltimes in these columns, was adopted, and the farmers of North Carolina havetaken the first step toward independence and prosperity.
</p>
<p>
  The meeting -was largely attended, and very enthusiastic. The detailsfollow
</p>
<p>
  The Preliminary Sessions.
</p>
<p>
  In accordance with the call issued by President .J. Bryan Grimes aboutsixty of the delegates met yesterday morning in the hall of the House ofRepresentatives.
</p>
<p>
  It was entirely an informal meeting and all who were not bona fidedelegates to the convention were asked to retire.
</p>
<p>
  When the delegates assembled, President Grimes arose and announced the factthat the meeting was only preliminary to the night meeting, as only abouthalf of the delegates had arrived. The preliminary meeting, he stated,could arrange some details that would greatly expedite the transaction ofthe regular meeting.
</p>
<p>
  Mr. Grimes stated further that the city authorities had kindly tendered theuse of Metropolitan Hall to the delegates, and he desired the sense of themeeting as to whether the offer should be accepted. After some discussionit was decided to hold the regular meeting in Metropolitan Hall at 7o'clock p. m.
</p>
<p>
  A recess was taken at 1 o'clock for dinner, and at 4 o'clock thepreliminary session was resumed. Outsiders were also excluded from theafternoon session. The main business was the appointment of severalcommittees and a general discussion of matters pertaining to the object ofthe convention.
</p>
<p>
  Meeting in Metropolitan Hall.
</p>
<p>
  At 7 o'clock President Grimes called the meeting to order, stating that ithad been thought best to reduce the object of the meeting to writing. Hethen read the address. It was couched in concise and forcible language. Itdetailed the action of the trust in forcing the farmers to sell at ruinousprices, and the necessity for determined action to protect the farmer. Theaddress stated that co-operation of capital was to be encouraged, but whenthat co-operation began to throttle the producer it was time for theproducer to call a halt.
</p>
<p>
  The references of the president to the dangerous powers of the trusts andnecessity for action were greeted with applause.
</p>
<p>
  At the conclusion of the address the president announced that Messrs. W. M.Sharp and T. V. Parker would act as secretaries, and ordered a roll call ofdelegates. The following delegates responded to their names:
</p>
<p>
  Beaufort-R. W. Wharton.
</p>
<p>
  Caswell--T. L. Lee, W. G. Smith, John King.
</p>
<p>
  Cumberland--J. A. Jainey.
</p>
<p>
  Chatam--J. D. Yates, Thomas Horton, C. L. Williams, A. Stone, B. R.Hargrove.
</p>
<p>
  Stokes--Dr. Elias Fulp, C. A. Glidewell.
</p>
<p>
  Nash--J. B. Philips, R. A. Hunt, G. W. Ward, W. H. Faulkner, J. M.Baird.
</p>
<p>
  Wayne--G. W. Best, D. A. Sasses, J. W. Thompson.
</p>
<p>
  Halifax--D. S. Moss.
</p>
<p>
  Greene--J. E.W. Sugg, B. F. Moore, W. H. Darden.
</p>
<p>
  Warren--G. W. Reams, J. B. Davis, S. I. Pritchard,
</p>
<p>
  Wake--B. Hobgood, C. H. Lee, G. M. Bell, W. B. Upchurch, S. H. Scarboro.
</p>
<p>
  Pitt--R. R. Cotten, J. J. Laughinghouse, U. M. Smith, A. J. Moye.
</p>
<p>
  Person G. G. Moore, J. E. Horns, N. T. Wagstaff, Dr. Merritt.
</p>
<p>
  Guilford--W. H. Case, W. L. Linsy, C. T. Weatherly, N. G. Groome, J. F.Daggett.
</p>
<p>
  Robeson--T. F. Toon, H. F. Purvis.
</p>
<p>
  Wilson--H. F. Freeman, R. S. Wells, A. Green, W. Barnes, F. W. Barnes, J.T. Groves, E. J. Turner.
</p>
<p>
  Granville--G. L. Allen, T. B. Daniel, B. L. Hester, J. F. Cole, L. Knott.
</p>
<p>
  Rockingham--J. P. Wilson, J. Ladd, R. F. Fitzgerald, J. M. Thorps, J. V.Price.
</p>
<p>
  Warren--G. W. Reams, S. J. Pritchard, J. B. Davis, N. M. Jones, J. A.Daughton.
</p>
<p>
  Durham--W. S. Terry, W. T. Mangum, J. T. Rogers, J. W. Lynn, J. A.Colloway.
</p>
<p>
  Orange--M. M. Moore, W. L. McDoon, A. L. Holden, J. M. Monk.
</p>
<p>
  Forsyth--B. C. Marshall.
</p>
<p>
  Lenior--W. L. Kennedy, E. B. Rouse.
</p>
<p>
  Randolph--D. R. Parker, W. L. Baldwin.
</p>
<p>
  Vance--S. G. Satterwhite, J. W. Duke, I. M, Green, W. B. Daniel, A.Frazier, K. W. Edwards, G. B. Hariss.
</p>
<p>
  Franklin--J. K. Spencer, Clyde Harris, Joseph Creedmore, G. W. Ford, C. W.Roberts, Y. Turner.
</p>
<p>
  The following delegates were present from Virginia: T. S. Wilson, Halifaxcounty; John R. Hutchins, Pittsylvania county.
</p>
<p>
  At this juncture President Grimes arose and in a few well chosen wordsthanked the State press on behalf of the convention for the zeal shown byit in aiding the work before the convention, and requested therepresentatives of the press present to act as assistant secretaries.
</p>
<p>
  On motion, Mr. J. B. Philips, chairman of the committee on organization,read the report of that committee. The report was to the effect that, owingto the ruinous effect on prices brought about by the trusts, it had beenthought essential for the farmers of North Carolina to organize for mutualprotection. The organization shall be called the Tobacco Growers'Association of North Carolina.
</p>
<p>
  Plan of Organization.
</p>
<p>
  Whereas, The trust organized to control the leaf-tobacco output of NorthCarolina has reduced the price of leaf tobacco to the bare cost ofproduction: We, the tobacco growers of North Carolina, assembled at Raleighon the 17th day of January, 1900, and organized under the name of TheNorth Carolina Tobacco Growers' Association: The object of saidorganization being to increase the price of leaf tobacco by legitimatecompetition in trade, do
</p>
<p>
  Resolve 1st, That all tobacco growers in North Carolina shall be eligibleto membership in this organization.
</p>
<p>
  Resolved 2d, That the officers of this organization shall be a president, avice-president, secretary, treasurer and an executive committee of onemember from each Judicial District in addition to the president, who shallbe ex-officio member of said committee.
</p>
<p>
  Resolved 3d. That the president of this association shall preside at allmeetings of said association, and also at the meetings of the executivecommittee. It shall be the duty of the vice-president to perform all theduties of president in his absence. The treasurer shall receive all moneybelonging to the said association and pay out the same under such rules andregulations as shall be prescribed by the executive committee. Thesecretary shall keep the minutes of the meetings of said association and ofthe executive committee, and perform such other duties as shall beprescribed by the executive committee. The executive committee shall meetimmediately upon their election and shall establish rules for the guidanceof this body not inconsistent with the plan of organization.
</p>
<p>
  Resolved 4th, That each county in the State be requested to organize countyorganizations and report the same to the State organization herebyestablished. The officers of said county organization shall be a president,vice-president, secretary and treasurer and an executive committee of fivemembers, and such other and further officers as shall appear to them to benecessary to the successful conduct of said organization.
</p>
<p>
  J. B. PHILIPS, <br/>
  For Committee.
</p>
<p>
  The report was adopted and the chair announced the election of officers inorder. Col. J. Bryan Grimes was elected president unanimously amid greatapplause. Colonel Grimes responded to the honor in a brief address ofthanks.
</p>
<p>
  Mr. J. B. Phillips was unanimously elected vice-president and brieflyresponded.
</p>
<p>
  Mr. T. V. Parker and Mr. W. M. Sharp were placed in nomination forsecretary. The roll of counties was called and Mr. Parker declared elected.The election was then made unanimous.
</p>
<p>
  Mr. W. B. Upchurch of Raleigh was unanimously elected treasurer of theassociation.
</p>
<p>
  The report of the committee on program was called for and was read by thesecretary. This report embodied the detail for the regular meetings and itwas adopted.
</p>
<p>
  The report of the committee on plans was then called for. The committeerecommended that the plans of Messrs. J. F. Jordan, E. B. Phillips, T. W.Ragsdale or any other feasible plan be read before the convention, turnedin to the secretary, referred to a committee of seven to be appointed bythe president, which committee, in turn, would consider and report to theconvention. Mr. J. F. Jordan, of Guilford county, was called for by theconvention and took the rostrum.
</p>
<p>
  Mr. Jordan, after a few explanatory words, outlined his plan for combattingsuccessfully the Tobacco Trust. He congratulated the convention upon thelarge gathering of representative tobacco men present and for thedetermined stand the farmers were taking to protect their interests andsave the State from the trusts. Mr. Jordan said he believed thisorganization was the beginning of the end of the trusts; for not only wouldthe American Tobacco Company be broken, but in ten years every trust thatwas strangling the people of North Carolina. He produced and read lettersreceived by him in his capacity as a warehouseman prior to the formation ofthe trust in which he had been ordered to pay thirty and thirty-five centsa pound for tobacco, land then quoted prices paid now, which weresorrowfully less. He contrasted strongly the conditions of the NorthCarolina farmers prior to and since the trust--word pictures which drewforth murmurs of discontent.
</p>
<p>
  Mr. Jordan touched on the religious cloak used by some members of the trustto hide their meanness; giving to the Southern educational institutions asmall portion of the money they had stolen and extorted from the Southerntobacco farmers. He referred to the famous utterance of William J. Bryan:"You cannot press upon the brow of labor a crown of thorns"; and asked ifthe North Carolina farmers were going to put their heads into the crown ofthorns held out by the trust. The reference to Colonel Bryan was receivedwith vociferous applause.
</p>
<p>
  Continuing, the speaker said: "You must either give your tobacco away tothe American Tobacco Company or else quit raising tobacco. Every one ofyou who have bought a plug of tobacco or a bag of tobacco in Raleigh haspaid ten percent more for it than you did ten years ago, and yet youpractically gave away the tobacco that's in that plug or that bag."
</p>
<p>
  Mr. Jordan then began to outline the remedy for the evil worked against thetobacco interests by the trusts. He stated that he had recently attended ameeting of capitalists in New York city, and that he could secure all themoney necessary to carry out the plan. The plan embodies the formation of astock company with twenty-five directors, thirteen of which should befarmers and representatives of the tobacco-growing interests of EastTennessee, North Carolina, South Carolina and Virginia. The shares were tobe placed at $10 each, to be taken by the farmers, who would elect theirown officers, price their own tobacco, and, if the trust wanted the weed,make it pay those prices.
</p>
<p>
  Mr. Jordan then scathingly denounced the methods of the trust and statedseveral instances where the trust had bribed their competitors to desistfrom fighting the trust. In conclusion he said that he had fought the trustsince its inception in 1889, and would continue fighting it, and no offer,no matter of what magnitude, could buy him over. Mr. Jordan's remarks wereconcise and to the point and were greeted with tremendous applause.
</p>
<p>
  Mr. Waller of Alamance was next called to the rostrum and submitted a plan.It differed from Mr. Jordan's plan only slightly. Mr. Waller said hethought the plan suggested was of too great magnitude; he thought that theassociation should only embrace the bright crop of North Carolina, SouthCarolina and Virginia, and mot [not]attempt to handle the whole crop. He stated that there was less competitionon that grade--bright tobacco--and the farmers should demonstrate the factthat they could control that grade and the trust would soon come over.
</p>
<p>
  The speaker was frequently interrupted, and one delegate stated that he didnot want to leave anything for the trust to get hold of. Mr. Waller statedthat he had always heard that the best plan was to fight the devil withfire, but he was afraid the devil understood the power of his own weaponbetter than he did.
</p>
<p>
  Captain Philips' Plan.
</p>
<p>
  Capt. J. B. Philips then read and submitted a plan to the convention.
</p>
<p>
  The plan recommended: First, that the people stop buying goods made by atrust: that the farmers of North Carolina should combine and refuse to buyfrom retailers who traded with a trust for anything, and should ask thefarmers of every other State to join the movement. This movement, theauthor of the plan thought, would eventually break the chains which boundthe people.
</p>
<p>
  Dr. H. F. Freeman of Wilson endorsed Captain Philip's plan. In a stirringspeech he denounced the trust, stating that all the plans so far advancedwere too tender; the tobacco trust had started in to crush the farmer, andhe was in favor of crushing the trust. He would be willing, he said, tosell every leaf of tobacco he raised for the next five years at three centsif the farmers of Wilson county would refuse to sell a single pound to theAmerican Tobacco Company . He favored county organization and aplain challenge to the American Tobacco Company that it could not buy apound of the weed in North Carolina . His remarks were greeted withvigorous applause.
</p>
<p>
  A resolution from the Franklin county delegation was read. The resolutionurged the help of farmers for co-operative factories.
</p>
<p>
  Another resolution was read asking the association to pass a resolutionthanking Mr. Kitchin for his bill to reduce the tax on tobacco. No actionwas taken on this resolution.
</p>
<p>
  A plan proposed by Mr. T. V. Parker was next read. The plan advocated thebuying and storing of farmers' tobacco, prices to be fixed by theassociation, and money to be advanced to the farmers for tobacco thusstored. The plan embodied the salient points of Mr. Jordan's plan.
</p>
<p>
  Mr. R. A. Pitt Cooley of Nash was recognized by the chair and made astirring address in favor of Mr. Jordan's and Mr. Parker's plan. He urgedthe necessity of immediate action and discussion of these plans, andrecommended that when a plan was adopted an interstate committee should beappointed to induce the co-operation of Virginia, South Carolina and EastTennessee.
</p>
<p>
  At this juncture the president named the following committee of seven toconsider the various plans offered and report to the convention: R. H.Ricks, G. W. Ford, W. J. Groome, W. B. Upchurch, E. J. Ragsdale, R. A. P.Cooley and A. L. Holden.
</p>
<p>
  On motion, Mr. R. H. Hutchins, a representative of Virginia, was called tothe rostrum and addressed the convention. Mr. Hutchins stated that he was awareshouseman, but if the farmers of North Carolina thought they could getalong without the middleman he was ready to plant tobacco, if the farmerswould take the proper stand to crush the trust. He stated that he was sentby the farmers of Pittsylvania county to represent them. "If they havetheir plans ready, said those farmers to me, bring them back with you, andthey will find that the farmers of old Virginia will stand by NorthCarolina just as they did in the days of sixty-one." (Cheers and continuedapplause.) The speaker then touched on all the plans offered, and statedthat the only feasible and effective one offered was that of Mr. Jordan. Heendorsed it in its entirety and urged the association to adopt it. Inclosing, he urged the farmers to stay in the hall all night rather thanleave without adopting a plan to better their condition. Mr. Hutchinsclosed his remarks amid great applause.
</p>
<p>
  The committee on plans then retired to an ante-room to deliberate on theplans suggested, and the chair called for the report of the committee onresolutions.
</p>
<p>
  The committee on resolutions offered a resolution to the effect that acommittee be appointed by the convention to memorialize Congress to reducethe tax on manufactured tobacco from 16 to 8 cents. The report was adoptedand the chair ordered to appoint a committee to draft the resolution andsubmit it to Congress. The following committee was appointed: R. R. Cotton,F. W. Barnes, Dr. Freeman, W. L. Kennedy, J. O. Price, C. W. Glidewell andB. E. Marshall.
</p>
<p>
  Another resolution was introduced, to the effect that the associationshould use its influence to have warehouse fees reduced. This resolutionwas referred to the committee.
</p>
<p>
  On motion, the Southern Tobacco Journal was adopted as the organ of theassociation.
</p>
<p>
  Mr. A. J. Moye of Pitt was called to the chair to relieve the president.
</p>
<p>
  While awaiting the return of the committee, Mr. W. J. Peele of the Raleighbar was called upon for a speech. Mr. Peele responded and made a few happyremarks endorsing the action of the farmers in organizing to fight a commonenemy, and advised the association to be slow about accepting any plans; tothink over them well before accepting them. He closed by complimenting theassociation on its choice of a president.
</p>
<p>
  The Committee Reports.
</p>
<p>
  The committee of seven, of which Mr. Ricks was chairman, returned a fewminutes before 1 o'clock and made its report as to a plan by which theassociation could fight the trust and protect its members. The plansubmitted was as follows:
</p>
<p>
  "We, the undersigned committee, respectfully recommend to this associationa contract, in substance, as follows:
</p>
<p>
  We agree to enter into a contract with J. F. Jordan and his associates tosell to them our tobacco raised during the next five years at an advance ofnot less than 15 per cent over the prices paid for the same grade oftobacco during the last five years; the said price to be fixed by acommission, a majority of which shall represent the seller. We furtheragree to take stock with Jordan and said associates, a corporation whichshall be formed for the purpose of manipulating and disposing of saidtobacco sold to said J. F. Jordan and his associates to the extent of notless than 15 per cent of the value of our said tobacco. The details of thisagreement shall be hereafter arranged so as to carry out the true intentand meaning of this agreement. If we make default in this agreement in anyparticular, we agree to forfeit to said corporation the said stock sotaken. And we further recommend for our mutual benefit that the farmers ofNorth Carolina reduce their crop at least 25 percent below the past year'sproduction. We invite the co-operation of Virginia, South Carolina andother sections which grow bright tobacco."
</p>
<p>
  (Signed) R. H. RICKS,
</p>
<p>
  "For Committee."
</p>
<p>
  On motion, action on the report was deferred until 9 o'clock thismorning.
</p>
<p>
  On motion, the chair appointed the following a committee on countyorganization: Dr. Freeman, E. J. Ragsdale, T. V. Parker, W. A. Darden, J.E. W. Suggs, W. J. Peele.
</p>
<p>
  The committee, after some delay, reported a plan of organization bycounties, providing that county conventions should be composed of delegatesfrom each township, one delegate for every ten members, and the countyconventions should be entitled to five delegates at the State convention.Each county should have its own organizer, and the assessment should betwenty-five cents per year per capita.
</p>
<p>
  A motion to reconsider the plan reported by the committee, on which actionwas deferred by a motion earlier in the session, was lost, and a motion toadjourn was carried.
</p>
<p>
  It was 2:15 o'clock when the convention adjourned to meet again thismorning at 9 o'clock.
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>	"Growers of Tobacco," <em>Morning Post</em> (Raleigh, NC), January 18, 1900, J. Bryan Grimes Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>J. Bryan Grimes Papers, #54.14.I <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0054">View Collection Guide</a></td>
  </tr>
</table>
