---
layout: ecu
title:  "Many Delegates Here"
customdate: "1900 January 17"
order: 18
---

{% include breadcrumbs.html %}

<h3>"Many Delegates Here", <em>The Morning Post</em>, 17 January 1900</h3>
<p>
J. Bryan Grimes, a prominent farmer from Grimesland, in Pitt County, served around the turn of the twentieth century as president of the North Carolina Tobacco Growers Association. He took a leadership role in calling a meeting held in Raleigh in January, 1900, to organize farmers in fighting the "Tobacco Trust."
</p>
<div class="well">
  <label>Text from News Article</label><br/>

<p>
MANY DELEGATES HERE
</p>
<p>
Tobacco Growers' Convention Meets Today
</p>
<p>
A PRELIMINARY SESSION To Be Held During the Day and Convention Meets at Night-W. H. Case of Guilford Favors Jordan's Plan to Kill the "Trust"- Says Jordan Has the Money in Sight with Which to Make the Fight.The Tobacco Growers of the State meet today. Many delegates to the convention arrived in the city yesterday, and the convention promises to be largely attended.The president of the North Carolina Tobacco Growers' Association, Mr. J. Bryan Grimes, who issued the call for the convention, arrived in the city yesterday. Mr. Grimes expressed his gratification last night at the large attendance already in the city.A preliminary meeting of the tobocco [tobacco] growers will be held during the day to discuss and formulate plans, and at 7 p. m. the convention of tobacco growers will meet in the hall of the House of Representatives. The preliminary meeting in the morning will be held at 11 a. m., and will be continued in the afternoon. The great question before the tobacco growers seems to be that of organization.Each county is entitled to five delegates at the convention today, and nearly all the tobacco-growing counties have chosen delegates. Among the delegates, to the convention who arrived yesterday are W. L. Kennedy and E. R. Rouse of Lenoir county. John A. Suggs and W. A. Darden of Greene, W. H. Case and James F. Doggett of Guilford, J. M. Sharp of Rockingham. The Guilford and Rockingham delegates said large delegations from those counties would arrive during the day.The tobacco growers of Wayne county have elected the following delegates and it is understood they will be present: G. W. Best, D. A. Sasser, J. A. Stevens, Dr. W. B. Crawford, J. W. Thompson, A. T. Uzzell, M. T. Johnson, and Barnes Aycock.The Wayne county convention adopted a resolution urging every tobacco grower in the county to be present and consider himself a delegate.Mr. W. H. Case of Greensboro, one of the delegates who arrived yesterday, is strongly in favor of Mr. Jordan's plan, which has for its object the destruction of the American Tobacco Company. Mr. Case stated last night that the Guilford delegation was strongly in favor of the Jordan plan submitted at the meeting of the tobacco growers held here December 6 last. Mr. Case said:"Our idea is to adopt a plan to keep the trust from getting our tobacco for nothing. I am heartily in favor of the tobacco growers signing an ironclad contract to pledge themselves against selling their crops to the American Tobacco Company. Mr. Jordan says he has a proposition from capitalists who agree to take all of the tobacco in this State and to pay fifteen percent more, at least, than we are receiving now. He says it will be necessary for ninety percent of the growers to sign this contract. Such a scheme as suggested by Mr. Jordan will grow when we organize. It needs to be undertaken. It is a beginning for further development. The tobacco farmers have reached the bottom and now they hope to get up."Mr. Rouse of Lenoir and Mr. Sharp of Rockingham, who heard Mr. Case, stated that they were not prepared to endorse the plan outlined by him and originated by Mr. Jordan.The plan of Mr. J. F. Jordan of Greensboro is to call county conventions of tobacco growers of North Carolina, Virginia, South Carolina, and East Tennessee. Then perfect a thorough organization through a convention made up of delegates selected by these conventions. Enter into an iron-clad contract, to be rigidly adhered to."This contract must call for the stipulation that not a pound of leaf tobacco shall be sold to the American Tobacco Company, and I will guarantee to raise the six or seven million dollars necessary to handle the crop and agree to pay an advance (15) per cent on the prices now paid by the trust.""The tobacco of every grower shall be averaged and graded on the warehouse floors by two leaf dealers selected by my people and two growers selected by this organization. These shall form a committee to grade the tobacco and price it, and the same price shall be paid to each seller.""Do this for a year and then store the tobacco, after curing and the usual method, away. We may have to keep it a year, or two years, or three years. The trust has enough tobacco to last them a year, but the stock will run out, and we will have all the tobacco. They will be bound to buy it of us, at our price, or else go out of business.""It will be easy to get the $7,000,000 or so annually to buy up the crop if we get together and assure our backers that we have a cinch-a 'trust,' if you please, a leaf tobacco trust."It cost only 80 cents to manufacture 1,000 cigarettes, which the tobacco trust sells for $3.50."The following is the call issued by President J. Bryan Grimes for the convention:"By a resolution of the North Carolina Tobacco Growers' Association, which met in Raleigh, December 6, 1899, all tobacco farmers in North Carolina are asked to assemble at their various county seats on the first Monday in January and organize county associations, and send one or more delegates, not exceeding five from each county, to a convention to be held in Raleigh January 17, 1900, at 7 p.m. Planters in Virginia, South Carolina, and Tennessee are invited to join us, form county associations, and send delegates to this convention."At these county meetings, it is earnestly desired that the tobacco business in all its phases be fully and freely discussed, especially in relation to production, consumption, local cooperative factories, markets, etc.; also ascertaining as accurately as possible the acreage of the county, yield per acre, proportion of crop marketed, class of tobacco raised, prices, etc.""If for any reason counties fail to organize, individual growers from these counties may attend as delegates.""Thorough organization is necessary to improve present conditions."
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Many Delegates Here," <em>Morning Post</em> (Raleigh, NC), January 17, 1900, J. Bryan Grimes Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>J. Bryan Grimes Papers, #54.14.I <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0054">View Collection Guide</a></td>
  </tr>
</table>
